.aside-nav {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 36px 24px;
}

.aside-nav-item {
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #171717;
  fill: #8B96B1;
  text-decoration: none;

  &.active {
    fill: #054EDB;
    color: #054EDB;
  }

  &:hover {
    background-color: #F6F9FF;
  }

  .icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-right: 16px;
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .aside-left {
      margin-right: 20px;
      @media(max-width: 960px) {
        margin-right: 0;
      }
    }
  }
}
