.banner{
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  &:hover{
    .banner-img{
      transform: scale(1.02);
    }
  }

}
.banner-link{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.banner-img{
  object-fit: cover;
  width: 100%;
  max-height: 218px;
  height: 100%;
  transition: 0.3s;
}