.breadcrumb{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #98949E;
  .breadcrumb-link{
    color: inherit;
    text-decoration: none;
    &:after{
      content: '/';
      padding: 0 5px;
      display: inline-block;
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .breadcrumb{
    margin-bottom:15px;
    }
}}