.cart-dropdown {
  padding: 20px 10px 20px 16px;
  background-color: #FFFFFF;
  box-shadow: 0px -10px 38px -4px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  position: absolute;
  bottom: 80px;
  right: 0;
  max-width: 416px;
  width: 100%;
  display: none;
  @media (max-width: 640px) {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    padding-bottom: 188px;
  }

  &.wide {
    display: block;
  }
}

.cart-dropdown-scroll {
  max-height: 50vh;
  overflow: auto;
  @media (max-width: 640px) {
    height: 100%;
    max-height: inherit;
  }
}

.cart-dropdown-item {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  position: relative;
  @media(max-width: 425px) {
    gap: 8px;
  }
}

.cart-dropdown-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.cart-dropdown-new {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px 4px;
  background: #1D9F22;
  border-radius: 5px;
  color: #FFFFFF;
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
}

.cart-dropdown-image {
  width: 136px;
  position: relative;
  min-width: 136px;
  height: 136px;
  border: 1px solid #D4E3FF;
  border-radius: 10px;
  overflow: hidden;
  @media (max-width: 340px) {
    width: 90px;
    height: 90px;
    min-width: 90px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cart-dropdown-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 125%;
  color: #171717;
  margin-bottom: 8px;
}

.cart-dropdown-desc {
  font-weight: normal;
  font-size: 12px;
  line-height: 125%;
  color: #8B96B1;

}

.card-dropdown-price {
  white-space: nowrap;
}

.cart-dropdown-price-new {
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  color: #171717;
  margin-bottom: 4px;
  white-space: nowrap;
  text-align: right;
}

.cart-dropdown-price-old {
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8B96B1;
  margin-bottom: 4px;
  white-space: nowrap;
  text-align: right;

}

.cart-dropdown-price-discount {
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  color: #8B96B1;
  white-space: nowrap;
  text-align: right;
}

.cart-total {
  font-weight: bold;
  font-size: 15px;
  line-height: 125%;
  color: #171717;
  justify-content: space-between;
  padding: 16px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #D4E3FF;
  margin-top: 16px;

  * {
    font-weight: bold;
    font-size: 15px;
    line-height: 125%;
    color: #171717;
  }
}

.cart-dropdown-btn {
  background: #171717;
  border-radius: 16px;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;

  &:hover {
    opacity: 0.8;
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .cart-dropdown-image {
      margin-right: 16px;
      @media(max-width: 425px) {
        margin-right: 8px;
      }
    }
  }
}
