.filter {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 36px 24px;
}

.filter-item {
  margin-bottom: 32px;

  @media(max-width: 425px) {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.show {
    .filter-content {
      display: block;
    }
  }
}

.filter-item[data-name='color_filter'] {

  .grid-filter-label {
    row-gap: 12px;
    column-gap: 16px;

    @media(max-width: 1440px) {
      row-gap: 8px;
      column-gap: 10px;
    }
  }

  .filter-label {
    margin-bottom: 0;
  }
}

.filter-tab {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:after {
    content: '';
    background-image: url(../img/svg/arrowfilledDown.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-left: 4px;
  }
}

.filter-content {
  padding-top: 16px;
  display: none;
}

.table-size {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #054EDB;
  cursor: pointer;
}

.choice-table-size {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.table-size-item {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-right: 16px;
  color: #8B96B1;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;

  &.active {
    color: #054EDB;
  }

  &:last-child {
    border: 0;
  }
}

.grid-filter-label {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.filter-label {
  display: flex;
  cursor: pointer;
  gap: 10px;
  user-select: none;
  align-items: center;
  margin-bottom: 12px;
  @media(max-width: 425px) {
    gap: 10px;
  }
}

.filter-input-checkbox {
  display: none;

  &:checked + .filter-indicator-size {
    border: 1px solid #054EDB;
  }

  &:checked + .filter-indicator-color {
    &:after {
      opacity: 1;
    }
  }

  &:checked + .filter-indicator {
    background-image: url(../img/svg/Checked.svg);
  }
}

.filter-indicator-size {
  padding: 11px 15px;
  background-color: #FFFFFF;
  border: 1px solid #D4E3FF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #171717;
}

.filter-indicator-color {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 1.6px #8b96b1;
    border-radius: 5px;
    opacity: 0;
    transition: .2s;
  }

  &.image-color {
    padding: 0;
    border-radius: 8px;
  }

  padding: 2px;
  border: 1px solid transparent;
  border-radius: 4px;

  span {
    display: flex;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 4px;
  }

  img {
    width: 66px;
    min-width: 66px;
    height: 66px;
    border-radius: 8px;

    @media(max-width: 425px) {
      width: 48px;
      min-width: 48px;
      height: 48px;
    }
  }
}

.filter-indicator {
  width: 20px;
  min-width: 20px;
  background-image: url(../img/svg/Unchecked.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  background-size: 20px;
}

.filter-label-value {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #171717;

}

.brand-search {
  margin-bottom: 20px;
}

.price-inputs {
  display: flex;
  gap: 16px;

  .form-box {
    width: 100%;

    input {
      text-align: center;
      border-radius: 8px;
      height: 36px;
      font-weight: 700;
    }

    .form-box-small-label {
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #98949E;
      margin-bottom: 4px;
    }
  }
}

.product-detail-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  .product-detail-price-item {
    display: flex;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;

    &:after {
      width: 1px;
      min-width: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }

  .product-detail-price-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    color: #8B96B1;
    padding-right: 10px;
  }

  .product-detail-price-value {
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    color: #171717;
  }

  .product-detail-old-price-value {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #8B96B1;
  }

  .product-detail-discount-value {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: #8B96B1;
  }
}

.product-detail-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.product-detail-like {
  width: 44px;
  height: 44px;
  min-width: 44px;
  border: 1px solid #8B96B1;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #171717;
  cursor: pointer;

  &.active, &:hover {
    background-color: #171717;
    fill: #fff;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.product-detail-cart {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  height: 44px;
  background: #171717;
  border-radius: 16px;
  fill: #fff;
  width: 100%;
  cursor: pointer;

  .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .filter-indicator {
      margin-right: 7px;
    }
    .product-detail-like {
      margin-right: 10px;
    }
    .price-inputs .form-box {
      margin-right: 12px;
    }
    .filter {
      margin-right: 25px;
      @media(max-width: 960px) {
        margin-right: 0;
      }
    }
    .product-filter-choiced-item {
      margin-right: 10px;
    }
    .filter-indicator-size {
      margin-right: 10px;
    }
    .filter-indicator-color {
      margin-right: 6px;
    }
    .table-size-item {
      margin-right: 16px;
    }
  }
}

