.footer {
  padding: 24px;
  background: #FFFFFF;
  border-radius: 24px;
  margin: 0 32px 32px 32px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  @media (max-width: 1200px) {
    margin: 0 16px 32px;
  }
  @media (max-width: 960px) {
    margin: 0;
    border-radius: 0;
    padding: 24px 24px 100px;
  }
  @media (max-width: 425px) {
    padding: 20px 0 100px;
  }

  .phone {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
    display: block;
    text-decoration: none;

  }

  .email {
    @extend .phone;

  }

  .copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8B96B1;
    margin-bottom: 12px;
  }

  .sunrise {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #032D80;
    text-decoration: none;
  }
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #171717;
  display: block;
  text-decoration: none;
  margin-bottom: 16px;

  &.active, &:hover {
    color: #DD2C28
  }
}

.footer-social {
  margin-bottom: 32px;
  @media(max-width: 960px) {
    margin-bottom: 0;
  }
}

.footer-col {
  display: flex;
  gap: 40px;
  @media (max-width: 960px) {
    flex-wrap: wrap;
  }
}

.footer-col-item {

  margin: 0 auto;
  @media (max-width: 960px) {
    width: 100%;
    &:nth-child(1) {
      order: 3;
      display: flex;
      flex-direction: column;

      > * {
        order: 2;
      }

      .footer-logo {
        order: 1;
        margin-bottom: 24px;
      }
    }
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
    &:nth-child(4) {
      order: 4;
    }
  }
}

.footer-social {
  gap: 16px;
  display: flex;
  @media (max-width: $ViewMobile) {
    gap: 8px;
  }
}

.footer-social-item {
  width: 28px;
  height: 28px;
  min-width: 28px;
  display: flex;
  text-decoration: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  @media (max-width: $ViewMobile) {
    width: 20px;
    height: 20px;
    min-width: 20px;
  }

  &:hover {
    transform: translateY(-4px);
  }

  .footer {
    padding: 48px 32px;
    background: #FFFFFF;
    border-radius: 24px;
    margin: -80px 32px 32px 32px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (max-width: 1200px) {
      margin: -80px 16px 32px;
      border-radius: 20px;
    }
    @media (max-width: 960px) {
      margin: -80px 16px 122px;
    }
    @media(max-width: 425px) {
      padding: 32px 4px;
      margin: -80px 0 122px;
      border-radius: 0;
    }

    .phone {
      margin-bottom: 32px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #171717;
      display: block;
      text-decoration: none;

      @media(max-width: 425px) {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 20px;
      }

    }

    .email {
      @extend .phone;

    }

    .copyright {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #8B96B1;
      margin-bottom: 12px;
      white-space: nowrap;
      @media(max-width: 1440px) {
        white-space: normal;
      }
      @media(max-width: 425px) {
        margin-bottom: 4px;
        font-size: 13px;
        line-height: 16px;
      }
    }

    .sunrise {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #032D80;
      text-decoration: none;
    }
  }

  .footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #171717;
    display: block;
    text-decoration: none;
    margin-bottom: 16px;

    &.active, &:hover {
      color: #DD2C28
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer-social {
    margin-bottom: 32px;
  }

  .footer-col {
    display: flex;
    gap: 124px;

    @media(max-width: 1440px) {
      gap: 90px;
    }

    @media(max-width: 1200px) {
      gap: 60px;
    }

    @media (max-width: 960px) {
      flex-wrap: wrap;
      column-gap: 60px;
      row-gap: 40px;
      margin-bottom: -32px;
    }

    @media(max-width: 640px) {
      margin-bottom: 0;
    }
  }

  .footer-col-item {
    max-width: 240px;
    @media (max-width: 960px) {
      width: 100%;
      &:nth-child(1) {
        order: 3;
        display: flex;
        flex-direction: column;

        > * {
          order: 2;
        }

        .footer-logo {
          order: 1;
          margin-bottom: 24px;
        }
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
      }
      &:nth-child(4) {
        order: 4;
      }
    }

    @media(max-width: 640px) {
      max-width: 100%;
    }
  }

  .footer-social {
    gap: 16px;
    display: flex;
    @media (max-width: $ViewMobile) {
      margin-bottom: 0;
    }
  }

  .footer-social-item {
    width: 28px;
    height: 28px;
    min-width: 28px;
    display: flex;
    text-decoration: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    @media (max-width: $ViewMobile) {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }

    &:hover {
      transform: translateY(-4px);
    }
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .footer-social-item {
      margin-right: 10px;
    }
    .footer-col-item {
      margin: 0 40px 0 0;

      &:last-child {
        margin: 0;
      }

      @media(max-width: 960px) {
        margin-bottom: 40px;
        &:last-child {
          margin: 0 0 40px;
        }
      }
    }
  }
}
