.page-loaded {
  .header {
    transform: translateY(0);
    opacity: 1;
  }
}

.page .header {
  .container-fluid {
    @media(max-width: 425px) {
      padding: 0 10px;
    }
  }
}

.header {
  padding: 24px 0;
  opacity: 0;
  transform: translateY(-77px);
  transition: 0.8s;
  transition-delay: 0.3s;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media(max-width: 425px) {
    justify-content: space-between;
  }
}

.header-line {
  height: 29px;
  width: 1px;
  background-color: #CDDAF1;
  margin: 0 32px;

  @media(max-width: 960px) {
    margin: 0 20px;
  }

  @media (max-width: $ViewMobile) {
    margin: 0 7px;
    height: 20px;
  }
}

.header-logo {
  display: flex;
  @media(max-width: 425px) {
    justify-content: flex-end;
  }
}

.header-logo-img {
  @media(max-width: 425px) {
    max-width: 60px;
  }
}

.header-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: flex;
  @media (max-width: $ViewMobile) {
    font-size: 11px;
    line-height: 13px;
  }
}

.header-social {
  gap: 16px;
  display: flex;
  @media (max-width: $ViewMobile) {
    gap: 6px;
  }
}

.header-social-item {
  width: 28px;
  height: 28px;
  min-width: 28px;
  display: flex;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  @media (max-width: $ViewMobile) {
    width: 18px;
    height: 18px;
    min-width: 18px;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .header-social {
      div {
        .header-social-item {
          margin-right: 15px;

          @media(max-width: 640px) {
            margin-right: 6px;
          }
        }

        &:last-child {
          .header-social-item {
            margin-right: 0;
          }
        }
      }
    }
  }
}
