.tinkoff-page {
  height: calc(100vh - 77px);
  transform: translateX(0);
  overflow: auto;

  .tinkoff-modal {
    background: #F6F6F6;
    margin: 0 28px;

    .logo-tinkoff {
      margin: 0 0 24px;
    }

    .modal-title {
      margin: 8px 0 24px;
      font-weight: normal;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #171717;
    }

    a {
      text-decoration: none;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
