.page-loaded {
  nav.nav {
    &.animate-nav {
      bottom: 32px;
    }
  }
}

.products {
  min-height: 67vh;
}

nav.nav {
  background: #FFFFFF;
  box-shadow: 0px -10px 38px -4px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  position: sticky;
  bottom: 16px;
  width: calc(100% - 64px);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  transition: 0.4s;
  margin: 0 auto;

  @media (max-width: $ViewDesktop) {
    margin: 0 16px;
    width: calc(100% - 32px);
  }

  @media (max-width: $ViewTablet) {
    display: none;
  }
}

.nav-link {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-right: 5px;
  @media (max-width: $ViewLargeDesktop) {
    gap: 16px;
    margin-right: 5px;
  }
  @media(max-width: $ViewDesktop) {
    gap: 10px;
  }
}

.nav-item:first-child {
  padding-right: 20px;
}

.nav-item.last {
  max-width: 320px;
  width: 100%;

  @media(max-width: 1300px) {
    max-width: 250px;
  }
  @media(max-width: 1130px) {
    max-width: 200px;
  }
  @media(max-width: 1024px) {
    max-width: 180px;
  }
}

.nav-item:first-child, .nav-item:last-child {
  max-width: 320px;
  width: 100%;

  @media(max-width: 1300px) {
    max-width: 250px;
  }
  @media(max-width: 1130px) {
    max-width: 200px;
  }
  @media(max-width: 1024px) {
    max-width: 180px;
  }
}

.nav-link__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $FontColorBlack;
  text-decoration: none;
  transition: 0.3s;
  @media (max-width: $ViewLargeDesktop) {
    font-size: 13px;
  }

  &:hover, &.active {
    color: $FontColorRed;
  }

  &-large {
    font-size: 18px;
    line-height: 22px;
    @media (max-width: $ViewLargeDesktop) {
      font-size: 15px;

    }
  }
}

.nav-link__logo {
  transition: 0.3s;
  display: flex;
  min-width: 50px;
  margin: 0 32px;

  @media(max-width: 1500px) {
    margin: 0 16px;
  }

  @media(max-width: 1300px) {
    margin: 0 8px;
    min-width: 34px;
    max-width: 34px;
  }

  &:hover {
    transform: scale(1.20);
  }
}

.nav-link-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &.nav-link-control__center {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    padding: 16px;
    background-color: #fff;
    box-shadow: 8px 0 33px -13px rgba(0, 0, 0, 0.15);
    border-radius: 16px 16px 0 0;
    gap: 42px;
    z-index: 11;
    position: relative;
    @media(max-width: 960px) {
      padding: 4px 16px;
      justify-content: space-between;
    }
  }
}

.nav-mobile__logo {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-mobile__sibebar {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-control__item {
  text-decoration: none;
  width: 56px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #0C2037;
  cursor: pointer;

  .heart-icon {
    transition: .2s;
    fill: #171717;

    &:hover {
      fill: #DD2C28;
    }
  }

  &.nav-link-control__item-last {
    fill: none;
    stroke: #0C2037;
  }

  @media (max-width: $ViewLargeDesktop) {
    width: 44px;
  }
  position: relative;

  .nav-link-control__item-total {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 22px;
    height: 22px;
    background: #DD2C28;
    border-radius: 41px;
    position: absolute;
    justify-content: center;
    top: 0;
    right: 0;

    &.hide {
      display: none;
    }
  }

  &:hover {
    fill: $FontColorRed;
  }
}

.nav-link-control-line {
  background-color: rgba(230, 232, 236, 0.6);
  height: 24px;
  width: 1px;
  margin: 0 8px;
  @media (max-width: $ViewLargeDesktop) {
    margin: 0 4px;
  }
}

.nav-search {
  position: relative;

  .close-search-mobile {
    display: none;
    @media(max-width: 960px) {
      display: block;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: url("../img/svg/close-search.svg") center no-repeat;
    }
  }

  .search-result {
    position: absolute;
    bottom: 105%;
    left: 0;
    right: 0;
    background: #FFFFFF;
    z-index: 100;
    border: 1px solid #D4E3FF;
    border-radius: 16px;
    display: none;

    .search-result__inner {

      ul {
        margin: 24px 20px;
      }

      .result-block__inner {
        display: flex;
        gap: 20px;
        flex-direction: column;

        a {
          color: #171717;
          text-decoration: none
        }
      }
    }
  }
}

.nav-search__input {
  border: 1px solid #D4E3FF;
  border-radius: 16px;
  width: 100%;
  height: 44px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #171717;
  padding: 0 16px 0 52px;
  box-shadow: none;
  background: transparent;

  &::placeholder {
    color: #8B96B1;
  }

  @media(max-width: 960px) {
    padding: 0 52px;
    height: 36px;
    border-radius: 12px;
  }
}

.nav-search__button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: transparent;
  border: 0;

  svg {
    stroke: #8B96B1;
  }
}

.nav-mobile {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  @media (min-width: 961px) {
    display: none;
  }
}

.dropdown-category {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  display: none;
  padding-bottom: 10px;
  max-width: 1180px;
  width: 100%;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.dropdown-category-grid {
  display: flex;
  width: 100%;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 32px;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.dropdown-category-item {
  width: 186px;
  margin-left: 56px;

  &:first-child {
    margin-left: 0;
  }
}

.dropdown-category-item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 16px;
}

.dropdown-category-item-link {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  display: flex;
  text-decoration: none;

  &.active, &:hover {
    color: #DD2C28;
  }
}

.has-inner-category {
  margin: -20px 0;
  height: 74px;
  display: flex;
  align-items: center;

  &:hover {
    .dropdown-category {
      display: flex;
    }
  }
}

.search-dropdown {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 8px 0 33px -13px rgba(0, 0, 0, 0.15);
  border-radius: 16px 16px 0 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 12;
  height: 76px;
  padding: 8px 10px;
  display: none;
  align-items: center;

  @media(max-width: 960px) {
    height: 52px;
  }

  &.wide {
    display: flex;
  }

  form {
    width: 100%;
    position: relative;
  }

  .search-dropdown-label {
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
    stroke: #171717;
    top: calc(50% - 12px);
  }

  .search-dropdown-input {
    border: 1px solid #D4E3FF;
    border-radius: 12px;
    font-weight: normal;
    font-size: 13px;
    width: 100%;
    padding: 0 38px;
    height: 46px;
  }

  .search-dropdown-close {
    background-image: url(../img/svg/close.svg);
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: calc(50% - 10px);
    right: 16px;
  }

  .search-dropdown-results {
    border-radius: 16px;
    padding: 24px 20px;
    max-height: 244px;
    overflow: auto;
    width: 100%;
    background-color: #fff;
    position: absolute;
    height: 244px;
    bottom: 80px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    .search-dropdown-result-item {
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      margin-bottom: 20px;
      width: 100%;
      text-decoration: none;
      color: #000000;
    }
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .nav-link__item {
      padding: 12px;
    }
  }
}
