.modal.modal-table {
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(10px);
  overflow: auto;
  align-items: baseline;
  display: none;

  &.show {
    display: flex;
  }

  @media(max-width: 768px) {
    backdrop-filter: none;
    background: #FFFFFF;
  }

  .modal-content {
    max-width: 1196px;
    padding: 48px 36px 48px 40px;
    margin: 100px auto;
    border-radius: 20px;
    @media(max-width: 1200px) {
      max-width: calc(100% - 40px);
      margin: 50px 20px;
    }
    @media(max-width: 960px) {
      padding: 32px 24px;
    }
    @media(max-width: 768px) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0;
      max-width: 100%;
      overflow: auto;
      border: none;
      border-radius: 0;
      display: flex;
      flex-direction: column;
    }

    .close-table-size {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #171717;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      margin: 0 0 66px 0;

      @media(max-width: 768px) {
        background: #171717;
        color: #FFFFFF;
        padding: 11px;
        font-size: 14px;
        line-height: 150%;
        font-weight: 500;
        justify-content: center;
        order: 5;
        margin: 54px -24px -32px;
      }

      &:after {
        content: "";
        width: 32px;
        height: 32px;
        min-width: 32px;
        background: url("../img/svg/close-table.svg") center no-repeat;
        margin: 0 0 0 24px;
        @media(max-width: 768px) {
          display: none;
        }
      }
    }

    .title {
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;
      text-align: right;
      text-transform: uppercase;
      color: #000000;
      margin: 0 0 50px;
      @media(max-width: 960px) {
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 28px;
      }
      @media(max-width: 768px) {
        text-align: left;
      }
    }

    .table-wrapper {
      margin: 0 0 50px;
      overflow: hidden;
      background: #FFFFFF;
      @media(max-width: 768px) {
        overflow: initial;
      }
    }

    .table {
      margin: -16px 0;
      @media(max-width: 768px) {
        display: flex;
        justify-content: space-between;
      }

      .row {
        display: flex;
        align-items: center;
        @media(max-width: 768px) {
          flex-direction: column;
          width: 25%;
        }

        .column {
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #171717;
          padding: 21px 8px;
          box-sizing: content-box;
          width: 62px;
          text-align: center;
          @media(max-width: 960px) {
            font-size: 13px;
            line-height: 16px;
          }
          @media(max-width: 768px) {
            width: 50px;
          }

          &.main-column {
            color: #054EDB;
            border-right: 1px solid #CDDAF1;
            padding: 21px 12px 21px 0;
            margin: 0 20px 0 0;
            min-width: 100px;
            box-sizing: border-box;
            text-align: left;
            @media(max-width: 960px) {
              margin: 0 10px 0 0;
              min-width: 80px;
            }
            @media(max-width: 768px) {
              margin: 0;
              min-width: 100%;
              text-align: center;
              padding: 21px 8px;
              border-right: none;
              border-bottom: 1px solid #CDDAF1;
            }
          }
        }
      }
    }

    .header-logo {
      justify-content: flex-end;
      @media(max-width: 768px) {
        justify-content: flex-start;
        .header-logo-img {
          max-width: 109px;
        }
      }
    }
  }
}
