{% load static %}

<header class="header">
    <div class="container-fluid">
        <div class="header-nav">
            <div>
                <a class="header-phone" href="tel: {{ contacts.phone }}">
                    {{ contacts.phone }}
                </a>
            </div>
            <div class="header-line"></div>
            <div class="header-social">
                <div>
                    <a class="header-social-item"
                       href="{{ contacts.instagram }}"
                       style="background-image: url({% static 'img/svg/social/InstagramBlackAround.svg' %})">
                    </a>
                </div>
                <div>
                    <a class="header-social-item" href="{{ contacts.telegram }}"
                       style="background-image: url({% static 'img/svg/social/TelegramBlackAround.svg' %})">
                    </a>
                </div>
                <div>
                    <a class="header-social-item" href="{{ contacts.youtube }}"
                       style="background-image: url({% static 'img/svg/social/YoutubeBlackAround.svg' %})">
                    </a>
                </div>
                <div>
                    <a class="header-social-item" href="{{ contacts.vk }}"
                       style="background-image: url({% static 'img/svg/social/VkBlackAround.svg' %})">
                    </a>
                </div>
                <div>
                    <a class="header-social-item" href="{{ contacts.facebook }}"
                       style="background-image: url({% static 'img/svg/social/FacebookBlackAround.svg' %})">
                    </a>
                </div>

            </div>
            <div class="header-line"></div>
            <div>
                <a class="header-logo" href="/">
                    <img class="header-logo-img"
                         src="{% static 'img/svg/header-logo.svg' %}" alt=""/>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="burger-nav">
    <div class="nav3 nav-wrap level-nav">
        <h3 class="nav-wrap-ttl"></h3>
        <div class="nav-links"></div>
    </div>
    <div class="nav2 nav-wrap level-nav">
        <h3 class="nav-wrap-ttl">Категории</h3>
        <div class="nav-wrap-grid">
            <div class="nav-wrap-link nav2-link">
                <span>Новинки</span>
                <div class="nav-links" style="display: none">
                    {% for category in news_category %}
                        <div>
                            <h4 class="nav-wrap-grid-ttl">{{ category.get_type_category_display }}</h4>
                            <div class="nav-wrap-grid">
                                {% for subcategory in category.subcategories.all %}
                                    <a href="{% url 'subcategory' subcategory.slug %}" class="nav-wrap-link">{{ subcategory.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{% url 'news-product-category' %}" class="category-link">Показать все</a>
            </div>
            <div class="nav-wrap-link nav2-link">
                <span>{{ man_category.get_type_main_category_display }}</span>
                <div class="nav-links" style="display: none">
                    {% for category in man_category.categories.all %}
                        <div>
                            <h4 class="nav-wrap-grid-ttl">{{ category.get_type_category_display }}</h4>
                            <div class="nav-wrap-grid">
                                {% for subcategory in category.subcategories.all %}
                                    <a href="{% url 'subcategory' subcategory.slug %}"
                                       class="nav-wrap-link">{{ subcategory.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ man_category.get_absolute_url }}" class="category-link">Показать все</a>
            </div>
            <div class="nav-wrap-link nav2-link">
                <span>{{ children_category.get_type_main_category_display }}</span>
                <div class="nav-links" style="display: none">
                    {% for category in children_category.categories.all %}
                        <div>
                            <h4 class="nav-wrap-grid-ttl">{{ category.get_type_category_display }}</h4>
                            <div class="nav-wrap-grid">
                                {% for subcategory in category.subcategories.all %}
                                    <a href="{% url 'subcategory' subcategory.slug %}"
                                       class="nav-wrap-link">{{ subcategory.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ children_category.get_absolute_url }}" class="category-link">Показать все</a>
            </div>
            <div class="nav-wrap-link nav2-link">
                <span>{{ woman_category.get_type_main_category_display }}</span>
                <div class="nav-links" style="display: none">
                    {% for category in woman_category.categories.all %}
                        <div>
                            <h4 class="nav-wrap-grid-ttl">{{ category.get_type_category_display }}</h4>
                            <div class="nav-wrap-grid">
                                {% for subcategory in category.subcategories.all %}
                                    <a href="{% url 'subcategory' subcategory.slug %}"
                                       class="nav-wrap-link">{{ subcategory.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ woman_category.get_absolute_url }}" class="category-link">Показать все</a>
            </div>
            <div class="nav-wrap-link nav2-link">
                <span>{{ sale_category.get_type_main_category_display }}</span>
                <div class="nav-links" style="display: none">
                    {% for category in sale_category.categories.all %}
                        <div>
                            <h4 class="nav-wrap-grid-ttl">{{ category.get_type_category_display }}</h4>
                            <div class="nav-wrap-grid">
                                {% for subcategory in category.subcategories.all %}
                                    <a href="{% url 'subcategory' subcategory.slug %}" class="nav-wrap-link">{{ subcategory.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ sale_category.get_absolute_url }}" class="category-link">Показать все</a>
            </div>
            <a class="nav-wrap-link" href="{% url 'command-list' %}">Команды</a>
        </div>
    </div>
    <div class="nav1 level-nav">
        <div class="nav1-grid">
            <div class="nav1-item categories">Категории</div>
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="nav1-item profile">Профиль</a>
                    <a href="{% url 'news' %}" class="nav1-item news">Новости</a>
                    <a href="{% url 'special-offers' %}" class="nav1-item offer">Спец. предложения</a>
                    <a href="{% url 'order-history' %}" class="nav1-item history">История заказов</a>
                    <a href="{% url 'logout' %}" class="nav1-item log-in">Выход</a>
                {% else %}
                    <a href="{% url 'registration' %}" class="nav1-item profile">Профиль</a>
                    <a href="{% url 'news' %}" class="nav1-item news">Новости</a>
                    <a href="{% url 'registration' %}" class="nav1-item offer">Спец. предложения</a>
                    <a href="{% url 'registration' %}" class="nav1-item history">История заказов</a>
                    <a href="{% url 'login' %}" class="nav1-item log-in">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
