{% load static %}
<nav class="nav">
    <div class="nav-item">
        <form class="nav-form" action="{% url 'search-result' %}" method="get"
              name="value" value="{{ request.GET.value }}">
            {% csrf_token %}
            <div class="nav-search">
                <input class="nav-search__input" autocomplete="off" type="text"
                       data-url="{% url 'search' %}" name="value"
                       placeholder="Поиск"/>
                <button class="nav-search__button" type="submit">
                    <svg class="icon">
                        <use xlink:href="#akar-icons_search"></use>
                    </svg>
                </button>
                <div class="search-result">
                    <div class="search-result__inner ">
                        <ul class="cart-dropdown-scroll">
                            {% include 'components/ajax-search-result.html' %}
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="nav-item">
        <div class="nav-link">
            <div class="has-inner-category">
                <a class="nav-link__item nav-link__item-large
                    {% url 'news-product-category' as news_products %}
                    {% if request.path == news_products %}
                        active
                    {% endif %}
                    " href="{{ news_products }}">
                    Новинки
                </a>
                <div class="dropdown-category">
                    <div class="dropdown-category-grid">
                        {% for category in news_category %}
                            <div class="dropdown-category-item">
                                <div class="dropdown-category-item-title">
                                    {{ category.get_type_category_display }}
                                </div>
                                {% for subcategory in category.subcategories.all %}
                                    <div>
                                        <a class="dropdown-category-item-link"
                                           href="{% url 'subcategory' subcategory.slug %}">
                                            {{ subcategory.title }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <a class="nav-link__item nav-link__item-large
                {% url 'command-list' as command_list %}
                    {% if request.path == command_list %}
                        active
                    {% endif %}
                    " href="{{ command_list }}">
                    Команды
                </a>
            </div>
            <div class="has-inner-category">
                <a class="nav-link__item nav-link__item-large
                     {% if request.path == man_category.get_absolute_url %}
                        active
                    {% endif %}
                    " href="{{ man_category.get_absolute_url }}">
                    {{ man_category.get_type_main_category_display }}
                </a>
                <div class="dropdown-category">
                    <div class="dropdown-category-grid">
                        {% for category in man_category.categories.all %}
                            <div class="dropdown-category-item">
                                <div class="dropdown-category-item-title">
                                    {{ category.get_type_category_display }}
                                </div>
                                {% for subcategory in category.subcategories.all %}
                                    <div>
                                        <a class="dropdown-category-item-link"
                                           href="{% url 'subcategory' subcategory.slug %}">
                                            {{ subcategory.title }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <a class="nav-link__logo" href="/">
                    <img src="{% static 'img/logo.svg' %}" alt=""/>
                </a>
            </div>
            <div class="has-inner-category">
                <a class="nav-link__item nav-link__item-large
                    {% if request.path == woman_category.get_absolute_url %}
                        active
                    {% endif %}
                    " href="{{ woman_category.get_absolute_url }}">
                    {{ woman_category.get_type_main_category_display }}
                </a>
                <div class="dropdown-category">
                    <div class="dropdown-category-grid">
                        {% for category in woman_category.categories.all %}
                            <div class="dropdown-category-item">
                                <div class="dropdown-category-item-title">
                                    {{ category.get_type_category_display }}
                                </div>
                                {% for subcategory in category.subcategories.all %}
                                    <div>
                                        <a class="dropdown-category-item-link"
                                           href="{% url 'subcategory' subcategory.slug %}">
                                            {{ subcategory.title }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="has-inner-category">
                <a class="nav-link__item nav-link__item-large
                    {% if request.path == children_category.get_absolute_url %}
                        active
                    {% endif %}
                    " href="{{ children_category.get_absolute_url }}">
                    {{ children_category.get_type_main_category_display }}
                </a>
                <div class="dropdown-category">
                    <div class="dropdown-category-grid">
                        {% for category in children_category.categories.all %}
                            <div class="dropdown-category-item">
                                <div class="dropdown-category-item-title">
                                    {{ category.get_type_category_display }}
                                </div>
                                {% for subcategory in category.subcategories.all %}
                                    <div>
                                        <a class="dropdown-category-item-link"
                                           href="{% url 'subcategory' subcategory.slug %}">
                                            {{ subcategory.title }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="has-inner-category">
                <a class="nav-link__item nav-link__item-large
                    {% if request.path == sale_category.get_absolute_url %}
                        active
                    {% endif %}
                    " href="{{ sale_category.get_absolute_url }}">
                    {{ sale_category.get_type_main_category_display }}
                </a>
                <div class="dropdown-category">
                    <div class="dropdown-category-grid">
                        {% for category in sale_category.categories.all %}
                            <div class="dropdown-category-item">
                                <div class="dropdown-category-item-title">
                                    {{ category.get_type_category_display }}
                                </div>
                                {% for subcategory in category.subcategories.all %}
                                    <div>
                                        <a class="dropdown-category-item-link"
                                           href="{% url 'subcategory' subcategory.slug %}">
                                            {{ subcategory.title }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item last">
        <div class="nav-link-control">
            {% if user.is_authenticated %}
                <a class="nav-link-control__item" href="{% url 'favorite' %}">
                    <svg class="icon heart-icon">
                        <use xlink:href="#ant-design_heart-filled2"></use>
                    </svg>
                </a>
                <div class="nav-link-control-line"></div>
            {% endif %}
            <div class="nav-link-control__item nav-link-control__item-cart btn-toggle active">
                <svg class="icon">
                    <use xlink:href="#shopping-cart"></use>
                </svg>
                <div class="nav-link-control__item-total
                    {% if price.count_product <= 0 %}
                    hide
                {% endif %}">
                    {{ price.count_product }}
                </div>
            </div>
            <div class="nav-link-control-line"></div>
            {% if not user.is_authenticated %}
                <a class="nav-link-control__item" href="{% url 'login' %}">
                    <svg class="icon">
                        <use xlink:href="#log-in"></use>
                    </svg>
                </a>
            {% else %}
                <a class="nav-link-control__item btn-toggle-user">
                    <svg class="icon">
                        <use xlink:href="#user-icon2"></use>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="cart-dropdown wrapper-toggle-user">
        <div class="aside-nav" style="padding: 0">
            {% include 'components/navigation.html' %}
        </div>
    </div>
    <div class="cart-dropdown wrapper-toggle">
        <div class="cart-dropdown-scroll">
            {% include 'components/product-nav-cart.html' %}
        </div>
        <div class="cart-total">
            <div class="cart-total-left">Итог:</div>
            <div class="cart-total-right">{{ price.price_with_discount }} ₽
            </div>
        </div>
        <a class="cart-dropdown-btn" href="{% url 'cart' %}">Перейти в
            корзину</a>
    </div>
</nav>
<nav class="nav-mobile">
    <div class="nav-link-control nav-link-control__center">
        <div class="nav-mobile__sibebar">
            <svg class="icon">
                <use xlink:href="#menu"></use>
            </svg>
        </div>
        {% if user.is_authenticated %}
            <a class="nav-link-control__item" href="{% url 'favorite' %}">
                <svg class="icon">
                    <use xlink:href="#ant-design_heart-filled2"></use>
                </svg>
            </a>
        {% else %}
            <a class="nav-link-control__item" href="{% url 'registration' %}">
                <svg class="icon">
                    <use xlink:href="#ant-design_heart-filled2"></use>
                </svg>
            </a>
        {% endif %}
        <a class="nav-mobile__logo" href="{% url 'index' %}">
            <img src="{% static 'img/logo.svg' %}" alt="" width="24"/>
        </a>
        <div class="nav-link-control__item nav-link-control__item-cart btn-toggle active">
            <svg class="icon">
                <use xlink:href="#shopping-cart"></use>
            </svg>
        <div class="nav-link-control__item-total
            {% if price.count_product <= 0 %}
                hide
            {% endif %}">
            {{ price.count_product }}
        </div>
        </div>
        <div class="nav-link-control__item btn-toggle-search nav-link-control__item-last">
            <svg class="icon">
                <use xlink:href="#akar-icons_search"></use>
            </svg>
        </div>
    </div>

    <div class="cart-dropdown wrapper-toggle-user">
        <div class="aside-nav" style="padding: 0">
            {% if user.is_authenticated %}
                <a class="aside-nav-item
                {% url 'profile' as profile %}
                {% if request.path == profile %}
                    active
                {% endif %}
                " href="{{ profile }}">
                    <svg class="icon">
                        <use xlink:href="#user-icon"></use>
                    </svg>
                    <div>Профиль</div>
                </a>
            {% else %}
                <a class="aside-nav-item" href="{% url 'registration' %}">
                    <svg class="icon">
                        <use xlink:href="#user-icon"></use>
                    </svg>
                    <div>Профиль</div>
                </a>
            {% endif %}
            <a class="aside-nav-item
                {% url 'news' as news %}
                {% if request.path == news %}
                    active
                {% endif %}
                " href="{{ news }}">
                <svg class="icon">
                    <use xlink:href="#news-icon"></use>
                </svg>
                <div>Новости</div>
            </a>
            {% if user.is_authenticated %}
                <a class="aside-nav-item
                    {% url 'favorite' as favorite %}
                    {% if request.path == favorite %}
                        active
                    {% endif %}
                    " href="{{ favorite }}">
                    <svg class="icon">
                        <use xlink:href="#favorite-icon"></use>
                    </svg>
                    <div>Избранное</div>
                </a>
            {% else %}
                <a class="aside-nav-item"
                   href="{% url 'registration' %}">
                    <svg class="icon">
                        <use xlink:href="#favorite-icon"></use>
                    </svg>
                    <div>Избранное</div>
                </a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="aside-nav-item
                    {% url 'special-offers' as special_offers %}
                    {% if request.path == special_offers %}
                        active
                    {% endif %}
                     " href="{{ special_offers }}">
                    <svg class="icon">
                        <use xlink:href="#hot-icon"></use>
                    </svg>
                    <div>Спец. предложения</div>
                </a>
            {% else %}
                <a class="aside-nav-item" href="{% url 'registration' %}">
                    <svg class="icon">
                        <use xlink:href="#hot-icon"></use>
                    </svg>
                    <div>Спец. предложения</div>
                </a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="aside-nav-item
                    {% url 'order-history' as order_history %}
                    {% if request.path == order_history %}
                        active
                    {% endif %}"
                   href="{{ order_history }}">
                    <svg class="icon">
                        <use xlink:href="#history-icon"></use>
                    </svg>
                    <div>История заказов</div>
                </a>
            {% else %}
                <a class="aside-nav-item" href="{% url 'registration' %}">
                    <svg class="icon">
                        <use xlink:href="#history-icon"></use>
                    </svg>
                    <div>История заказов</div>
                </a>
            {% endif %}
            <a class="aside-nav-item
                {% url 'help' as help %}
                {% if request.path == help %}
                    active
                {% endif %}
                " href="{{ help }}">
                <svg class="icon">
                    <use xlink:href="#help-icon"></use>
                </svg>
                <div>Помощь</div>
            </a></div>
    </div>
    <div class="cart-dropdown wrapper-toggle">
        <div class="cart-dropdown-scroll">
            {% if user.is_authenticated or user_cookie %}
                {% for product in get_products_cart %}
                    <div class="cart-dropdown-item"
                         data-product-id="{{ product.id }}">
                        <a class="cart-dropdown-link"
                           href="{{ product.product.get_absolute_url }}"></a>
                        <div class="cart-dropdown-image">
                            {% if product.product.is_new %}
                                <div class="cart-dropdown-new">NEW</div>
                            {% endif %}
                            {% for image in product.color.product_color_images.all %}
                                {% if forloop.first %}
                                    <img src="{{ image.image.url }}"/>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cart-dropdown-info">
                            <div class="cart-dropdown-title">{{ product.product.title }}</div>
                            <div class="cart-dropdown-desc">
                                <div class="name">Размер:</div>
                                <div class="value">{{ product.size.size.eu_size }}</div>
                            </div>
                            <div class="cart-dropdown-desc">
                                <div class="name">Количество:</div>
                                <div class="value">{{ product.quantity }}</div>
                            </div>
                            <div class="cart-dropdown-desc">
                                <div class="name">Цвет:</div>
                                <div class="value">{{ product.color }}</div>
                            </div>
                        </div>
                        <div class="cart-dropdown-price">
                            {% if product.product.discount == 0 %}
                                <div class="cart-dropdown-price-new">{{ product.product.get_discount_sum }}
                                    ₽
                                </div>
                            {% else %}
                                <div class="cart-dropdown-price-new">{{ product.product.get_discount_sum }}
                                    ₽
                                </div>
                                <div class="cart-dropdown-price-old">
                                    {{ product.product.price }} ₽
                                </div>
                                <div class="cart-dropdown-price-discount">{{ product.product.discount }}
                                    %
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for product, color, size, count in get_products_cart %}
                    <div class="cart-dropdown-item">
                        <a class="cart-dropdown-link"
                           href="{{ product.get_absolute_url }}"></a>
                        <div class="cart-dropdown-image">
                            {% if product.is_new %}
                                <div class="cart-dropdown-new">NEW</div>
                            {% endif %}
                            {% for image in color.product_color_images.all %}
                                {% if forloop.first %}
                                    <img src="{{ image.image.url }}"/>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cart-dropdown-info">
                            <div class="cart-dropdown-title">{{ product.title }}</div>
                            <div class="cart-dropdown-desc">
                                <div class="name">Размер:</div>
                                <div class="value">{{ size.size.eu_size }}</div>
                            </div>
                            <div class="cart-dropdown-desc">
                                <div class="name">Количество:</div>
                                <div class="value">{{ count }}</div>
                            </div>
                            <div class="cart-dropdown-desc">
                                <div class="name">Цвет:</div>
                                <div class="value">{{ color.color.name }}</div>
                            </div>
                        </div>
                        <div class="cart-dropdown-price">
                            {% if product.discount == 0 %}
                                <div class="cart-dropdown-price-new">{{ product.get_discount_sum }}
                                    ₽
                                </div>
                            {% else %}
                                <div class="cart-dropdown-price-new">{{ product.get_discount_sum }}
                                    ₽
                                </div>
                                <div class="cart-dropdown-price-old">
                                    {{ product.price }} ₽
                                </div>
                                <div class="cart-dropdown-price-discount">{{ product.discount }}
                                    %
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="cart-total">
            <div class="cart-total-left">Итог:</div>
            <div class="cart-total-right">{{ price.price_with_discount }} ₽
            </div>
        </div>
        <a class="cart-dropdown-btn" href="{% url 'cart' %}">Перейти в
            корзину</a>
    </div>
    <div class="search-dropdown">
        <form class="nav-form" action="{% url 'search-result' %}" method="get"
              name="value" value="{{ request.GET.value }}">
            {% csrf_token %}
            <div class="nav-search">
                <div class="close-search-mobile"></div>
                <input class="nav-search__input" autocomplete="off" type="text"
                       data-url="{% url 'search' %}" name="value"
                       placeholder="Поиск"/>
                <button class="nav-search__button" type="submit">
                    <svg class="icon">
                        <use xlink:href="#akar-icons_search"></use>
                    </svg>
                </button>
                <div class="search-result">
                    <div class="search-result__inner">
                        <ul class="cart-dropdown-scroll">
                            {% include 'components/ajax-search-result.html' %}
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>
