* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background-color: $SiteBg;
}

main.page {
  display: block;
  padding-bottom: 20px;

  @media(max-width: 960px) {
    padding-bottom: 0;
  }
}


.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  @media (max-width: $ViewDesktop) {
    max-width: 100%;
    padding: 0 16px;
  }
  @media (max-width: $ViewTablet) {
    max-width: 100%;
    padding: 0 16px;
  }
  @media (max-width: $ViewMobile) {
    max-width: 100%;
    padding: 0 16px;
  }
}

.sprite-svg {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.mCSB_scrollTools {
  opacity: 1;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #EAEEF4;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #BED1F5 !important;
}


.aside {
  gap: 24px;
  display: flex;
  margin: 0 0 20px;
  @media (max-width: 960px) {
    flex-wrap: wrap;
  }
}

.aside-left {
  width: 336px;
  min-width: 336px;
  @media (max-width: 1540px) {
    width: 250px;
    min-width: 250px;
  }
  @media (max-width: 960px) {
    width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 100;
    display: none;
  }

  &.show {
    @media (max-width: 960px) {
      display: block;
    }
  }

  .close-filter-mobile {
    display: none;
    @media(max-width: 960px) {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #FFFFFF;
      background: #171717;
      padding: 11px;
    }
  }

}

.filter {
  @media (max-width: 960px) {
    min-height: calc(100vh - 44px);
    padding: 74px 24px !important;
  }
}

.aside-right {
  width: 100%;
}
