// Radius
$Radius-5: 4px;
$Radius-6: 6px;
$Radius-16: 16px;

// Color & Background
$GrayLight: #CDDAF1;
$Gray: #8B96B1;
$Black: #171717;
$White: #ffffff;

$ColorPlaceholderForm: $Gray;
$ColorBorderForm: $GrayLight;
$ColorForm: #000;

$DefaultBgButton: #eee;
$DefaultColorButton: #000;

$DangerBgButton: red;
$DangerColorButton: white;


$FontColorBlack: #171717;
$FontColorRed: #DD2C28;



$SiteBg: #F6F6F6;
// Shadow

// Margin


// Fonts
$font-1: 'Montserrat' ,serif;


// View
$ViewMobile: 640px;
$ViewTablet: 960px;
$ViewDesktop: 1200px;
$ViewLargeDesktop: 1500px;

// Background Images
$Image-1: url('../img/svg/icon/akar-icons_search.svg');
