{% extends 'base.html' %}
{% load static %}
{% block title_page %}О нас{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
<main class="about-us__page">
    <div class="ck-editor-wrapper">
        <div class="ck-editor-inner">
            <section class="contractor-intro about-us-intro"
                     {% if about_us.image_background %}
                     style="background-image: url({{ about_us.image_background.url }})">
                {% endif %}
                <div class="intro-grid">
                    <img class="intro-logo" src="{% static 'img/svg/about-us.svg' %}"/>
                    <img class="intro-logo-mobile" src="{% static 'img/svg/about-us-white.svg' %}"/>
                </div>
            </section>
            <section class="advantage">
                <div class="advantage-top">
                    {% if about_us %}
                    <h2 class="advantage-top-ttl advantage-ttl">{{ about_us.title }}</h2>
                    <p class="advantage-text">{{ about_us.description }}</p>
                    {% endif %}
                </div>
                {% include 'components/our-advantages.html' %}
            </section>
        </div>
    </div>
    {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
</main>

{% endblock %}
