{% extends 'base.html' %}
{% load static %}
{% block title_page %}Стать подрядчиком ON THE PLACE{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="about-us__page">
        <div class="ck-editor-wrapper">
            <div class="contractor-inner ck-editor-inner">
                <section class="contractor-intro"
                         style="background-image: url({{ become_contractor.image_background.url }})">
                    <h1 class="contractor-ttl">{{ become_contractor.title_in_paid }}</h1>
                    <div class="submit-app">Оставить заявку</div>
                </section>
                <section class="advantage">
                    <div class="advantage-top">
                        <h2 class="advantage-top-ttl advantage-ttl">{{ become_contractor.title }}</h2>
                        <p class="advantage-text">{{ become_contractor.description }}</p>
                    </div>
                    {% include 'components/our-advantages.html' %}
                </section>
                <section class="suggestion"
                         style="background-image: url({{ become_contractor.image_background_footer.url }})">
                    <div class="suggestion-inner">
                        <h2 class="suggestion-ttl">{{ become_contractor.title_in_paid_footer }}</h2>
                        <div class="suggestion-btn submit-app">Оставить заявку
                        </div>
                    </div>
                </section>
                <div class="contractor-modal-wrap">
                    <div class="contractor-modal">
                        <h3 class="contr-modal-ttl">Оставить заявку</h3>
                        <form method="post" class="contr-fields" action="">
                            {% csrf_token %}
                            <input class="contr-input"
                                   placeholder="Наименование компании*"
                                   required="required" type="text"
                                   name="name_company"/>
                            <input class="contr-input" placeholder="Имя*"
                                   required="required" type="text" name="name"/>
                            <input class="contr-input" placeholder="Фамилия"
                                   type="text" name="surname"/>
                            <input class="contr-input" placeholder="e-mail *"
                                   required="required" type="email"
                                   name="email"/>
                            <textarea class="contr-input textarea-field"
                                      placeholder="Ваше обращение"
                                      name="comment"></textarea>
                            <button class="contr-btn contr-btn-submit"
                                    style="pointer-events: auto;"
                                    type="submit">Отправить
                            </button>
                            <button class="contr-btn close">Закрыть</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}
            {% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/modal-settings.js' %}"></script>
{% endblock %}
