{% extends 'base.html' %}
{% load static %}
{% block title_page %}Корзина{% endblock %}
{% block page_class %}cart-page{% endblock %}

{% block content %}
    <main class="page">
        <form action="{% url 'order' %}" id="order" method="post">
            {% csrf_token %}
            <div class="cart">
                <div class="cart-left">
                    <div class="cart-left-box">
                        <div class="cart-title">Корзина</div>
                        <div class="breadcrumb">
                            <a class="breadcrumb-link" href="{% url 'index' %}">Главная</a>
                            <span class="breadcrumb-active">Корзина</span>
                        </div>
                        {% include 'components/products_cart.html' %}
                        <input type="hidden" name="product_id" value="1">
                        <div class="form-error-msg"
                             style="margin-bottom: 10px;"></div>
                    </div>
                    <div class="order">
                        <div class="order-left">
                            <div class="order-grid">
                                <div class="order-grid-left">
                                    <div class="order-grid-title">
                                        Оформление заказа
                                    </div>
                                    <div class="order-grid-id-order">Номер
                                        заказа:<span>562 4484</span></div>
                                </div>
                                <div class="order-grid-right">
                                    <div class="form-box">
                                        <input class="form-input" type="text"
                                               placeholder=" " name="name"
                                               required="required"/>
                                        <span class="form-label-text">Имя *</span>
                                        <div class="form-error-msg"></div>
                                    </div>
                                    <div class="form-box">
                                        <input class="form-input" type="text"
                                               placeholder=" " name="last_name"
                                               required="required"/>
                                        <span class="form-label-text">Фамилия *</span>
                                        <div class="form-error-msg"></div>
                                    </div>
                                    <div class="form-box">
                                        <input class="form-input" type="text"
                                               placeholder=" "
                                               name="second_name"/>
                                        <span class="form-label-text">Отчество</span>
                                        <div class="form-error-msg"></div>
                                    </div>
                                    <div class="form-box city-search">
                                        <label>
                                            <input class="form-input"
                                                   type="hidden" name="address">
                                        </label>
                                        <img class="loader-img"
                                             src="{% static 'img/loader.gif' %}"
                                             alt="load img">
                                        <input class="form-input cart-region"
                                               type="text"
                                               name="address"
                                               data-url="{% url 'country-region' %}"
                                               placeholder=" "
                                               required="required"/>
                                        <span class="form-label-text">
                                              Населенный пункт *
                                        </span>
                                        <div class="form-error-msg"></div>
                                        <div class="city-dropdown">
                                            <div class="city-dropdown__inner">
                                                <ul class="mCustomScrollbar">
                                                    <li>Нужно больше символов</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-box">
                                        <input class="form-input" type="text"
                                               placeholder=" " name="email"
                                               required="required"/>
                                        <span class="form-label-text">e-mail *</span>
                                        <div class="form-error-msg"></div>
                                    </div>
                                    <div class="form-box">
                                        <textarea class="form-textarea" rows="6"
                                                  placeholder=" " name="text"
                                        ></textarea>
                                        <span class="form-label-text">Комментарий</span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-left-line"></div>
                            <div class="order-grid">
                                <div class="order-grid-left">
                                    <div class="order-grid-title">
                                        Способ доставки
                                    </div>
                                </div>
                                <div class="order-grid-right" id="type-payment">
                                    <label class="order-radio">
                                        <input class="order-radio-input"
                                               type="radio" name="type_delivery"
                                               checked
                                               value="pickup" id="val1"/>
                                        <div class="order-radio-indicator"></div>
                                        <div class="order-radio-value">
                                            Самовывоз
                                        </div>
                                    </label>
                                    <div class="order-tab-1 pick-up-point__dropdown"
                                         style="display: block">
                                        <div class="form-select-title">
                                            Выберите пункт выдачи заказов
                                        </div>
                                        <select class="form-select pick-up-point"
                                                name="address_delivery">
                                            {% for pick_up_points in pick_up_points_list %}
                                                <option value="{{ pick_up_points }}">{{ pick_up_points.address }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="delivery-info__wrapper">
                                            {% for pick_up_points in pick_up_points_list %}
                                                <div class="delivery-info"
                                                     style="display: none">
                                                    <div class="delivery-info-item">
                                                        <div class="delivery-info-item-subtitle">
                                                            Адрес:
                                                        </div>
                                                        <div class="delivery-info-item-title">
                                                            {{ pick_up_points.address }}
                                                        </div>
                                                    </div>
                                                    <div class="delivery-info-item">
                                                        <div class="delivery-info-item-subtitle">
                                                            Режим работы:
                                                        </div>
                                                        <div class="delivery-info-item-title">
                                                            c {{ pick_up_points.from_time }}
                                                            до {{ pick_up_points.to_time }}
                                                        </div>
                                                    </div>
                                                    <div class="delivery-info-item">
                                                        <div class="delivery-info-item-subtitle">
                                                            Телефон
                                                        </div>
                                                        <div class="delivery-info-item-title">
                                                            {{ pick_up_points.phone }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <label class="order-radio">
                                        <input class="order-radio-input"
                                               type="radio" name="type_delivery"
                                               value="express_delivery"
                                               id="val2"/>
                                        <div class="order-radio-indicator"></div>
                                        <div class="order-radio-value">
                                            Бесконтактная курьерская доставка
                                        </div>
                                    </label>
                                    <div class="order-tab-2">
                                        <div class="form-box">
                                            <input class="form-input cart-street"
                                                   type="text" placeholder=" ">
                                            <span class="form-label-text">Улица *</span>
                                        </div>
                                        <div class="form-col">
                                            <div class="form-box">
                                                <input class="form-input cart-home"
                                                       type="text"
                                                       placeholder=" ">
                                                <span class="form-label-text">Дом *</span>
                                            </div>
                                            <div class="form-box">
                                                <input placeholder=" "
                                                       class="form-input cart-apartment"
                                                       type="text">
                                                <span class="form-label-text">Квартира</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-tab-2 order-t36 order-date-delivery__ajax"
                                 data-url="{% url 'delivery-time' %}">
                                <div class="order-grid">
                                    <div class="order-grid-left">
                                        <div class="order-grid-title">
                                            Время доставки
                                        </div>
                                    </div>
                                    <div class="order-grid-right">
                                        <input class="order-date-delivery form-input"
                                               type="date" name="date"
                                               placeholder="Выбрать дату"/>
                                        <div class="form-error-msg"
                                             style="margin: -10px 0 10px;"></div>
                                        <select class="order-time-delivery form-select"
                                                name="time_delivery">
                                            {% for delivery in delivery_list %}
                                                <option value="{{ delivery.id }}">
                                                    {{ delivery.from_time }}
                                                    - {{ delivery.to_time }} {{ delivery.title }} {{ delivery.price }}
                                                    ₽
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="order-left-line"></div>
                            <div class="order-grid">
                                <div class="order-grid-left">
                                    <div class="order-grid-title">
                                        Способ оплаты
                                    </div>
                                </div>
                                <div class="order-grid-right">
                                    <label class="order-radio">
                                        <input class="order-radio-input" checked
                                               type="radio"
                                               value="payment_on_delivery"
                                               name="type_payment"/>
                                        <div class="order-radio-indicator"></div>
                                        <div class="order-radio-value">Оплата
                                            при получении (наличными / картой)
                                        </div>
                                    </label>
                                    <label class="order-radio"
                                           style="position: relative;">
                                        <input class="order-radio-input"
                                               value="online_payment"
                                               type="radio"
                                               name="type_payment"/>
                                        <div class="order-radio-indicator"></div>
                                        <div class="form-error-msg"
                                             style="position: absolute; bottom: -20px;"></div>
                                        <div class="order-radio-value">
                                            Онлайн-оплата картой
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="order-right">
                            <div class="order-right-item">
                                <img class="order-right-img"
                                     src="{% static 'img/svg/img-1.svg' %}"
                                     alt=""/>
                                <div class="order-right-title">Безопасность
                                </div>
                                <div class="order-right-desc">
                                    Безопасность платежей гарантируется
                                    использованием SSL протокола. Данные вашей
                                    банковской карты надежно защищены при оплате
                                    онлайн.
                                </div>
                            </div>
                            <div class="order-right-item">
                                <img class="order-right-img"
                                     src="{% static 'img/svg/img-2.svg' %}"
                                     alt=""/>
                                <div class="order-right-title">Доставка</div>
                                <div class="order-right-desc">
                                    У вас всегда есть возможность получить
                                    бесплатную доставку товаров Lamoda.
                                    Бесконтактная доставка - предупредите нас, и
                                    мы оставим заказ у двери. Это безопасно!
                                </div>
                            </div>
                            <div class="order-right-item">
                                <img class="order-right-img"
                                     src="{% static 'img/svg/img-3.svg' %}"
                                     alt=""/>
                                <div class="order-right-title">Примерка</div>
                                <div class="order-right-desc">Примеряйте и
                                    оплачивайте только подходящие товары. Вы
                                    можете примерить вещи перед покупкой и взять
                                    лишь те, которые вам подошли.
                                </div>
                            </div>
                            <div class="order-right-item">
                                <img class="order-right-img"
                                     src="{% static 'img/svg/img-4.svg' %}"
                                     alt=""/>
                                <div class="order-right-title">Доставка на
                                    следующий день
                                </div>
                                <div class="order-right-desc">
                                    Доставка на следующий день в 60 городах
                                    России. Доступно при использовании
                                    курьерского сервиса Lamoda Express и пунктов
                                    самовывоза.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-right">
                    <div class="cart-right__inner">
                        <div class="cart-total-head">
                            <div>Итого:</div>
                            <div>{{ price.price_with_discount }} ₽</div>
                        </div>
                        <div class="cart-total-info">
                            <div>Сумма без скидки</div>
                            <div>{{ price.price }} ₽</div>
                            <div>Скидка</div>
                            <div style="color: #dd2c28">
                                -{{ price.price_discount }}
                                ₽
                            </div>
                            <div>Промокод</div>
                            <div style="color: #dd2c28">
                                -{{ price.promo_code_discount }}%
                                ({{ price.promo_code_price }} ₽)
                            </div>
                            <div>Количество товаров</div>
                            <div>{{ price.count_product }} шт</div>
                            <div>Стоимость доставки</div>
                            <div>{{ price.delivery_price }} ₽</div>
                        </div>
                        <div class="cart-total-line"></div>
                        <div class="cart-promocode">
                            <div class="cart-promocode-title">Промокод</div>
                            <div class="form-error-msg"
                                 style="margin: 0 0 5px"></div>
                            {% if price.promo_code_code %}
                                <input class="cart-promocode-input active"
                                       readonly
                                       type="text" name="promo_code_title"
                                       value="{{ price.promo_code_code }}"
                                       placeholder="Введите промокод"/>
                                <div class="cart-promocode-btn"
                                     data-url="{% url 'activate-promo-code' %}"
                                     style="display: none">
                                    Активировать промокод
                                </div>
                            {% else %}
                                <input class="cart-promocode-input" type="text"
                                       value="" placeholder="Введите промокод"
                                       name="promo_code_title"/>
                                <div class="cart-promocode-btn"
                                     data-url="{% url 'activate-promo-code' %}">
                                    Активировать промокод
                                </div>
                            {% endif %}
                        </div>
                        <div class="cart-total-line"></div>
                        {% if user.is_authenticated %}
                            <label class="cart-total-subscribe">
                                <input class="cart-total-subscribe-input"
                                       type="checkbox" name="subscribe"/>
                                <div class="cart-total-subscribe-indicator"></div>
                                <div class="cart-total-subscribe-value">
                                    Подписаться на
                                    новости и акции
                                </div>
                            </label>
                        {% endif %}
                        <button class="cart-btn" type="submit">
                            Заказать
                            <img src="{% static 'img/loader.gif' %}"
                                 alt="load img"
                                 style="position: absolute; height: 45px; display: none">
                        </button>
                        <a class="cart-btn-outline" href="{% url 'delivery' %}">
                            Условия доставки</a>
                    </div>
                </div>
            </div>
        </form>
        {% block navigation %}
            {% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script>

        $(document).ready(function () {
            $(document).on("click", ".cart-count-minus", function () {
                var $input = $(this).parent().find("input");
                var count = parseInt($input.val()) - 1;
                count = count < 1 ? 1 : count;
                $input.val(count);
            });
            $(document).on("click", ".cart-count-plus", function () {
                var availableQuantity = $(this).siblings('.cart-count-available').children('span').text()
                var $input = $(this).parent().find("input");
                var count = parseInt($input.val()) + 1
                count = parseInt($input.val()) >= Number(availableQuantity) ? availableQuantity : count;
                $input.val(count);
            });
        });

        $("#type-payment .order-radio-input").on("change", function () {
            if ($(this).prop("checked", true)) {
                $(".order-tab-1").hide("slow");
                $(this).parent(".order-radio").next('.order-tab-1').show("slow");
                if ($(this).attr('id') === 'val2') {
                    $('.cart-street, .cart-home').attr('required', true);
                    $('.order-tab-2').show("slow");
                    $('.order-time-delivery').val($('.order-time-delivery option:eq(0)').val())
                } else {
                    $('.cart-street, .cart-home').attr('required', false);
                    $(".order-tab-2").hide("slow");
                }
            }
        });

        function showHideDeliveryInfo() {
            var index = $('#mCSB_2_container .opt.selected').index()
            $('.delivery-info').hide()
            $(`.delivery-info:eq(${index})`).show()
        }

        $(window).on("load", function () {
            showHideDeliveryInfo()
        });

        $('.pick-up-point').on("change", function () {
            showHideDeliveryInfo()
        });

        $('.form-input.cart-region').on('focus', function () {
            $('.city-dropdown').show();
        });

        $('.form-input.cart-region').on('blur', function () {
            setTimeout(function () {
                $('.city-dropdown').hide();
            }, 100)
        });

        $('.city-dropdown').on('click', '.cities-item', function () {
            $('.form-input.cart-region').val($(this).text().trim())
        })

    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
