{% extends "base.html" %}
{% load static %}
{% block title_page %}Категории для команд{% endblock %}

{% block page %}product-list__page tag-page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <form class="filter filter-form-wrapper"
                              action="{% url 'category-team' %}"
                              method="post">
                            {% include 'components/filter-two.html' %}
                        </form>
                        <div class="close-filter-mobile">Применить</div>
                    </div>
                    <div class="aside-right">
                        <div class="banner">
                            {% if banners.desktop_image %}
                                <a class="banner-link" href=""></a>
                                <img class="banner-img"
                                    src="{{ banners.desktop_image.url }}"
                                    alt=""/>
                            {% endif %}
                        </div>
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Категория для команд
                                    </div>
                                    <div class="breadcrumb"><a
                                            class="breadcrumb-link" href="">Главная</a><span
                                            class="breadcrumb-active">Коллекция “лето”</span>
                                    </div>
                                </div>
                                <div class="mobile-sort__wrapper">
                                    <div class="mobile-filter">Фильтры</div>
                                    <form class="filter-form-wrapper">
                                        {% include 'components/sorting.html' %}
                                    </form>
                                </div>
                            </div>
                            <div class="mobile-filter">Фильтры</div>
                            <div class="product-list"
                                 style="position: relative">
                                <div class="preloader"
                                     style="position: absolute; visibility: hidden; opacity: 0">
                                    <p>Загрузка ....</p>
                                </div>
                                {% for product in category_command_products %}
                                    {% include 'components/card.html' %}
                                {% empty %}
                                    <h3>Добавьте товары для готовых комплектов
                                        или конструктора форм спорта
                                    </h3>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
