{% extends 'base.html' %}
{% load static %}
{% block title_page %}{{ category_products }}{% endblock %}
{% block style %}
    <style>
        .tag-wrapper input:checked + .product-filter-choiced-item {
            background: #D4E3FF;
        }
    </style>
{% endblock %}
{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <form class="filter filter-form-wrapper"
                              action="{% url 'category' category_products.slug %}"
                              method="post">
                            {% include 'components/filter-two.html' %}
                        </form>
                        <div class="close-filter-mobile">Применить</div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        {{ category_products }}
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link"
                                           href="{% url 'index' %}">
                                            Главная
                                        </a>
                                        <span class="breadcrumb-active">
                                            {{ category_products }}
                                        </span>
                                    </div>
                                </div>
                                <div class="mobile-sort__wrapper">
                                    <div class="mobile-filter">Фильтры</div>
                                    <form class="filter-form-wrapper">
                                        {% include 'components/sorting.html' %}
                                    </form>
                                </div>
                            </div>
                            <div class="filter-form-wrapper filter-item"
                                 data-name="tag_filter">
                                <div class=" product-filter-choiced">
                                    {% for tag in tag_list %}
                                        <label class="tag-wrapper"
                                               style="display: block">
                                            <input type="checkbox"
                                                   class="filter-checkbox-but"
                                                   style="display: none"
                                                   value="{{ tag.id }}">
                                            <div class="product-filter-choiced-item"
                                                 style="cursor: pointer">
                                                {{ tag.title }}
                                            </div>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mobile-filter">Фильтры</div>
                            <div class="product-list"
                                 style="position: relative">
                                <div class="preloader"
                                     style="position: absolute; visibility: hidden; opacity: 0">
                                    <p>Загрузка ....</p>
                                </div>
                                {% for product in products %}
                                    {% include 'components/card.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}
            {% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
