{% extends 'base.html' %}
{% load static %}
{% block title_page %}Конструктор форм{% endblock %}
{% block style %}
    <style>
        .wrapper-aside-bar {
            display: none;
        }

        .wrapper-aside-bar.active {
            display: block;
        }
    </style>
{% endblock %}

{% block page %}category-for-teams-generator{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <form class="filter filter-form-wrapper"
                              action=""
                              method="post">
                            {% include 'components/filter.html' %}
                        </form>
                        <div class="close-filter-mobile">Применить</div>
                    </div>
                    <div class="aside-right-overflow" style="flex-grow: 1">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Категория для команд
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link"
                                           href="{% url 'index' %}">Главная</a>
                                        <span class="breadcrumb-active">Категория для команд</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-filter">Категории и фильтры</div>
                            <div class="generator-carousel">
                                {% include  'components/constructor-products.html' %}
                            </div>
                        </div>
                    </div>
                    <div class="aside-bar product-info__render">
                        {% include 'components/constructor-form-info.html' %}
                        <div class="aside-form" style="display: none">
                            <form action="{% url 'constructor-form-form' %}"
                                  id="constructor-form"
                                  method="post">
                                {% csrf_token %}
                                <input type="hidden" name="order_info">
                                <input type="hidden" name="product_count">
                                <div class="aside-form-title">Форма заявки</div>
                                <div class="form-box">
                                    <input class="form-input" type="text"
                                           name="name" placeholder=" "/>
                                    <span class="form-label-text">Имя*</span>
                                    <div class="form-error-msg"></div>
                                </div>
                                <div class="form-box">
                                    <input class="form-input" type="text"
                                           name="phone" placeholder=" "/>
                                    <span class="form-label-text">Телефон*</span>
                                    <div class="form-error-msg"></div>
                                </div>
                                <div class="form-box">
                                    <input class="form-input" type="text"
                                           name="email" placeholder=" "/>
                                    <span class="form-label-text">e-mail*</span>
                                    <div class="form-error-msg"></div>
                                </div>
                                <div class="form-box">
                                    <textarea class="form-textarea" rows="5"
                                              name="text"
                                              placeholder=" "></textarea>
                                    <span class="form-label-text">Комментарий</span>
                                </div>
                                <div class="form-box">
                                    <button class="form-button animation-loader"
                                            type="submit"
                                            style="position: relative;">
                                        Отправить
                                        <img src="{% static 'img/loader.gif' %}"
                                             alt="load img"
                                             style="position: absolute; height: 45px; display: none">
                                    </button>
                                    <div class="form-button form-button-only-text">
                                        Отмена
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="aside-success" style="display: none">
                            <div class="aside-success-title">Успешно
                                отправлено
                            </div>
                            <div class="aside-success-btn form-button">Хорошо
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/range.js' %}"></script>
    <script>

        function getSlickSlider() {
            //Скрипт для удаления слайдера если в нем нет товаров
            $('.three-slick-slider .carousel-category').each(function (i, obj) {
                if ($(obj).children().length < 1) {
                    $(obj).parent().remove()
                }
            });

            //Скрипт для замены одного слайдера на другой
            if ($('.generator-carousel .three-slick-slider').length === 1) {
                $('.generator-carousel .three-slick-slider')
                        .removeClass('three-slick-slider')
                        .addClass('one-slick-slider').children()
                        .removeClass('carousel-head carousel-body carousel-footer')
                        .addClass('constructor-slider-for')
                        .clone().removeClass('constructor-slider-for')
                        .addClass('constructor-slider-nav').appendTo('.one-slick-slider')

                //Инициализация слайдеров
                $('.constructor-slider-for').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    centerMode: true,
                    infinite: true,
                    fade: true,
                    nav: true,
                    swipe: false,
                    asNavFor: '.constructor-slider-nav'
                });
                $('.constructor-slider-nav').slick({
                    slidesToShow: 7,
                    infinite: true,
                    centerMode: true,
                    slidesToScroll: 1,
                    arrows: false,
                    centerPadding: '0',
                    asNavFor: '.constructor-slider-for',
                    focusOnSelect: true,
                    responsive: [
                        {
                            breakpoint: 1201,
                            settings: {
                                slidesToShow: 5
                            }
                        },
                        {
                            breakpoint: 961,
                            settings: {
                                slidesToShow: 7
                            }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                slidesToShow: 5
                            }
                        },
                    ]
                });

                //Скрипт для удаления стрелок слайдера
                var lengthSlide = 0;
                function hideShowArrow(lengthSlide) {
                    if ($('.constructor-slider-nav .slick-track').children().length <= lengthSlide) {
                        $('.constructor-slider-for').find('.slick-arrow').hide()
                    } else {
                        $('.constructor-slider-for').find('.slick-arrow').show()
                    }
                }
                if($(window).width() > 1200){
                    lengthSlide = 7;
                    hideShowArrow(lengthSlide)
                } else if ($(window).width() <= 1200 && $(window).width() > 960){
                    lengthSlide = 5;
                    hideShowArrow(lengthSlide)
                } else if ($(window).width() <= 960 && $(window).width() > 640){
                    lengthSlide = 7;
                    hideShowArrow(lengthSlide)
                } else if ($(window).width() < 640){
                    lengthSlide = 5;
                     hideShowArrow(lengthSlide)
                }

            } else {
                //Инициализация слайдеров
                $(".carousel-head").slick({
                    centerMode: true,
                    slidesToShow: 1,
                    touchMove: false,
                    infinite: false,
                    centerPadding: '0',
                });
                $(".carousel-body").slick({
                    centerMode: true,
                    slidesToShow: 1,
                    touchMove: false,
                    infinite: false,
                    centerPadding: '0',
                });
                $(".carousel-footer").slick({
                    centerMode: true,
                    slidesToShow: 1,
                    touchMove: false,
                    infinite: false,
                    centerPadding: '0',
                });

                //Скрипт для сдвига слайдера влево для центрирования
                $('.three-slick-slider .carousel-category').each(function (i, obj) {
                    if ($(obj).find('.slick-track').children().length > 3) {
                        $(obj).slick('slickGoTo', 2);
                    } else {
                        $(obj).slick('slickGoTo', 1);
                    }
                });
            }

            //Скрипт для показа и скрытия информации о товаре
            $('.aside-config .aside-bar-info').each(function (i, obj) {
                if ($(obj).children().length < 1) {
                    $(obj).hide().next().hide()
                } else {
                    $(obj).show().next().show()
                }
            })

        }

        getSlickSlider();

        //Скрипт для подсчета общей стоимости товаров
        function calculate_sum() {
            var headProduct = $('.wrapper-aside-bar__head.active');
            var bodyProduct = $('.wrapper-aside-bar__body.active');
            var footerProduct = $('.wrapper-aside-bar__footer.active');
            var priceHead = Number(headProduct.find('.aside-bar-price').text()
                    .replace('₽', '').replace(',', '.').trim())
            var priceBody = Number(bodyProduct.find('.aside-bar-price').text()
                    .replace('₽', '').replace(',', '.').trim())
            var priceFooter = Number(footerProduct.find('.aside-bar-price').text()
                    .replace('₽', '').replace(',', '.').trim())
            var countProduct = Number($('.aside-footer-flex .count').text().replace('шт', '').trim())
            var sum = (priceHead + priceBody + priceFooter) * countProduct + ' ' + '₽'
            $('.aside-footer-flex .sum').text(sum)
        }

        //Скрипт для добавления активного класса
        function addedActiveClass() {
            var headProductId = $('.carousel-slick-head .slick-center').attr('data-product-id');
            var bodyProductId = $('.carousel-slick-body .slick-center').attr('data-product-id');
            var footerProductId = $('.carousel-slick-footer .slick-center').attr('data-product-id');
            var headColorId = $('.carousel-slick-head .slick-center').attr('data-product-color');
            var bodyColorId = $('.carousel-slick-body .slick-center').attr('data-product-color');
            var footerColorId = $('.carousel-slick-footer .slick-center').attr('data-product-color');
            $('.wrapper-aside-bar').removeClass('active');
            $('.color-article').removeClass('active');
            $(`.wrapper-aside-bar__head[data-product-id='${headProductId}']`).addClass('active');
            $(`.wrapper-aside-bar__body[data-product-id='${bodyProductId}']`).addClass('active');
            $(`.wrapper-aside-bar__footer[data-product-id='${footerProductId}']`).addClass('active');
            $(`.wrapper-aside-bar__head[data-product-id='${headProductId}'] .color-article[data-color-id='${headColorId}']`).addClass('active');
            $(`.wrapper-aside-bar__body[data-product-id='${bodyProductId}'] .color-article[data-color-id='${bodyColorId}']`).addClass('active');
            $(`.wrapper-aside-bar__footer[data-product-id='${footerProductId}'] .color-article[data-color-id='${footerColorId}']`).addClass('active');
        }

        //Инициализация ползунка
        function my_range() {
            $(".js-range-slider").ionRangeSlider({
                grid: false,
                min: 1,
                max: 20,
                step: 1,
                onChange: function (data) {
                    $('.aside-footer-flex .count').text(data.from + ' ' + 'шт');
                    calculate_sum()
                }
            });
        }

        my_range()
        addedActiveClass()
        calculate_sum()

        //Добавление классов для предыдущего и следующего слайдов относительно активного
        function addedSlickClass($this) {
            $this.find('.slick-slide').removeClass('slick-prev-next slide-next slide-prev');
            $this.find('.slick-center').removeClass('slick-prev-next slide-next slide-prev');
            $this.find('.slick-center').next().addClass('slick-prev-next slide-next');
            $this.find('.slick-center').prev().addClass('slick-prev-next slide-prev');
        }
        $('.slick-list .slick-center').next().addClass('slick-prev-next slide-next');
        $('.slick-list .slick-center').prev().addClass('slick-prev-next slide-prev');

        //События при перелистывании слайдов
        $('.product-wrapper').on('beforeChange', '.carousel-slick-head', function () {
            var $this = $(this)
            setTimeout(function () {
                addedActiveClass();
                calculate_sum();
                addedSlickClass($this)
            }, 100)
        });
        $('.product-wrapper').on('beforeChange', '.carousel-slick-body', function () {
            var $this = $(this)
            setTimeout(function () {
                addedActiveClass();
                calculate_sum();
                addedSlickClass($this)
            }, 100)
        });
        $('.product-wrapper').on('beforeChange', '.carousel-slick-footer', function () {
            var $this = $(this)
            setTimeout(function () {
                addedActiveClass();
                calculate_sum();
                addedSlickClass($this)
            }, 100)
        });

        //События модалок
        $('.product-info__render').on('click', '.aside-btn-black', function () {
            $('.aside-form').css('display', 'block');
            $('.aside-config').css('display', 'none');
        });

        $('.form-button-only-text').click(function () {
            $('.aside-form').css('display', 'none');
            $('.aside-config').css('display', 'block');
        })

        $('.aside-success-btn').click(function () {
            $('.aside-form').css('display', 'none');
            $('.aside-config').css('display', 'block');
            $('.aside-success').css('display', 'none')
        })

    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
