{% extends 'base.html' %}
{% load static %}
{% block title_page %}Страница команд{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
        <main class="page">
            <div class="commands">
                <div class="container-fluid">
                    <div class="commads-grid">
                        <div class="commads-grid-item">
                            <a class="commads-item-link" href="{% url 'category-team' %}"></a>
                            <div class="commads-item-image">
                                <img src="{{ command_categories_images.image_one.url }}" alt=""/>
                                <div class="commads-item-title">
                                    Категория для команд
                                </div>
                            </div>
                        </div>
                        <div class="commads-grid-item">
                            <a class="commads-item-link" href="{% url 'ready-made-kits' %}"></a>
                            <div class="commads-item-image">
                                <img src="{{ command_categories_images.image_two.url }}" alt=""/>
                                <div class="commads-item-title">
                                    Готовые комплекты
                                </div>
                            </div>
                        </div>
                        <div class="commads-grid-item">
                            <a class="commads-item-link" href="{% url 'constructor-form' %}"></a>
                            <div class="commads-item-image">
                                <img src="{{ command_categories_images.image_three.url }}" alt=""/>
                                <div class="commads-item-title">
                                    Конструктор форм
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
        </main>
{% endblock %}
