{% extends 'base.html' %}
{% load static %}
{% block title_page %}Подключиться к партнерской программе
    “Маркетплейс”{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="about-us__page">
        <div class="ck-editor-wrapper">
            <div class="ck-editor-inner">
                <section class="contractor-intro get-intro"
                         style="background-image: url({{ connect_partnership.image_background.url }})">
                    <h1 class="contractor-ttl">{{ connect_partnership.title_in_paid }}</h1>
                    <div class="submit-app">Присоединиться</div>
                </section>
                <section class="get">
                    <div class="advantage-top get-top">
                        <h2 class="advantage-top-ttl advantage-ttl">{{ connect_partnership.title }}</h2>
                        <p class="advantage-text">{{ connect_partnership.description }}
                        </p>
                    </div>
                    <div class="get-grid">
                        {% for client_get in client_get %}
                            <div class="get-item">
                                <img class="get-img"
                                     src="{{ client_get.image.url }}" alt=""/>
                                <h4 class="get-ttl">{{ client_get.title }}</h4>
                                <p class="get-txt">{{ client_get.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="get">
                    <div class="advantage-top get-top">
                        <h2 class="advantage-top-ttl advantage-ttl">{{ connect_partnership.title_in_page }}</h2>
                        <p class="advantage-text">{{ connect_partnership.description_in_page }}</p>
                    </div>
                    <div class="get-grid">
                        {% for how_start in how_start %}
                            <div class="get-item begin">
                                <h4 class="get-ttl">{{ how_start.title }}</h4>
                                <p class="get-txt">{{ how_start.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="get">
                    <div class="advantage-top get-top">
                        <h2 class="advantage-top-ttl advantage-ttl">{{ connect_partnership.title_in_footer }}</h2>
                        <p class="advantage-text">{{ connect_partnership.description_in_footer }}</p>
                    </div>
                </section>
                <div class="contractor-modal-wrap">
                    <div class="contractor-modal">
                        <h3 class="contr-modal-ttl">Оставить заявку</h3>
                        <form class="contr-fields" method="post" action="">
                            {% csrf_token %}
                            <input class="contr-input" placeholder="Имя*"
                                   required="required" type="text" name="name"/>
                            <input class="contr-input" placeholder="Фамилия"
                                   type="text" name="surname"/>
                            <input class="contr-input" placeholder="e-mail *"
                                   required="required" type="email"
                                   name="email"/>
                            <input class="contr-input" placeholder="Телефон *"
                                   required="required" type="text"
                                   name="phone_number"/>
                            <input class="contr-input"
                                   placeholder="Наименование компании *"
                                   required="required" type="text"
                                   name="name_company"/>
                            <div class="contr-select-wrap"
                                 name="product_category">
                                <select class="contr-input" required="required"
                                        name="product_category">
                                    {% for category in category %}
                                        <option selected="selected">
                                            {{ category.get_type_category_display }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input class="contr-input"
                                   placeholder="Наименование бренда *"
                                   required="required" type="text"
                                   name="brand_name"/>
                            <input class="contr-input"
                                   placeholder="Ссылка на сайт/социальные сети*"
                                   required="required" type="text"
                                   name="link_to_website"/>
                            <textarea class="contr-input textarea-field"
                                      placeholder="Ваше обращение"
                                      name="your_appeal"></textarea>
                            <button class="contr-btn contr-btn-submit"
                                    style="pointer-events: auto;"
                                    type="submit">Отправить
                            </button>
                            <button class="contr-btn close">Закрыть</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/modal-settings.js' %}"></script>
{% endblock %}
