{% extends 'base.html' %}
{% load static %}
{% block title_page %}Доставка{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">Доставка
                                    </div>
                                    <div class="breadcrumb"><a
                                            class="breadcrumb-link" href="{% url 'index' %}">Главная</a><span
                                            class="breadcrumb-active">Доставка</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ckeditor-info__block">
                                {{ delivery.text|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
