{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="hello-page">
        <img class="hello-page__image" src="{% static 'img/svg/logo-404.svg' %}"
             alt=""/>
        <p class="hello-page__desc">
            Бессонные ночи у разработчиков уже начались, можем спать спокойно.
            Сайт в разработке.
        </p>
        <h1 class="hello-page__title">ontheplace.ru</h1>
    </div>
    {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
{% endblock %}
