{% extends 'base.html' %}
{% load static %}
{% block title_page %}Избранное{% endblock %}

{% block page %}product-list__page tag-page{% endblock %}
{% block content %}
    <main class="page favorite-product__page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Избранное
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link"
                                           href="{% url 'index' %}">
                                            Главная
                                        </a>
                                        <span class="breadcrumb-active">
                                            Избранное
                                        </span>
                                    </div>
                                </div>
                                <div class="mobile-sort__wrapper">
                                    <div class="mobile-filter">Фильтры</div>
                                    <form action="{% url 'favorite' %}"
                                          method="post"
                                          class="filter-form-wrapper">
                                        {% include 'components/sorting.html' %}
                                    </form>
                                </div>
                            </div>
                            <div class="mobile-filter">Фильтры</div>
                            <div class="product-list"
                                 style="position: relative">
                                <div class="preloader"
                                     style="position: absolute; visibility: hidden; opacity: 0">
                                    <p>Загрузка ....</p>
                                </div>
                                {% for product in products %}
                                    {% include 'components/card.html' %}
                                {% empty %}
                                    <h3>У вас нет избранных товаров</h3>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}
            {% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script>
        // Get Cookie Method
        const getCookie = function (name) {
            var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined // s if r == 2 else b тернарный оператор
        };

        // Скрипт для добавления товара в избранное
        $('.favorite-product__page').on('click', '.product-item .product-item-favorite', function () {
            var productId = $(this).data('id');
            var url = $(this).data('url');
            var thisItem = $(this);
            thisItem.css('pointer-events', 'none');

            $.ajax({
                url: url,
                type: 'post',
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    product_id: String(productId),
                },

                success: function (data) {
                    thisItem.css('pointer-events', 'auto');
                    thisItem.addClass('active')
                    if (data.added_or_remove === 1) {
                        thisItem.addClass('active');
                    } else {
                        thisItem.removeClass('active');
                        thisItem.closest('.product-item').remove();
                    }
                    if ($('.product-item').length < 1) {
                        $('.favorite-product__page .product-list .preloader')
                                .after('<h3>У вас нет избранных товаров</h3>')
                    } else {
                        $('.favorite-product__page .product-list .preloader')
                                .next('h3').remove()
                    }
                },

                error: function (errors) {
                    thisItem.css('pointer-events', 'auto');
                    alert("Что то пошло не так!")
                }
            })
        });

        //Скрипт для фильтрации товаров
        var timeoutRequest = null;
        var filterDataDict = {};
        var url = $('.filter-form-wrapper').attr('action');
        var csrfToken = $(".filter-form-wrapper input[name='csrfmiddlewaretoken']").val();
        var blockForPushContent = $('.product-list .preloader');

        $('.filter-form-wrapper .filter-checkbox-but').on("change keyup", function () {
            var categoryName = $(this).closest('.filter-item').data('name');
            var itemId = $(this).val();

            if (categoryName in filterDataDict) {
                var filterArr = filterDataDict[categoryName]
                var indexItem = filterArr.indexOf(itemId)
                if ($(this).attr('type') === 'checkbox') {
                    if (indexItem !== -1) {
                        filterArr.splice(indexItem, 1)
                        if (filterArr.length === 0) {
                            delete filterDataDict[categoryName]
                        }
                    } else {
                        filterArr.push(itemId)
                    }
                } else {
                    if (filterArr[0] === "") {
                        delete filterDataDict[categoryName]
                    } else {
                        filterArr.length = 0;
                        filterArr.push(itemId)
                    }
                }

            } else {
                filterDataDict[categoryName] = [itemId]
            }

            if (timeoutRequest) clearTimeout(timeoutRequest);
            timeoutRequest = setTimeout(function () {
                $('.product-list .preloader').css({
                    'opacity': '1',
                    'visibility': 'visible'
                })

                $.ajax({
                    url: url,
                    type: 'post',
                    data: {
                        categoryId: JSON.stringify(filterDataDict),
                        csrfmiddlewaretoken: csrfToken,
                    },

                    success: function (data) {
                        blockForPushContent.css({
                            'opacity': '0',
                            'visibility': 'hidden'
                        })
                        blockForPushContent.nextAll().remove()
                        blockForPushContent.after(data.products_html)
                    },

                    error: function (errors) {
                        $('.product-list .preloader').css({
                            'opacity': '0',
                            'visibility': 'hidden'
                        })
                        console.log('error')
                    }
                })
            }, 1000)

        })

    </script>
{% endblock %}
