{% extends 'base.html' %}
{% load static %}
{% block title_page %}Помощь{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">Помощь
                                    </div>
                                    <div class="breadcrumb"><a
                                            class="breadcrumb-link" href="{% url 'index' %}">Главная</a><span
                                            class="breadcrumb-active">Помощь</span>
                                    </div>
                                </div>
                            </div>
                            <div class="help-acc">
                                {% for help in helps %}
                                    <div class="help-acc-itm">
                                        <div class="help-question">
                                            {{ help.title }}
                                        </div>
                                        <p class="help-answer">
                                            {{ help.description }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script>
        $('.help-question').on('click', function () {
            if ($(this).hasClass('active')) {
                $('.help-answer').slideUp(150)
                $('.help-question').removeClass('active')
            } else {
                $('.help-answer').slideUp(150)
                $('.help-question').removeClass('active')
                $(this).next().slideDown(150)
                $(this).addClass('active')
            }
        })
    </script>
{% endblock %}
