{% extends 'base.html' %}
{% load static %}
{% block title_page %}Главная{% endblock %}

{% block content %}
    <main class="page">
        <div class="index">
            <div class="container-fluid">
                <div class="main-category">
                    <div class="swiper-container mySwiper mySwiper-desktop">
                        <div class="swiper-wrapper">
                            {% for main_obj in resulted_list %}
                                {% if main_obj.image %}
                                    <div class="swiper-slide">
                                        <a class="main-category-link"
                                           href="{{ main_obj.get_absolute_url }}">
                                        </a>
                                        <img class="main-category-img"
                                             src="{{ main_obj.image.url }}"
                                             alt=""/>
                                        <img class="default-category-img"
                                             src="{% static 'img/svg/default-img.svg' %}"
                                             alt=""/>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination swiper-pagination-category"></div>
                    </div>
                    <div class="tags_wrapper">
                        {% for tag in tags %}
                            <a href="{% url 'tags' tag.id %}">{{ tag.title }}</a>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next swiper-button-next-category"></div>
                    <div class="swiper-button-prev swiper-button-prev-category"></div>
                </div>
                <div class="main-brands">
                    <div class="swiper-container mySwiperBrands">
                        <div class="swiper-wrapper">
                            {% for brand in brand_list %}
                                <div class="swiper-slide
                                    {% if brand.is_active %}
                                      active
                                    {% endif %}">
                                    <a class="main-category-link"
                                        {% if brand.is_active %}
                                            href="{% url 'brand' brand.slug %}"
                                        {% endif %}>
                                    </a>
                                    <div class="image-wrapper">
                                        <img class="main-category-img"
                                             src="{{ brand.icon.url }}"
                                             alt="{{ brand.title }}"/>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination swiper-pagination-brands"></div>
                    </div>
                    <div class="swiper-button-next swiper-button-next-brands"></div>
                    <div class="swiper-button-prev swiper-button-prev-brands"></div>
                </div>
            </div>
        </div>
            {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/swiper.js' %}"></script>
{% endblock %}
