{% extends 'base.html' %}
{% load static %}
{% block title_page %}Арендодателям{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="about-us__page">
        <div class="ck-editor-wrapper">
            <div class="ck-editor-inner">
                <section class="contractor-intro"
                         style="background-image: url({{ landlords.image_background.url }})">
                    <h1 class="contractor-ttl">{{ landlords.title_in_paid }}</h1>
                    <div class="submit-app">Сдать помещение</div>
                </section>
                <section class="advantage">
                    <div class="advantage-top">
                        <h2 class="advantage-top-ttl advantage-ttl">{{ landlords.title }}</h2>
                        <p class="advantage-text">{{ landlords.description }}</p>
                    </div>
                    {% include 'components/our-advantages.html' %}
                </section>
                <div class="contractor-modal-wrap">
                    <div class="contractor-modal">
                        <h3 class="contr-modal-ttl">Оставить заявку</h3>
                        <form method="post" class="contr-fields" action="">
                            {% csrf_token %}
                            <input class="contr-input"
                                   placeholder="Адрес предлагаемого помещения *"
                                   required="required" type="text"
                                   name="address"/>
                            <input class="contr-input"
                                   placeholder="Общая площадь*"
                                   required="required" type="text"
                                   name="total_area"/>
                            <input class="contr-input"
                                   placeholder="Ставка арендной платы  в месяц*"
                                   required="required" type="text"
                                   name="rent_rate"/>
                            <input class="contr-input"
                                   placeholder="Название компании*"
                                   required="required" type="text"
                                   name="name_company"/>
                            <input class="contr-input"
                                   placeholder="Контактное лицо*"
                                   required="required" type="text"
                                   name="the_contact_person"/>
                            <input class="contr-input" placeholder="e-mail*"
                                   required="required" type="email"
                                   name="email"/>
                            <input class="contr-input" placeholder="Телефон*"
                                   required="required" type="text"
                                   name="phone_number"/>
                            <textarea class="contr-input textarea-field"
                                      placeholder="Ваше обращение"
                                      name="comment"></textarea>
                            <button class="contr-btn contr-btn-submit"
                                    style="pointer-events: auto;"
                                    type="submit">Отправить
                            </button>
                            <button class="contr-btn close">Закрыть</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}
            {% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/modal-settings.js' %}"></script>
{% endblock %}
