{% extends 'base.html' %}
{% load static %}

{% block title_page %}Авторизация{% endblock %}

{% block page %}auth-page__wrapper{% endblock %}
{% block content %}
    <div class="auth-page">
        <div class="container-fluid">
            <div class="auth-image"
                 style="background-image: url({% static 'img/jpg/auth-banner-1.jpg' %})">
                <div class="auth-box">
                    <a class="auth-mobile-logo" href="">
                        <img src="{% static 'img/svg/logo-text.svg' %}" alt=""/>
                    </a>
                    <div class="auth-title">Авторизация</div>
                    <div class="auth-text">
                        Нет аккаунта?
                        <a class="auth-swap-link" href="{% url 'registration' %}">
                            Зарегистрироваться
                        </a>
                    </div>
                    <form class="auth-form" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-box">
                            <input class="form-input" type="text" name="username"
                                   placeholder=" " required="required"/>
                            <span class="form-label-text">E-mail*</span>

                        </div>
                        <div class="form-box">
                            <input class="form-input js-input-type" name="password"
                                   type="password" placeholder=" " autocomplete="new-password"
                                   required="required"/>
                            <span class="form-label-text">Пароль</span>
                            <div class="btn-toggle-type"></div>
                        </div>
                        <div class="form-box">
                            <div class="form-error-msg">{{ form.non_field_errors }}</div>
                            <button class="form-button" type="submit">
                                Войти
                            </button>
                        </div>
                        <div class="form-box button-password">
                            <a class=" form-button form-button-only-text"
                                href="{% url 'send-link' %}">Забыли пароль?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
