{% extends 'base.html' %}
{% load static %}
{% block title_page %}Новый пароль{% endblock %}

{% block page %}auth-page__wrapper{% endblock %}
{% block content %}
    <div class="auth-page">
        <div class="container-fluid">
            <div class="auth-image"
                 style="background-image: url({% static 'img/jpg/auth-banner-1.jpg' %})">
                <div class="auth-box">
                    <a class="auth-mobile-logo" href="">
                        <img src="{% static 'img/svg/logo-text.svg' %}"/>
                    </a>
                    <div class="auth-title">Измените свой пароль</div>
                    <form class="auth-form"
                          action="{% url 'password_change' %}" method="post">
                        {% csrf_token %}
                        <div class="auth-subtext">Подтвердите свой текущий
                            пароль
                        </div>
                        <div class="form-box">

                            <input class="form-input js-input-type"
                                   type="password" placeholder=" "
                                   required="required"
                                   name="old_password"/><span
                                class="form-label-text">Текущий пароль*</span>
                            {% if form.error_messages.password_incorrect %}
                                <div class="form-error-msg">{{ form.error_messages.password_incorrect }}</div>
                            {% endif %}
                            <div class="btn-toggle-type"></div>
                        </div>
                        <div class="auth-subtext">Введите свой новый пароль
                        </div>
                        <div class="form-box">
                            <input class="form-input js-input-type"
                                   name="new_password1"
                                   type="password" placeholder=" "
                                   required="required"/><span
                                class="form-label-text">Новый пароль*</span>
                            <div class="btn-toggle-type"></div>
                             <div class="form-error-msg">
                                {% if form.error_messages.password_mismatch %}
                                    <div>
                                        {{ form.error_messages.password_mismatch }}
                                    </div>
                                {% endif %}
                                {% if form.error_messages.password_len %}
                                    <div>
                                        {{ form.error_messages.password_len }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-box">
                            <input class="form-input js-input-type"
                                   name="new_password2"
                                   type="password" placeholder=" "
                                   required="required"/>
                            <span class="form-label-text">
                            Подтвердите новый пароль*
                            </span>
                            <div class="btn-toggle-type"></div>
                        </div>
                        <div class="form-box">
                            <button class="form-button" type="submit">
                                Изменить пароль
                            </button>
                        </div>
                        <div class="form-box">
                            <a class="form-button form-button-only-text"
                               href="{% url 'profile' %}">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
