{% extends 'base.html' %}
{% load static %}
{% block title_page %}Новый пароль{% endblock %}

{% block page %}auth-page__wrapper{% endblock %}
{% block content %}
    <div class="auth-page">
        <div class="container-fluid">
            <div class="auth-image"
                 style="background-image: url({% static 'img/jpg/auth-banner-1.jpg' %});">
                <div class="auth-box">
                    <a class="auth-mobile-logo" href="">
                        <img src="{% static 'img/svg/logo-text.svg' %}" alt=""/>
                    </a>
                    <div class="auth-title">Новый пароль</div>
                    <div class="auth-text">Введите новый пароль. Вы можете
                        поменять пароль на другой в личном кабинете.
                    </div>
                    <form class="auth-form" method="post">
                        {% csrf_token %}
                        <div class="form-error-msg">{{ form.error_messages.password_mismatch}}</div>
                        <div class="form-box">
                            <input class="form-input js-input-type" name="new_password1"
                                   type="password" placeholder=" "
                                   required="required"/>
                            <span class="form-label-text">Новый пароль</span>
                            <div class="btn-toggle-type"></div>
                        </div>
                        <div class="form-box">
                            <input class="form-input js-input-type"
                                   type="password" placeholder=" " name="new_password2"
                                   required="required"/>
                            <span class="form-label-text">
                                Повторите новый пароль
                            </span>
                            <div class="btn-toggle-type"></div>
                        </div>
                        <div class="form-box">
                            <button class="form-button" type="submit">
                                Отправить
                            </button>
                        </div>
                        <div class="form-box">
                            <a class=" form-button form-button-only-text"
                                href="{% url 'login' %}">Отмена</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
