{% extends 'base.html' %}
{% load static %}
{% block title_page %}{{ product.title }}{% endblock %}

{% block page %}product-detail-page{% endblock %}
{% block content %}
    <style>
        .filter-label.disactive .filter-indicator-size {
            border: 1px solid #E6E8EC;
            color: #98949E;
        }

        .filter-label.disactive input {
            pointer-events: none;
        }

        .filter-label.disactive {
            pointer-events: none;
        }
    </style>
    {% include 'components/table-size.html' %}
    <main class="page">
        <div class="product-detail">
            <div class="product-detail-left">
                <div class="product-detail-info">
                    <div class="product-detail-name">{{ product.title }}</div>
                    {% for color in product.product_colors.all %}
                        {% if forloop.first %}
                            <div class="product-detail-id">
                                {{ color.article }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="breadcrumb">
                    <a class="breadcrumb-link"
                       href="{% url 'index' %}">Главная</a>
                    <a class="breadcrumb-link"
                       href="{{ product.subcategory.all.0.category.main_category.get_absolute_url }}">
                        {{ product.subcategory.all.0.category.main_category }}</a>
                    <a class="breadcrumb-link"
                       href="{{ product.subcategory.all.0.get_absolute_url }}">
                        {{ product.subcategory.all.0.title }}</a>
                    <span class="breadcrumb-active">{{ product.title }}</span>
                </div>
                <div class="product-detail-images__wrapper"
                     style="position: relative">
                    <div class="preloader"
                         style="position: absolute; visibility: hidden; opacity: 0; background-color:#ffffff9e">
                        <p style="align-self: flex-start;padding: 100px 20px;">
                            Загрузка ....</p>
                    </div>
                    <div class="product-detail-images owl-carousel">
                        {% for color in product.product_colors.all %}
                            {% if forloop.first %}
                                {% for image in color.product_color_images.all %}
                                    <div class="product-detail-image">
                                        <img class="product-detail-image-ghost"
                                             src="{{ image.image.url }}"
                                             alt=""/>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="product-detail-desctiprion">
                    <div class="product-detail-desctiprion-title">Описание</div>
                    <div class="show-more-box">
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                </div>
                <div class="product-detail-characteristic">
                    <div class="product-detail-characteristic-title">
                        Характеристики
                    </div>
                    <div class="less-more-box">
                        <ul>
                            {% for characteristic in product.characteristics.all %}
                                <li>
                                    <div class="left">{{ characteristic.title }}</div>
                                    <div class="right">{{ characteristic.name }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="mobile-form">
                    <form action="">
                        <div class="product-info-right">
                            <div class="filter-item show">
                                <div class="filter-tab">Размер</div>
                                <div class="filter-content">
                                    <div class="form-error-msg"
                                     style="margin-bottom: 12px; position: static"></div>
                                    <ul class="choice-table-size tabs">
                                        <li class="table-size-item"
                                            data-id="eu_size"
                                            rel="tab1-1">EUR
                                        </li>
                                        <li class="table-size-item"
                                            data-id="uk_size"
                                            rel="tab2-2">UK
                                        </li>
                                        <li class="table-size-item"
                                            data-id="jp_size"
                                            rel="tab3-3">JP
                                        </li>
                                        <li class="table-size-item"
                                            data-id="ru_size"
                                            rel="tab4-4">RU
                                        </li>
                                    </ul>
                                    <div class="tab_container">
                                        <div class="grid-filter-label tab_content"
                                             id="tab1-1" data-id="eu_size">
                                            {% for product_size in product_sizes %}
                                                {% if product_size.size.eu_size %}
                                                    {% if not product_size.is_available %}
                                                        <label class="filter-label disactive">
                                                            <input class="filter-input-checkbox"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.eu_size }}
                                                            </div>
                                                        </label>
                                                    {% else %}
                                                        <label class="filter-label"
                                                               data-size-id="{{ product_size.id }}">
                                                            <input class="filter-input-checkbox product-size-input"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.eu_size }}
                                                            </div>
                                                        </label>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="grid-filter-label tab_content"
                                             id="tab2-2" data-id="uk_size">
                                            {% for product_size in product_sizes %}
                                                {% if product_size.size.us_size %}
                                                    {% if not product_size.is_available %}
                                                        <label class="filter-label disactive">
                                                            <input class="filter-input-checkbox"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.us_size }}
                                                            </div>
                                                        </label>
                                                    {% else %}
                                                        <label class="filter-label"
                                                               data-size-id="{{ product_size.id }}">
                                                            <input class="filter-input-checkbox product-size-input"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.us_size }}
                                                            </div>
                                                        </label>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="grid-filter-label tab_content"
                                             id="tab3-3" data-id="jp_size">
                                            {% for product_size in product_sizes %}
                                                {% if product_size.size.jp_size %}
                                                    {% if not product_size.is_available %}
                                                        <label class="filter-label disactive">
                                                            <input class="filter-input-checkbox"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.jp_size }}
                                                            </div>
                                                        </label>
                                                    {% else %}
                                                        <label class="filter-label"
                                                               data-size-id="{{ product_size.id }}">
                                                            <input class="filter-input-checkbox product-size-input"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.jp_size }}
                                                            </div>
                                                        </label>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="grid-filter-label tab_content"
                                             id="tab4-4" data-id="ru_size">
                                            {% for product_size in product_sizes %}
                                                {% if product_size.size.ru_size %}
                                                    {% if not product_size.is_available %}
                                                        <label class="filter-label disactive">
                                                            <input class="filter-input-checkbox"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.ru_size }}
                                                            </div>
                                                        </label>
                                                    {% else %}
                                                        <label class="filter-label"
                                                               data-size-id="{{ product_size.id }}">
                                                            <input class="filter-input-checkbox product-size-input"
                                                                   name="size_checkbox{{ product_size.id }}"
                                                                   type="checkbox"/>
                                                            <div class="filter-indicator-size">
                                                                {{ product_size.size.ru_size }}
                                                            </div>
                                                        </label>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if table_size %}
                                        <div class="table-size">
                                            Таблица размеров
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="filter-item show">
                                    <div class="filter-tab">Цвет</div>
                                    <div class="filter-content">
                                        <div class="grid-filter-label">
                                            {% for color in product.product_colors.all %}
                                                {% if forloop.first %}
                                                    {% for image in color.product_color_images.all %}
                                                        {% if forloop.first %}
                                                            <label class="filter-label get-image-ajax"
                                                                   data-color-id="{{ color.id }}"
                                                                   data-url="{% url 'product_color_images' %}">
                                                                <input class="filter-input-checkbox product-color-input"
                                                                       checked
                                                                       type="radio"
                                                                       name="radio"/>
                                                                <div class="filter-indicator-color image-color">
                                                                    <img class="product-detail-image-preview"
                                                                         src="{{ image.image.url }}"/>
                                                                </div>
                                                            </label>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for image in color.product_color_images.all %}
                                                        {% if forloop.first %}
                                                            <label class="filter-label get-image-ajax"
                                                                   data-color-id="{{ color.id }}"
                                                                   data-url="{% url 'product_color_images' %}">
                                                                <input class="filter-input-checkbox product-color-input"
                                                                       type="radio"
                                                                       name="radio"/>
                                                                <div class="filter-indicator-color image-color">
                                                                    <img class="product-detail-image-preview"
                                                                         src="{{ image.image.url }}"/>
                                                                </div>
                                                            </label>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detail-price">
                                <div class="product-detail-price-item">
                                    <div class="product-detail-price-title">
                                        Цена:
                                    </div>
                                    {% if product.discount == 0 %}
                                        <div class="product-detail-price-value">
                                            {{ product.get_discount_sum }}₽
                                        </div>
                                    {% else %}
                                        <div class="product-detail-price-value">{{ product.get_discount_sum }}
                                            ₽
                                        </div>
                                        <div class="product-detail-price-item">
                                            <div class="product-detail-old-price-value">{{ product.price }}</div>
                                        </div>
                                        <div class="product-detail-price-item">
                                            <div class="product-detail-discount-value">{{ product.discount }}%</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product-detail-actions">
                                <div class="add-remove-product__wrapper">
                                    <div class="add-remove-product-to-cart">
                                        <span>Товар добавлен в корзину</span>
                                        <a href="/cart/">Корзина</a>
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                    <div class="product-detail-like add_to_favorite
                                        {% if product in user.favorite_user.product.all %}
                                            active
                                        {% endif %}" data-id="{{ product.id }}"
                                         data-url="{% url 'add-favorite' %}">
                                        <svg class="icon">
                                            <use xlink:href="#ant-design_heart-filled2"></use>
                                        </svg>
                                    </div>
                                {% else %}
                                    <a href="{% url 'login' %}"
                                       class="product-detail-like">
                                        <svg class="icon">
                                            <use xlink:href="#ant-design_heart-filled2"></use>
                                        </svg>
                                    </a>
                                {% endif %}
                                <div class="product-detail-cart add_to_cart"
                                     data-id="{{ product.id }}"
                                     data-url="{% url 'add_product_to_cart' %}">
                                    <svg class="icon">
                                        <use xlink:href="#shopping-cart"></use>
                                    </svg>
                                    <div>Добавить в корзину</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="product-detail-right">
                <div class="product-detail-filter">
                    <div class="product-info-right">
                        <div class="filter-item show">
                            <div class="filter-tab">Размер</div>
                            <div class="filter-content product-size__wrapper">
                                <div class="form-error-msg"
                                     style="margin-bottom: 12px"></div>
                                <ul class="choice-table-size tabs">
                                    <li class="table-size-item"
                                        data-id="eu_size" rel="tab1">EUR
                                    </li>
                                    <li class="table-size-item"
                                        data-id="uk_size" rel="tab2">UK
                                    </li>
                                    <li class="table-size-item"
                                        data-id="jp_size" rel="tab3">JP
                                    </li>
                                    <li class="table-size-item"
                                        data-id="ru_size" rel="tab4">RU
                                    </li>
                                </ul>
                                <div class="tab_container">
                                    <div class="grid-filter-label tab_content"
                                         data-id="eu_size"
                                         id="tab1">
                                        {% for product_size in product_sizes %}
                                            {% if product_size.size.eu_size %}
                                                {% if not product_size.is_available %}
                                                    <label class="filter-label disactive">
                                                        <input class="filter-input-checkbox"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.eu_size }}
                                                        </div>
                                                    </label>
                                                {% else %}
                                                    <label class="filter-label"
                                                           data-size-id="{{ product_size.id }}">
                                                        <input class="filter-input-checkbox product-size-input"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.eu_size }}
                                                        </div>
                                                    </label>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="grid-filter-label tab_content"
                                         data-id="uk_size"
                                         id="tab2">
                                        {% for product_size in product_sizes %}
                                            {% if product_size.size.us_size %}
                                                {% if not product_size.is_available %}
                                                    <label class="filter-label disactive">
                                                        <input class="filter-input-checkbox"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.us_size }}
                                                        </div>
                                                    </label>
                                                {% else %}
                                                    <label class="filter-label"
                                                           data-size-id="{{ product_size.id }}">
                                                        <input class="filter-input-checkbox product-size-input"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.us_size }}
                                                        </div>
                                                    </label>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="grid-filter-label tab_content"
                                         data-id="jp_size"
                                         id="tab3">
                                        {% for product_size in product_sizes %}
                                            {% if product_size.size.jp_size %}
                                                {% if not product_size.is_available %}
                                                    <label class="filter-label disactive">
                                                        <input class="filter-input-checkbox"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.jp_size }}
                                                        </div>
                                                    </label>
                                                {% else %}
                                                    <label class="filter-label"
                                                           data-size-id="{{ product_size.id }}">
                                                        <input class="filter-input-checkbox product-size-input"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.jp_size }}
                                                        </div>
                                                    </label>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="grid-filter-label tab_content"
                                         data-id="ru_size"
                                         id="tab4">
                                        {% for product_size in product_sizes %}
                                            {% if product_size.size.ru_size %}
                                                {% if not product_size.is_available %}
                                                    <label class="filter-label disactive">
                                                        <input class="filter-input-checkbox"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.ru_size }}
                                                        </div>
                                                    </label>
                                                {% else %}
                                                    <label class="filter-label"
                                                           data-size-id="{{ product_size.id }}">
                                                        <input class="filter-input-checkbox product-size-input"
                                                               name="size_checkbox{{ product_size.id }}"
                                                               type="checkbox"/>
                                                        <div class="filter-indicator-size">
                                                            {{ product_size.size.ru_size }}
                                                        </div>
                                                    </label>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if table_size %}
                                    <div class="table-size">
                                        Таблица размеров
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="filter-item show">
                            <div class="filter-tab">Цвет</div>
                            <div class="filter-content">
                                <div class="grid-filter-label">
                                    {% for color in product.product_colors.all %}
                                        {% if forloop.first %}
                                            {% for image in color.product_color_images.all %}
                                                {% if forloop.first %}
                                                    <label class="filter-label get-image-ajax"
                                                           data-color-id="{{ color.id }}"
                                                           data-url="{% url 'product_color_images' %}">
                                                        <input class="filter-input-checkbox product-color-input"
                                                               checked
                                                               type="radio"
                                                               name="radio"/>
                                                        <div class="filter-indicator-color image-color">
                                                            <img class="product-detail-image-preview"
                                                                 src="{{ image.image.url }}"/>
                                                        </div>
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for image in color.product_color_images.all %}
                                                {% if forloop.first %}
                                                    <label class="filter-label get-image-ajax"
                                                           data-color-id="{{ color.id }}"
                                                           data-url="{% url 'product_color_images' %}">
                                                        <input class="filter-input-checkbox product-color-input"
                                                               type="radio"
                                                               name="radio"/>
                                                        <div class="filter-indicator-color image-color">
                                                            <img class="product-detail-image-preview"
                                                                 src="{{ image.image.url }}"/>
                                                        </div>
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="product-detail-price">
                            <div class="product-detail-price-title">Цена:
                            </div>
                            {% if product.discount == 0 %}
                                <div class="product-detail-price-value">{{ product.get_discount_sum }}
                                    ₽
                                </div>
                            {% else %}
                                <div class="product-detail-price-item">
                                    <div class="product-detail-price-value">{{ product.get_discount_sum }}
                                        ₽
                                    </div>
                                </div>
                                <div class="product-detail-price-item">
                                    <div class="product-detail-old-price-value">{{ product.price }}</div>
                                </div>
                                <div class="product-detail-price-item">
                                    <div class="product-detail-discount-value">{{ product.discount }}%</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="product-detail-actions">
                            {% if user.is_authenticated %}
                                <div class="product-detail-like add_to_favorite
                                {% if product in user.favorite_user.product.all %}
                                    active
                                {% endif %}" data-id="{{ product.id }}"
                                     data-url="{% url 'add-favorite' %}">
                                    <svg class="icon">
                                        <use xlink:href="#ant-design_heart-filled2"></use>
                                    </svg>
                                </div>
                            {% else %}
                                <a href="{% url 'login' %}"
                                   class="product-detail-like">
                                    <svg class="icon">
                                        <use xlink:href="#ant-design_heart-filled2"></use>
                                    </svg>
                                </a>
                            {% endif %}
                            <div class="product-detail-cart add_to_cart"
                                 data-id="{{ product.id }}"
                                 data-url="{% url 'add_product_to_cart' %}">
                                <svg class="icon">
                                    <use xlink:href="#shopping-cart"></use>
                                </svg>
                                <div>Добавить в корзину</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-remove-product__wrapper">
                    <div class="add-remove-product-to-cart">
                        <span>Товар добавлен в корзину</span>
                        <a href="{% url 'cart' %}">Корзина</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-carousel">
            <div class="product-carousel-title">Вам также может понравится</div>
            <div class="product-carousel-owl owl-carousel">
                {% for product in similar_products %}
                    {% include 'components/card.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="product-detail">
            <div class="product-detail-left">
                <div class="product-reviews">
                    <div class="product-reviews-title">
                        отзывы
                        <div class="product-reviews-show-textarea">Оставить
                            отзыв
                        </div>
                    </div>
                    <form method="post" class="product-reviews-textarea-box"
                          id="add-comment-to-product"
                          action="{% url 'add-comment' %}"
                          data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <div class="product-reviews-textarea-label">Оставить
                            отзыв
                        </div>
                        <textarea class="product-reviews-textarea-textarea"
                                  id="description"
                                  placeholder="Введите текст" name="description"
                                  rows="8" required="required"></textarea>
                        <div class="product-reviews-textarea-between">
                            <div class="title-mobile-rating">Оцените товар</div>
                            <div class="product-reviews-textarea-rating">
                                <select class="star-rating" name="rating"
                                        id="rating" required="required">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="product-reviews-textarea-actions">
                                <div class="product-reviews-textarea-btn">
                                    Отмена
                                </div>
                                {% if request.user.is_authenticated %}
                                    <button class="product-reviews-textarea-btn-fill"
                                            type="submit">
                                        Отправить
                                    </button>
                                {% else %}
                                    <button class="product-reviews-textarea-btn-fill"
                                            type="submit">
                                        <a href="{% url 'registration' %}"
                                           style="text-decoration: none; color: #fff; font-size: 14px; font-weight: 500;">
                                            Отправить
                                        </a>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <div class="comment-wrapper">
                        {% if product_comments %}
                            {% include 'components/render-comments.html' %}
                        {% endif %}
                    </div>
                    {% with product_comments as page_obj %}
                        {% if page_obj.has_next %}
                            <div class="show-more-review">
                                <div class="show-more-review-btn"
                                     data-page="{{ page_obj.next_page_number }}"
                                     data-product-id="{{ product.id }}"
                                     data-url="{% url 'comments' %}">
                                    Еще отзывы
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="modal-product__carousel">
            <div class="modal-product__close"></div>
            <div class="modal-product__inner">
                <div class="modal-carousel-owl owl-carousel">
                    {% for color in product.product_colors.all %}
                        {% if forloop.first %}
                            {% for image in color.product_color_images.all %}
                                <img src="{{ image.image.url }}"
                                     alt="{{ product.title }}"/>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block navigation %}
            {% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/rating.js' %}"></script>
    <script>
        $(function () {
            $(".star-rating").barrating({
                theme: "css-stars",
            });
        });
    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
