{% extends 'base.html' %}
{% load static %}
{% block title_page %}Профиль{% endblock %}
{% load widget_tweaks %}

{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Профиль
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link" href="{% url 'index' %}">
                                            Главная
                                        </a>
                                        <span class="breadcrumb-active">
                                            Профиль
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <form method="post" enctype='multipart/form-data'
                                  data-url="{% url 'profile' %}" id="profile-page">
                                {% csrf_token %}
                                <div class="profile-grid">
                                    <div class="profile-avatar">
                                        <input disabled id="avatar" type="file"
                                               accept="image/jpg, image/png, image/jpeg" name="image"/>
                                        <div hidden class="image_profile">
                                            {{ profile_form.image }}
                                        </div>
                                        <img src="{% static 'img/svg/avatar.svg' %}"
                                             id="imagePreview" alt=""/>
                                        <label class="label-avatar-btn"
                                               for="avatar" id="addImage">
                                            <svg class="icon">
                                                <use xlink:href="#photo"></use>
                                            </svg>
                                            <div id="image" onclick="document.getElementById('id_image').click()">
                                                Загрузить фото
                                            </div>
                                        </label>
                                        {% if image_profile %}
                                            <div class="label-avatar-btn delete-avatar-ajax"
                                                 data-user-id="{{ user.id }}"
                                                 data-url="{% url 'delete-avatar' %}">
                                                {% csrf_token %}
                                                <svg class="icon">
                                                    <use xlink:href="#trash"></use>
                                                </svg>
                                                <div>Удалить фото</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="profile-form">
                                        <div class="profile-form-title">
                                            обо мне
                                        </div>
                                        <div class="form-box">
                                            {{ user_form.first_name| add_class:"form-input" }}
                                            <div class="form-label-text">Имя*
                                            </div>
                                        </div>
                                        <div class="form-box">
                                            {{ user_form.last_name| add_class:"form-input" }}
                                            <div class="form-label-text">Фамилия
                                                *
                                            </div>
                                        </div>
                                        <div class="form-box">
                                            {{ user_form.email| add_class:"form-input" }}
                                            <div class="form-label-text">e-mail
                                                *
                                            </div>
                                        </div>
                                        <div class="form-box form-box-birthday">
                                            <div class="form-error-msg"></div>
                                            <input type="hidden" name="birthday"
                                                   class="form-field"
                                                   value="{{ request.user.birthday| date:'d.m.Y' }}">
                                            <div class="form-box form-box-birthday">
                                                <div class="form-box-birthday__label">
                                                    Дата рождения
                                                </div>
                                                <div class="form-box-birthday__grid">
                                                    <div class="form-box-birthday__item">
                                                        <input class="form-input form-birthday"
                                                               type="text"
                                                               placeholder="День"
                                                               required="required"
                                                               value="{{ request.user.birthday.day }}"/>
                                                    </div>
                                                    <div class="form-box-birthday__item">
                                                        <select class="form-select form-birthday"
                                                                placeholder="Месяц"
                                                                required="required"
                                                                value="{{ request.user.birthday.month }}">
                                                            <option value="1"
                                                            {% if request.user.birthday.month == 1 %}
                                                                selected
                                                            {% endif %}>
                                                                Январь
                                                            </option>
                                                            <option value="2"
                                                            {% if request.user.birthday.month == 2 %}
                                                                selected
                                                            {% endif %}>
                                                                Февраль
                                                            </option>
                                                            <option value="3"
                                                            {% if request.user.birthday.month == 3 %}
                                                                selected
                                                            {% endif %}>
                                                                Март
                                                            </option>
                                                            <option value="4"
                                                            {% if request.user.birthday.month == 4 %}
                                                                selected
                                                            {% endif %}>
                                                                Апрель
                                                            </option>
                                                            <option value="5"
                                                            {% if request.user.birthday.month == 5 %}
                                                                selected
                                                            {% endif %}>
                                                                Май
                                                            </option>
                                                            <option value="6"
                                                            {% if request.user.birthday.month == 6 %}
                                                                selected
                                                            {% endif %}>
                                                                Июнь
                                                            </option>
                                                            <option value="7"
                                                            {% if request.user.birthday.month == 7 %}
                                                                selected
                                                            {% endif %}>
                                                                Июль
                                                            </option>
                                                            <option value="8"
                                                            {% if request.user.birthday.month == 8 %}
                                                                selected
                                                            {% endif %}>
                                                                Август
                                                            </option>
                                                            <option value="9"
                                                            {% if request.user.birthday.month == 9 %}
                                                                selected
                                                            {% endif %}>
                                                                Сентябрь
                                                            </option>
                                                            <option value="10"
                                                            {% if request.user.birthday.month == 10 %}
                                                                selected
                                                            {% endif %}>
                                                                Октябрь
                                                            </option>
                                                            <option value="11"
                                                            {% if request.user.birthday.month == 11 %}
                                                                selected
                                                            {% endif %}
                                                            >
                                                                Ноябрь
                                                            </option>
                                                            <option value="12"
                                                            {% if request.user.birthday.month == 12 %}
                                                                selected
                                                            {% endif %}>
                                                                Декабрь
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="form-box-birthday__item">
                                                        <input class="form-input form-birthday"
                                                               type="text"
                                                               placeholder="Год"
                                                               required="required"
                                                               value="{{ request.user.birthday.year }}"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ user_form.gender| add_class:"form-select" }}
                                        <div class="form-box">
                                        </div>
                                        <div class="form-box">
                                            {{ profile_form.region| add_class:"form-input" }}
                                            <div class="form-label-text">
                                                Область
                                            </div>
                                        </div>
                                        <div class="form-box">
                                            {{ user_form.city| add_class:"form-input" }}
                                            <div class="form-label-text">Ваш
                                                город
                                            </div>
                                        </div>
                                        <div class="form-box">
                                            {{ profile_form.street| add_class:"form-input" }}
                                            <div class="form-label-text">
                                                Улица *
                                            </div>
                                        </div>
                                        <div style="display: flex; gap: 10px">
                                            <div class="form-box">
                                                {{ profile_form.home| add_class:"form-input" }}
                                                <div class="form-label-text">
                                                    Дом
                                                    *
                                                </div>
                                            </div>
                                            <div class="form-box">
                                                {{ profile_form.apartment| add_class:"form-input" }}
                                                <div class="form-label-text">
                                                    Квартира
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-box">
                                            <button class="form-button"
                                                    type="submit">Сохранить
                                            </button>
                                        </div>
                                    </div>
                                    <div class="profile-text">
                                        <div class="profile-text-title">
                                            Пароль
                                        </div>
                                        <div class="profile-text-desc">
                                            Чтобы изменить пароль, сначала
                                            проверьте
                                            подлинность текущего. Затем
                                            создайте
                                            пароль, который вы не
                                            используете в
                                            других местах, и обязательно
                                            регулярно
                                            его
                                            меняйте, особенно когда
                                            подозреваете,
                                            что он был взломан.
                                        </div>
                                        <a class="profile-text-btn"
                                           href="{% url 'new-password-profile' %}">
                                            <svg class="icon">
                                                <use xlink:href="#lock"></use>
                                            </svg>
                                            <div>Изменить пароль</div>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}

{% block scripts %}
    <script>
        $("#id_image").on('change', function() {
            $('#profile-page').submit()
        })

        $(window).on('load', function () {
            $('#imagePreview').attr('src', $('.image_profile a').attr('href'))
        })
    </script>
    <script>
        $('.form-box-birthday__grid .form-birthday').on('change keyup', function () {
            var date = $('.form-box-birthday__grid .form-birthday:eq(0)').val() + '-'
                + $('.form-box-birthday__grid .form-birthday:eq(1)').val() + '-'
                + $('.form-box-birthday__grid .form-birthday:eq(2)').val()
            $("input[name='birthday']").val(date)
        })
    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
