{% extends 'base.html' %}
{% load static %}
{% block title_page %}Новости{% endblock %}

{% block page %}profile-news-page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper news-list">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Новости
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link"
                                           href="{% url 'index' %}">
                                            Главная
                                        </a>
                                        <span class="breadcrumb-active">
                                            Новости
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-news">
                                <div class="profile-news-grid">
                                    <div class="profile-news-left">
                                        {% for news_item in left_lst %}
                                            {% include 'components/news-card-big.html' with news_item=news_item %}
                                        {% endfor %}
                                    </div>
                                    <div class="profile-news-right">
                                        <div class="profile-news-grid-small">
                                            {% for news_item in right_lst %}
                                                {% include 'components/news-card-small.html' with news_item=news_item %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% include 'components/modal-page-error.html' %}
                                {% include 'components/pagination.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
