{% extends 'base.html' %}
{% load static %}
{% block title_page %}История заказов{% endblock %}
{% block page_class %}order-history{% endblock %}

{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">История
                                        заказа
                                    </div>
                                    <div class="breadcrumb"><a
                                            class="breadcrumb-link" href="">Главная</a><span
                                            class="breadcrumb-active">История заказа</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for order in order_history %}
                            <div class="order-history-box">
                                <div class="order-history-head">
                                    <div class="order-history-head-date">{{ order.create_at }}</div>
                                    <div class="order-history-head-id">
                                        Номер заказа:
                                        <span>{{ order.id }}</span>
                                    </div>
                                    <div class="order-history-head-status
                                        {% if order.status == 'progress' %}
                                            status-1
                                        {% elif order.status == 'delivered' %}
                                            status-3
                                        {% else %}
                                            status-2
                                        {% endif %}">
                                        {{ order.get_status_display }}
                                    </div>
                                </div>
                                <div class="order-cols">
                                    <div class="order-cols-left">
                                        {% for product in order.order_products.all %}
                                            {% if product.status != 'return' %}
                                                <div class="order-history-box-item">
                                                    <div class="cart-item">
                                                        <div class="cart-item-image">
                                                            {% if product.product.is_new %}
                                                                <div class="cart-item-new">
                                                                    NEW
                                                                </div>
                                                            {% endif %}
                                                            <img src="{{ product.image.url }}"
                                                                 alt=""/>
                                                        </div>
                                                        <div class="cart-item-info">
                                                            <div class="cart-item-name">{{ product.title }}
                                                            </div>
                                                            <div class="cart-item-desc">
                                                                {{ product.text|truncatechars:100 }}
                                                            </div>
                                                            <div class="cart-item-article">
                                                                <span>Артикул:</span>{{ product.article }}
                                                            </div>
                                                            <div class="cart-item-characteristic">
                                                                <div class="cart-item-characteristic-item">
                                                                    Цвет:<span>{{ product.color }}</span>
                                                                </div>
                                                                <div class="cart-item-characteristic-item">
                                                                    Размер:<span>{{ product.size }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="cart-count-static">
                                                            Количество<span>{{ product.quantity }}</span>
                                                        </div>
                                                        <div class="cart-price">
                                                            <div class="cart-new-price">{{ product.price_with_discount }}
                                                                ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="order-cols-right">
                                        <div class="order-total">
                                            <div class="order-total-head">
                                                <div>Итого:</div>
                                                <div>{{ order.price_with_discount }}
                                                    ₽
                                                </div>
                                            </div>
                                            <div class="order-total-body">
                                                <div>Количество товаров</div>
                                                <div>{{ order.quantity }} шт
                                                </div>
                                            </div>
                                            <div class="order-total-body">
                                                <div>Стоимость доставки</div>
                                                <div>{{ order.delivery_price }}
                                                    ₽
                                                </div>
                                            </div>
                                            <div class="order-line"></div>
                                            <a href="{% url 'return-order' order.id %}"
                                               style="text-decoration: none"
                                               class="order-btn">Оформить
                                                возврат</a>
                                            <a href="{% url 'delivery' %}" class="delivery-btn">
                                                Условия доставки
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for order in return_order %}
                            <div class="order-history-box">
                                <div class="order-history-head">
                                    <div class="order-history-head-date">{{ order.create_at }}</div>
                                    <div class="order-history-head-id">
                                        Номер заказа:
                                        <span>{{ order.id }}</span>
                                    </div>
                                    <div class="order-history-head-status status-4">
                                        {{ order.get_status_display }}
                                    </div>
                            </div>
                            <div class="order-cols">
                                <div class="order-cols-left">
                                    {% for product in order.return_order_products.all %}
                                        <div class="order-history-box-item">
                                            <div class="cart-item">
                                                <div class="cart-item-image">
                                                    {% if product.product.is_new %}
                                                        <div class="cart-item-new">NEW</div>
                                                    {% endif %}
                                                    <img src="{{ product.image.url }}" alt=""/>
                                                </div>
                                                <div class="cart-item-info">
                                                    <div class="cart-item-name">{{ product.title }}
                                                    </div>
                                                    <div class="cart-item-desc">
                                                        {{ product.text|truncatechars:100 }}
                                                    </div>
                                                    <div class="cart-item-article">
                                                        <span>Артикул:</span>{{ product.article }}
                                                    </div>
                                                    <div class="cart-item-characteristic">
                                                        <div class="cart-item-characteristic-item">
                                                            Цвет:<span>{{ product.color }}</span>
                                                        </div>
                                                        <div class="cart-item-characteristic-item">
                                                            Размер:<span>{{ product.size }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-count-static">
                                                    Количество<span>{{ product.quantity }}</span>
                                                </div>
                                                <div class="cart-price">
                                                    <div class="cart-new-price">{{ product.price_with_discount }} ₽</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="order-cols-right">
                                    <div class="order-total">
                                        <div class="order-total-head">
                                            <div>Итого:</div>
                                            <div>{{ order.price_with_discount }} ₽</div>
                                        </div>
                                        <div class="order-total-body">
                                            <div>Количество товаров</div>
                                            <div>{{ order.quantity }} шт</div>
                                        </div>
                                        <div class="order-line"></div>
                                        <div class="delivery-btn">Условия доставки
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
