{% extends 'base.html' %}
{% load static %}
{% block title_page %}Новости детальная{% endblock %}

{% block page %}news-detail__page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Новости
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link" href="{% url 'index' %}">
                                            Главная
                                        </a>
                                        <a class="breadcrumb-link" href="{% url 'news' %}">
                                            Новости
                                        </a>
                                        <span class="breadcrumb-active">
                                            {{ news_item.title }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-news">
                                <div class="profile-news-detail">
                                    <div class="profile-news-detail-left">
                                        <div class="profile-news-detail-ck-editor">
                                            {% if news_item.news_image %}
                                                <img src="{{ news_item.news_image.url }}" alt=""/>
                                            {% endif %}
                                            <h2 class="profile-news-detail-ck-editor-title">
                                                {{ news_item.title }}
                                            </h2>
                                            {% if news_item.date %}
                                                <div class="profile-news-detail-ck-editor-date">
                                                    {{ news_item.date }}
                                                </div>
                                            {% endif %}
                                            <div class="profile-news-detail-text">
                                                {{ news_item.description|safe }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-news-detail-right">
                                        {% for news_item in other_news %}
                                            {% include 'components/news-card-small.html' with news_item=news_item %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
