{% extends 'base.html' %}
{% load static %}
{% block title_page %}Детальная готовых комплектов{% endblock %}

{% block page %}product-list__page{% endblock %}
{% block content %}
    <main class="page ready-made-kits__page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        {{ product.title }}
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link"
                                           href="{% url 'index' %}">Главная</a>
                                        <span class="breadcrumb-active">{{ product.title }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kits-flex">
                                <div class="kits-flex-image">
                                    <div class="slider-for">
                                        {% for color_img in kit_images %}
                                            <div class="item">
                                                <img src="{{ color_img.image.url }}"
                                                     alt=""/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="slider-nav">
                                        {% for color_img in kit_images %}
                                            <div class="item">
                                                <img src="{{ color_img.image.url }}"
                                                     alt=""/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="product-wrapper-between">
                                    <div>
                                        <div class="product-wrapper-title">
                                            {{ product.title }}
                                        </div>
                                        <div class="breadcrumb">
                                            <a class="breadcrumb-link"
                                               href="{% url 'index' %}">Главная</a>
                                            <span class="breadcrumb-active">{{ product.title }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="kits-flex-info">
                                    <div class="kits-flex-info-price">
                                        Цена:
                                        {% if product.discount == 0 %}
                                            <div class="kits-flex-info-new-price" style="border-right: none">
                                                {{ product.get_discount_sum }} ₽
                                            </div>
                                        {% else %}
                                            <div class="kits-flex-info-new-price">
                                                {{ product.get_discount_sum }} ₽
                                            </div>
                                            <div class="kits-flex-info-old-price">
                                                {{ product.price }} ₽
                                            </div>
                                            <div class="kits-flex-info-discount">
                                                {{ product.discount }}%
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="kits-flex-info-grid">
                                        {% for kit_info in product.description_ready_made_kit.all %}
                                            <div class="kits-flex-info-item">
                                                <div class="kits-flex-info-title">
                                                    {{ kit_info.title }}
                                                </div>
                                                <div class="kits-flex-info-name">
                                                    {{ kit_info.model }}
                                                </div>
                                                <div class="kits-flex-info-id">
                                                    {{ kit_info.article }}
                                                </div>
                                                <div class="kits-flex-info-desc">
                                                    {{ kit_info.description }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="button-open-form">Оставить
                                        заявку
                                    </div>
                                    <form class="kits-color-form"
                                          action="{% url 'ready-made-kits-detail' slug=product.slug %}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="filter-item show"
                                             data-name="color_filter">
                                            <div class="filter-tab">Цвет</div>
                                            <div class="filter-content"
                                                 style="display: block">
                                                <div class="grid-filter-label">
                                                    {% for product_color in product.product_colors.all %}
                                                        <label class="filter-label">
                                                            <input class="filter-input-checkbox"
                                                                   value="{{ product_color.id }}"
                                                                   type="radio"
                                                                   name="radio"/>
                                                            <div class="filter-indicator-color">
                                                                <span style="background-color: {{ product_color.color.hex }};
                                                                        {% if product_color.color.border %}
                                                                            border: 1px solid #D4E3FF;
                                                                        {% endif %}">
                                                                </span>
                                                            </div>
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="aside-bar aside-bar__mobile"
                         data-product-kit-id="{{ product.id }}">
                        <div class="aside-form">
                            <form action="{% url 'ready-made-kit-form' %}"
                                  method="post" id="ready-made-kit-form">
                                {% csrf_token %}

                                <input type="hidden" name="order_info">
                                <input type="hidden" name="product_count">

                                <div class="aside-form-title">Оставить заявку
                                </div>
                                <div class="form-box">
                                    <input class="form-input" type="text"
                                           name="name"
                                           placeholder=" "/>
                                    <span class="form-label-text">Имя*</span>
                                    <div class="form-error-msg"></div>
                                </div>

                                <div class="form-box">
                                    <input class="form-input" type="text"
                                           name="phone"
                                           placeholder=" "/>
                                    <span class="form-label-text">Телефон*</span>
                                    <div class="form-error-msg"></div>
                                </div>

                                <div class="form-box">
                                    <input class="form-input" type="text"
                                           name="email"
                                           placeholder=" "/>
                                    <span class="form-label-text">e-mail*</span>
                                    <div class="form-error-msg"></div>
                                </div>

                                <div class="form-box">
                                    <textarea class="form-textarea" rows="5"
                                              name="text"
                                              placeholder=" ">
                                    </textarea>
                                    <span class="form-label-text">Комментарий</span>
                                </div>
                                <div class="form-box">
                                    <button class="form-button animation-loader"
                                            type="submit"
                                            style="position: relative;">
                                        Отправить
                                        <img src="{% static 'img/loader.gif' %}"
                                             alt="load img"
                                             style="position: absolute; height: 45px; display: none">
                                    </button>
                                    <div class="form-button form-button-only-text cancel-application-button">
                                        Отмена
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="aside-success" style="display: none">
                            <div class="aside-success-title">Успешно
                                отправлено
                            </div>
                            <div class="aside-success-btn form-button success-application-button">
                                Хорошо
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}
            {% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script>
        const sliderForSettings = {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            nav: true,
            asNavFor: '.slider-nav',
            responsive: [
                {
                    breakpoint: 426,
                    settings: {
                        dots: true,
                        arrows: false,
                    }
                }
            ]
        };
        const sliderNavSettings = {
            slidesToShow: 5,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            focusOnSelect: true,
            responsive: [
                {
                    breakpoint: 426,
                    settings: {
                        arrows: false,
                    }
                }
            ]
        };

        var filterInputCheckBoxes = $('.filter-input-checkbox');
        filterInputCheckBoxes.first().attr('checked', true);

        // Кнопка отмена для сброса полей формы
        $('.cancel-application-button').on('click', function () {
            $("#ready-made-kit-form")[0].reset();
        });

        // Кнопка хорошо для возврата очищенной формы
        $(".success-application-button").on('click', function () {
            $('.aside-form').css('display', 'block');
            $('.aside-success').css('display', 'none');
        })

        $('.button-open-form').on("click", function () {
            $('.aside-bar').addClass("show")
        })

        $('.form-button-only-text').on("click", function () {
            $('.aside-bar').removeClass("show")
        })

    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
{% endblock %}
