{% extends 'base.html' %}
{% load static %}
{% block title_page %}Регистрация{% endblock %}

{% block page %}auth-page__wrapper{% endblock %}
{% block content %}
    <div class="auth-page">
        <div class="container-fluid">
            <div class="auth-image"
                 style="background-image: url({% static 'img/jpg/auth-banner-2.jpg' %})">
                <div class="auth-box auth-box-large">
                    <a class="auth-mobile-logo" href="">
                        <img src="{% static 'img/svg/logo-text.svg' %}" alt=""/>
                    </a>
                    <div class="auth-title">Регистрация</div>
                    <div class="auth-text">
                        Есть аккаунт?
                        <a class="auth-swap-link"
                           href="{% url 'login' %}">Войти</a>
                    </div>
                    <form class="auth-form auth-form-grid" id="registration"
                          action="{% url 'registration' %}" method="post">
                        {% csrf_token %}
                        <div class="auth-form-grid__item">
                            <div class="form-box">
                                <input class="form-input form-field" type="text"
                                       name="first_name"
                                       placeholder=" " required="required"/>
                                <span class="form-label-text">Имя*</span>
                                <div class="form-error-msg"></div>
                            </div>
                            <div class="form-box">
                                <input class="form-input form-field" type="text"
                                       name="last_name"
                                       placeholder=" " required="required"/>
                                <span class="form-label-text">Фамилия*</span>
                                <div class="form-error-msg"></div>
                            </div>
                            <div class="form-box">
                                <input class="form-input form-field" type="text"
                                       name="email"
                                       placeholder=" " required="required"/>
                                <span class="form-label-text">e-mail *</span>
                                <div class="form-error-msg"></div>
                            </div>
                            <div class="form-box form-box-birthday">
                                <div class="form-error-msg"></div>
                                <input type="hidden" name="birthday"
                                       class="form-field"
                                       value="12.12.1993">
                                <div class="form-box-birthday__label">
                                    Дата рождения
                                </div>
                                <div class="form-box-birthday__grid">
                                    <div class="form-box-birthday__item">
                                        <input class="form-input form-birthday"
                                               type="text"
                                               placeholder="День" maxlength="2"
                                               required="required"/>
                                    </div>
                                    <div class="form-box-birthday__item">
                                        <select class="form-select form-birthday"
                                                placeholder="Месяц">
                                            <option value="1">Январь</option>
                                            <option value="2">Февраль</option>
                                            <option value="3">Март</option>
                                            <option value="4">Апрель</option>
                                            <option value="5">Май</option>
                                            <option value="6">Июнь</option>
                                            <option value="7">Июль</option>
                                            <option value="8">Август</option>
                                            <option value="9">Сентябрь</option>
                                            <option value="10">Октябрь</option>
                                            <option value="11">Ноябрь</option>
                                            <option value="12">Декабрь</option>
                                        </select>
                                    </div>
                                    <div class="form-box-birthday__item">
                                        <input class="form-input form-birthday"
                                               type="text"
                                               placeholder="Год" minlength="4"
                                               maxlength="4"
                                               required="required"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="auth-form-grid__item">
                            <div class="form-box">

                                <div class="form-error-msg"></div>
                                <input type="hidden" name="favorite_sport" class="form-input form-field" required="required">
                                <select class="form-select form-field" name="favorite_sport_select"
                                        multiple="multiple"
                                        placeholder="Любимые виды спорта">
                                    {% for category in favorite_categories %}
                                        {% for sport in category.categories.all %}
                                            {% for favorite in sport.subcategories.all %}
                                                <option value="{{ favorite.slug }}">{{ category }}: {{ favorite.title }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-box">

                                <input class="form-input js-input-type form-field"
                                       name="password" autocomplete="new-password"
                                       type="password" placeholder=" "
                                       required="required"/>
                                <span class="form-label-text">Придумайте пароль*</span>
                                <div class="btn-toggle-type"></div>
                                <div class="form-error-msg"></div>
                            </div>
                            <div class="form-box">
                                <input class="form-input js-input-type form-field"
                                       name="password_repeat"
                                       type="password" placeholder=" "
                                       required="required"/>
                                <span class="form-label-text">
                                    Повторите пароль*
                                </span>
                                <div class="btn-toggle-type"></div>
                                <div class="form-error-msg"></div>
                            </div>
                            <div class="form-col-2">
                                <div class="form-box">
                                    <div class="form-box-birthday__label">Пол</div>
                                    <select class="form-select form-field"
                                            placeholder="Пол"
                                            name="gender">
                                        <option value="male">Мужской</option>
                                        <option value="female">Женский</option>
                                    </select>
                                    <div class="form-error-msg"></div>
                                </div>
                                <div class="form-box">
                                    <div class="form-box-birthday__label">Ваш город</div>
                                    <input class="form-input form-field"
                                           type="text"
                                           name="city"
                                           placeholder="Ваш город" required="required"/>
                                    <div class="form-error-msg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="auth-form-grid__items">
                            <label class="cart-total-subscribe">
                              <input class="cart-total-subscribe-input" type="checkbox" name="is_subscribe"/>
                              <div class="cart-total-subscribe-indicator"></div>
                              <div class="cart-total-subscribe-value">Подписаться на новости и акции</div>
                            </label>
                            <div class="form-box" style="margin-bottom: 10px">
                                <button class="form-button" type="submit">
                                    Зарегистрироваться
                                </button>
                            </div>
                            <div class="form-box">
                                <a class=" form-button form-button-only-text"
                                   href="{% url 'login' %}">Отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
