{% extends 'base.html' %}
{% load static %}
{% block title_page %}Восстановление пароля{% endblock %}

{% block page %}auth-page__wrapper{% endblock %}
{% block content %}
    <div class="auth-page">
        <div class="container-fluid">
            <div class="auth-image" style="background-image:
                    url({% static 'img/jpg/auth-banner-1.jpg' %})">
                <div class="auth-box">
                    <a class="auth-mobile-logo" href="">
                        <img src="{% static 'img/svg/logo-text.svg' %}" alt=""/>
                    </a>
                    <div class="auth-title">Восстановление пароля</div>
                    <div class="auth-text">
                        Новый пароль будет отправлен на вашу
                        почту. Проверьте папки “Входящие” или “Спам”
                    </div>
                    <form class="auth-form" id="get_link_for_new_password"
                          action="{% url 'password-reset' %}" method="post">
                        {% csrf_token %}
                        <div class="form-box">
                            <input class="form-input" type="text" name="email"
                                   placeholder=" " required="required"/>
                            <span class="form-label-text">E-mail*</span>
                        </div>
                        <div class="form-box">
                            <button type="submit" class="form-button"
                                    href="new-password.html">
                                Отправить
                            </button>
                        </div>
                        <div class="form-box">
                            <a class=" form-button form-button-only-text"
                                href="{% url 'login' %}">Отмена</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
