{% extends 'base.html' %}
{% load static %}
{% block title_page %}Возврат заказа{% endblock %}
{% block page_class %}return{% endblock %}

{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid main-container">
                <div class="aside">
                    <div class="aside-left">
                        <div class="aside-nav">
                            {% include 'components/navigation.html' %}
                        </div>
                    </div>
                    <div class="aside-right">
                        <div class="product-wrapper">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Возврат заказа
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link" href="">Главная</a>
                                        <span class="breadcrumb-active">Возврат заказа</span>
                                    </div>
                                </div>
                            </div>
                            <div class="return-text-block">
                                <h3 class="return-txt-ttl">Оформление возврата</h3>
                                <p class="return-txt-txt">
                                    1.Укажите ниже ваши реквизиты и нажите "Отправить"<br>
                                    2.На ваш электронный адрес придет заполненное заявление на возврат<br>
                                    3.Распечатайте заявление и поставьте на нем свою подпись<br>
                                    4.Приложите заполненное и подписанное заявление товару<br>
                                </p>
                            </div>
                            <div class="return-header">
                                <div class="return-date">{{ order.create_at }}
                                </div>
                                <div class="return-num">
                                    <span class="return-ttl">Номер заказа:</span>
                                    <span class="return-val">{{ order.id }}</span>
                                </div>
                                <div class="order-history-head-status
                                    {% if order.status == 'progress' %}
                                            status-1
                                    {% elif order.status == 'delivered' %}
                                            status-3
                                    {% else %}
                                            status-2
                                    {% endif %}">
                                    {{ order.get_status_display }}
                                </div>
                            </div>
                            <h3 class="return-title">Выберите товары, которые
                                хотите вернуть</h3>
                            <div class="return-wrap"
                                 data-order-id="{{ order.id }}">
                                {% for product in order.order_products.all %}
                                    {% if product.status != 'return' %}
                                        <div class="return-product-wrap"
                                             data-product-id="{{ product.id }}">
                                            <div class="return-itm">
                                                <div class="return-product">
                                                    <div class="return-img-wrap">
                                                        {% if product.product.is_new %}
                                                            <div class="return-img-tag">
                                                                NEW
                                                            </div>
                                                        {% endif %}
                                                        <img class="return-img"
                                                             src="{{ product.image.url }}"
                                                             alt="{{ product.title }}"/>
                                                    </div>
                                                    <div class="return-info">
                                                        <h3 class="return-prod-ttl">
                                                            {{ product.title }}
                                                        </h3>
                                                        <h4 class="return-prod-subttl">
                                                            {{ product.text|truncatechars:100 }}
                                                        </h4>
                                                        <div class="parapms-flex">
                                                            <div class="return-param">
                                                                <div class="parapm-ttl">
                                                                    Артикул:
                                                                </div>
                                                                <div class="param-val">
                                                                    {{ product.article }}
                                                                </div>
                                                            </div>
                                                            <div class="return-param">
                                                                <div class="parapm-ttl">
                                                                    Цвет:
                                                                </div>
                                                                <div class="param-val">
                                                                    {{ product.color }}
                                                                </div>
                                                            </div>
                                                            <div class="return-param">
                                                                <div class="parapm-ttl">
                                                                    Размер:
                                                                </div>
                                                                <div class="param-val">
                                                                    {{ product.size }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="prod-quantity">
                                                    <span class="prod-quantity-ttl">Количество:</span>
                                                    <span class="quantity-val">{{ product.quantity }}</span>
                                                </div>
                                                <div class="prod-price">{{ product.get_all_price }}
                                                    ₽
                                                </div>
                                            </div>
                                            <div class="check-wrap">
                                                <input class="return-check"
                                                       data-url="{% url 'calculate-return-product' %}"
                                                       type="checkbox"/>
                                                <label class="check-label"></label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="return-footer">
                                <div class="return-left">
                                    <div class="return-foot-flex">
                                        <h3 class="return-foot-ttl">Итого:</h3>
                                        <span class="return-foot-ttl return-price">0 ₽</span>
                                    </div>
                                    <div class="return-foot-flex">
                                        <h3 class="return-foot-ttl">Количество
                                            товаров:</h3>
                                        <span class="return-foot-ttl return-count">0 шт</span>
                                    </div>
                                    <div class="return-foot-flex">
                                        <h3 class="return-foot-ttl">Промокод:</h3>
                                        <span class="return-foot-ttl return-promocode">-0% (0 ₽)</span>
                                    </div>
                                    <div class="return-foot-flex">
                                        <h3 class="return-foot-ttl">Остаток:</h3>
                                        <span class="return-foot-ttl return-sum">0 ₽</span>
                                    </div>
                                </div>
                                <div class="return-right">
                                    <form class="return-foot-form" data-url="{% url 'create-return-order' %}" method="post">
                                        {% csrf_token %}
                                        <div class="select-outer-wrap">
                                            <input type="hidden" name="product_list">
                                            <div class="form-error-msg"></div>
                                            <input type="hidden" name="order_id">
                                            <div class="form-error-msg"></div>
                                            <label class="returnfoot-label">Причина</label>
                                            <div class="return-select-wrap">
                                                <select class="return-field" name="reason_return"
                                                        required="required">
                                                    <option value=""></option>
                                                </select>
                                                <div class="form-error-msg"></div>
                                                <div class="select-opener"></div>
                                                <div class="select-list cart-dropdown-scroll">
                                                    {% for reason in reasons_return %}
                                                        <div class="select-list-itm">
                                                            {{ reason.text }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <textarea name="text"
                                                      class="return-field textarea-field"
                                                      placeholder="Комментарий"></textarea>
                                            <div class="form-error-msg"></div>
                                        </div>
                                        <button class="return-submit" type="submit" style="position: relative; display: flex; align-items: center; justify-content: center;">
                                            Отправить
                                            <img src="{% static 'img/loader.gif' %}" alt="load img"
                                            style="position: absolute; height: 45px; display: none">
                                        </button>
                                        <a href="{% url 'order-history' %}" class="return-submit return-border-btn" style="text-decoration: none">
                                            Отмена
                                        </a>
                                        <input type="hidden" name="date-error">
                                        <div class="form-error-msg"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside-most-right">
                        <h3 class="most-right-ttl">Оформление возврата</h3>
                        <p class="most-right-txt">
                            1. Укажите ниже ваши реквизиты и нажите "Отправить"<br>
                            2. На ваш электронный адрес придет заполненное заявление на возврат<br>
                            3. Распечатайте заявление и поставьте на нем свою подпись<br>
                            4. Приложите заполненное и подписанное заявление товару<br>
                        </p>
                        <h3 class="most-right-ttl" style="color: #F4050A; margin: 10px 0; font-size: 15px">Обратите внимание:</h3>
                        <p class="most-right-txt">Мы сможем перечислить вам денежные средства только
                            при наличии оригнал подписанного заявления на
                            возврат со всеми указанными реквизитами
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script>
        $('.return-check').on('change', function () {
            $(this).parent().siblings($('.return-itm')).toggleClass('active')
        })

        var fullText = $('.return-txt-txt').text()
        var textItem = $('.return-txt-txt')
        if (fullText.length >= 285) {
            textItem.text(fullText.substr(0, 285))
            textItem.append('<span class="return-more">...Подробнее</span>')
        }

        $('.return-more').on('click', function () {
            textItem.text(fullText)
        })

        $('.select-opener').on('click', function () {
            $(this).closest($('.select-outer-wrap')).toggleClass('active')
        })

        $('.select-list-itm').on('click', function () {
            $('.select-outer-wrap').removeClass('active')
            $('select.return-field option').text($(this).text()).val($(this).text())
            $('select.return-field, .returnfoot-label, .return-select-wrap, .return-submit').addClass('active')
        })

        $(document).on('click', function (e) {
            if ($(e.target).is('.select-list, .select-opener') === false) {
                $('.select-outer-wrap').removeClass('active')
            }
        })

        $('.textarea-field').on('input', function () {
            this.style.height = ''
            this.style.height = this.scrollHeight + 'px'
        })
    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
