{% extends 'base.html' %}
{% load  static %}
{% block title_page %}Спец. предложения{% endblock %}

{% block page %}product-list__page tag-page{% endblock %}
{% block content %}
    <main class="page">
        <div class="products">
            <div class="container-fluid">
                <div class="aside">
                    <div class="aside-left">
                        <form class="filter filter-form-wrapper"
                              action="{% url 'special-offers' %}"
                              method="post">
                            {% include 'components/filter.html' %}
                        </form>
                        <div class="close-filter-mobile">Применить</div>
                    </div>
                    <div class="aside-right">
                        {% if banners.desktop_image %}
                            <div class="banner">
                                <a class="banner-link" href=""></a>
                                <img class="banner-img"
                                     src="{{ banners.desktop_image.url }}"
                                     alt=""/>
                            </div>
                        {% endif %}
                        <div class="product-wrapper" style="min-height: 50vh">
                            <div class="product-wrapper-between">
                                <div>
                                    <div class="product-wrapper-title">
                                        Спец. предложения
                                    </div>
                                    <div class="breadcrumb">
                                        <a class="breadcrumb-link"
                                           href="{% url 'index' %}">
                                            Главная
                                        </a>
                                        <span class="breadcrumb-active">
                                            Спец. предложения
                                        </span>
                                    </div>
                                </div>
                                <div class="mobile-sort__wrapper">
                                    <div class="mobile-filter">Фильтры</div>
                                    <form class="filter-form-wrapper">
                                        <label class="filter-item"
                                               data-name="sort_filter">
                                            <select class="filter-checkbox-but product-sortable form-select">
                                                <option value="1" disabled
                                                        selected>Сортировка:
                                                </option>
                                                <option value="populate">
                                                    Популярности
                                                </option>
                                                <option value="price">Цене
                                                </option>
                                                <option value="new">Новинкам
                                                </option>
                                                <option value="discount">Скидкам
                                                </option>
                                            </select>
                                        </label>
                                    </form>
                                </div>
                            </div>
                            <div class="mobile-filter">Фильтры</div>
                            <div class="product-list"
                                 style="position: relative">
                                <div class="preloader"
                                     style="position: absolute; visibility: hidden; opacity: 0">
                                    <p>Загрузка ....</p>
                                </div>
                                {% for product in products %}
                                    {% include 'components/card.html' %}
                                {% empty %}
                                    <h3>Выберите любимые виды спорта</h3>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block navigation %}{% include 'partials/navigation.html' %}{% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
