{% extends 'base.html' %}
{% load static %}
{% block title_page %}Ошибка! Повторите попытку!{% endblock %}

{% block content %}
    <div class="tinkoff-page">
        <div class="container-fluid">
            <div class="modal tinkoff-modal">
                <div class="modal-content">
                    <div class="logo-tinkoff">
                        <img src="{% static 'img/svg/logo-tinkoff.svg' %}" alt="load img">
                    </div>
                    <div class="logo-success">
                        <img src="{% static 'img/svg/logo-error.svg' %}" alt="load img">
                    </div>
                    <div class="modal-title">Ошибка! Повторите попытку!</div>
                    <a href="{% url 'cart' %}" class="modal-btn">Повторить попытку</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
