{% extends 'base.html' %}
{% load static %}
{% block title_page %}Оплата прошла успешно!{% endblock %}

{% block content %}
    <div class="tinkoff-page">
        <div class="container-fluid">
            <div class="modal tinkoff-modal">
                <div class="modal-content">
                    <div class="logo-tinkoff">
                        <img src="{% static 'img/svg/logo-tinkoff.svg' %}" alt="load img">
                    </div>
                    <div class="logo-success">
                        <img src="{% static 'img/svg/logo-success.svg' %}" alt="load img">
                    </div>
                    <div class="modal-title">Оплата прошла успешно!</div>
                    <a href="{% url 'index' %}" class="modal-btn">На главную</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
