*{
    font-family: $font-1;
    font-weight: normal;
}
form, select, textarea, input{
    font-family: $font-1;
    font-weight: normal;
}

.h1{}
.h2{}
.h3{}
.h4{}
.h5{}
.h6{}
.subtitle1{}
.subtitle2{}
.body1{}
.body2{}
