<svg class="sprite-svg" width="0" height="0">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            id="ant-design_heart-filled2">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M16.7621 1.70029C14.9492 1.68992 13.2278 2.50875 12.0019 3.93675C10.81 2.50373 9.28807 1.7003 7.23716 1.70029C3.60055 1.70029 0.699219 4.9283 0.699219 8.84991C0.699219 10.5492 1.37356 12.2171 2.36355 13.7531C3.35462 15.2908 4.67514 16.7167 5.99996 17.9383C8.6071 20.3423 11.2633 21.9843 11.5568 22.1587C11.8247 22.3469 12.1735 22.3469 12.4415 22.1588C12.7329 21.9863 15.3898 20.3667 17.998 17.9732C19.323 16.7571 20.6438 15.3338 21.6351 13.7915C22.6255 12.2505 23.2992 10.5714 23.2992 8.84991C23.2992 4.92861 20.3983 1.70081 16.7621 1.70029ZM12.7304 5.9149C14.1954 3.45474 17.1745 2.78409 19.3905 4.37517C20.7559 5.35557 21.588 7.03644 21.5852 8.8494V8.84985C21.5853 10.1034 21.0972 11.3894 20.3134 12.6426C19.5306 13.8941 18.465 15.0932 17.3407 16.1668C15.2267 18.1855 12.9327 19.7345 12.0013 20.3278C11.0686 19.7195 8.7731 18.156 6.65785 16.1326C5.53333 15.0569 4.46764 13.8586 3.68475 12.6121C2.90067 11.3637 2.41314 10.0875 2.41314 8.84991C2.41314 5.88116 4.59873 3.52339 7.23721 3.52339V3.52342L7.24154 3.52336C8.85716 3.50006 10.3826 4.39471 11.2666 5.91241L11.2708 5.9197L11.2755 5.92674C11.557 6.35296 12.1229 6.46273 12.5295 6.13889L12.5295 6.13884C12.6047 6.07894 12.6699 6.0072 12.723 5.92665L12.7233 5.92683L12.7304 5.9149ZM11.5264 5.76109C11.5264 5.76107 11.5264 5.76106 11.5264 5.76105L11.5258 5.76141L11.5264 5.76109Z"
        ></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
            id="ant-design_heart-filled">
        <path d="M28.1799 9.39122C27.7827 8.49292 27.2099 7.6789 26.4937 6.99471C25.777 6.30848 24.932 5.76314 24.0046 5.38835C23.0429 4.99818 22.0115 4.79846 20.9701 4.8008C19.5092 4.8008 18.0839 5.19154 16.8452 5.92959C16.5489 6.10615 16.2674 6.30007 16.0007 6.51135C15.734 6.30007 15.4525 6.10615 15.1561 5.92959C13.9175 5.19154 12.4921 4.8008 11.0312 4.8008C9.97925 4.8008 8.95988 4.99762 7.9968 5.38835C7.06633 5.76462 6.22771 6.30586 5.50763 6.99471C4.7905 7.67812 4.21764 8.49234 3.82151 9.39122C3.40961 10.3261 3.19922 11.3188 3.19922 12.3405C3.19922 13.3044 3.40072 14.3087 3.80077 15.3304C4.13562 16.1842 4.61568 17.0699 5.22908 17.9642C6.20104 19.3796 7.53749 20.8557 9.19694 22.352C11.9469 24.8325 14.6702 26.5459 14.7857 26.6154L15.488 27.0553C15.7992 27.2493 16.1992 27.2493 16.5104 27.0553L17.2127 26.6154C17.3282 26.543 20.0486 24.8325 22.8015 22.352C24.4609 20.8557 25.7974 19.3796 26.7693 17.9642C27.3827 17.0699 27.8657 16.1842 28.1976 15.3304C28.5977 14.3087 28.7992 13.3044 28.7992 12.3405C28.8021 11.3188 28.5918 10.3261 28.1799 9.39122Z" stroke-width="2"></path>
    </symbol>
    <symbol id="log-in" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M14 3a1 1 0 011-1h4a3 3 0 013 3v14a3 3 0 01-3 3h-4a1 1 0 110-2h4a1 1 0 001-1V5a1 1 0 00-1-1h-4a1 1 0 01-1-1z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.293 6.293a1 1 0 011.414 0l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414-1.414L13.586 12 9.293 7.707a1 1 0 010-1.414z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2 12a1 1 0 011-1h12a1 1 0 110 2H3a1 1 0 01-1-1z"></path>
    </symbol>
    <symbol id="shopping-cart" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 24 24">
        <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.727 20.788a1.8 1.8 0 113.6 0 1.8 1.8 0 01-3.6 0zm10.273 0a1.8 1.8 0 113.6 0 1.8 1.8 0 01-3.6 0zM0 1.626a1 1 0 011-1h4a1 1 0 01.98.804l.84 4.196H23a1 1 0 01.982 1.187l-1.601 8.398a3 3 0 01-2.99 2.415H9.69a3 3 0 01-2.99-2.414L5.03 6.865a.993.993 0 01-.017-.084L4.18 2.626H1a1 1 0 01-1-1zm7.22 6l1.44 7.195a1 1 0 001 .805h9.76a1 1 0 00.998-.802l1.373-7.198H7.221z"
        ></path>
    </symbol>
    <symbol id="akar-icons_search" fill="none"
            xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
        <path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 11-17 0 8.5 8.5 0 0117 0z"
              stroke-width="1.6" stroke-linecap="round"></path>
    </symbol>
    <symbol id="menu" fill="none" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 20 20">
        <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1 4a.8.8 0 01.8-.8h13.443a.8.8 0 110 1.6H1.8A.8.8 0 011 4zm0 6a.8.8 0 01.8-.8h16.4a.8.8 0 010 1.6H1.8A.8.8 0 011 10zm0 6a.8.8 0 01.8-.8h12.78a.8.8 0 110 1.6H1.8A.8.8 0 011 16z"
                fill="#171717"
        ></path>
    </symbol>
    <symbol id="favorite-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
        <path
                d="M.484 4.394A6.41 6.41 0 011.8 2.36 6.105 6.105 0 013.746.998 5.84 5.84 0 016.116.5c1.142 0 2.255.331 3.223.957.232.15.451.315.66.494a6.04 6.04 0 01.66-.494A5.921 5.921 0 0113.88.5a5.84 5.84 0 012.37.498 6.11 6.11 0 011.946 1.363 6.37 6.37 0 011.317 2.033c.322.793.486 1.635.486 2.501 0 .818-.157 1.67-.47 2.536a11.609 11.609 0 01-1.116 2.234c-.76 1.2-1.803 2.453-3.1 3.722-2.148 2.104-4.276 3.558-4.366 3.616l-.549.374a.708.708 0 01-.798 0l-.549-.373a35.41 35.41 0 01-4.366-3.617c-1.297-1.269-2.34-2.521-3.1-3.722-.48-.758-.857-1.51-1.116-2.234C.157 8.565 0 7.713 0 6.895a6.577 6.577 0 01.484-2.501z"
        ></path>
    </symbol>
    <symbol id="help-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
        <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 10C0 4.463 4.463 0 10 0s10 4.463 10 10-4.463 10-10 10S0 15.537 0 10zm9.302.365c-.157.383-.235.897-.235 1.543h1.77l.029-.422c.05-.452.25-.846.601-1.183l.56-.532c.439-.425.745-.81.92-1.156.176-.35.263-.721.263-1.113 0-.863-.27-1.53-.809-2-.54-.474-1.298-.712-2.276-.712-.968 0-1.734.25-2.296.747-.558.498-.842 1.188-.851 2.068h2.006c.01-.369.115-.657.318-.864.208-.212.482-.318.823-.318.72 0 1.08.39 1.08 1.169 0 .258-.07.505-.208.74-.138.23-.417.532-.837.906-.415.369-.701.745-.858 1.127zm-.124 2.906a1.006 1.006 0 00-.312.76c0 .305.102.556.305.755.207.198.48.297.816.297.337 0 .606-.1.81-.297a.998.998 0 00.31-.754.996.996 0 00-.318-.761c-.207-.203-.475-.305-.802-.305-.327 0-.597.102-.81.305z"
        ></path>
    </symbol>
    <symbol id="history-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
        <g clip-path="url(#clip0)">
            <path
                    d="M11.09 0H8.224a.687.687 0 000 1.373h2.864a.687.687 0 000-1.373zm7.645 4.52l-1.87-1.87a.7.7 0 00-.97 0 .7.7 0 000 .97l1.846 1.847a.64.64 0 00.473.19.704.704 0 00.473-.19.634.634 0 00.048-.947zM9.646 2.863a8.566 8.566 0 00-8.568 8.568A8.566 8.566 0 009.646 20a8.566 8.566 0 008.568-8.568 8.566 8.566 0 00-8.568-8.568zm3.55 9.491h-3.55a.687.687 0 01-.686-.686v-4.45a.687.687 0 011.373 0v3.787h2.864c.378 0 .686.308.686.687a.682.682 0 01-.686.662z"
            ></path>
        </g>
        <defs>
            <clippath id="clip0">
                <path fill="#fff" d="M0 0h20v20H0z"></path>
            </clippath>
        </defs>
    </symbol>
    <symbol id="hot-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
        <g clip-path="url(#clip0)">
            <path
                    d="M14.073 3.78C12.255 1.604 10.46.191 10.385.132a.626.626 0 00-1.01.493v2.748c0 1.42-1.878 1.919-2.582.685a.626.626 0 00-1.027-.086C3.875 6.28 2.187 9.19 2.187 12.188 2.188 16.495 5.692 20 10 20c4.307 0 7.812-3.505 7.812-7.812 0-3.074-1.775-6.06-3.74-8.409zM6.563 10a1.25 1.25 0 112.5 0 1.25 1.25 0 01-2.5 0zm1.743 5.384a.625.625 0 11-.987-.767l4.375-5.625a.625.625 0 01.986.767l-4.374 5.625zm3.881.241a1.251 1.251 0 010-2.5 1.25 1.25 0 010 2.5z"
            ></path>
        </g>
        <defs>
            <clippath id="clip0">
                <path fill="#fff" d="M0 0h20v20H0z"></path>
            </clippath>
        </defs>
    </symbol>
    <symbol id="news-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
        <path
                d="M19.286 5h-3.572V.714A.714.714 0 0015 0H.714A.714.714 0 000 .714v16.429A2.857 2.857 0 002.857 20h14.286A2.857 2.857 0 0020 17.143V5.714A.714.714 0 0019.286 5zM5.714 3.571H10A.714.714 0 1110 5H5.714a.714.714 0 110-1.429zm6.429 13.572H3.57a.714.714 0 110-1.429h8.572a.714.714 0 110 1.429zm0-2.857H3.57a.714.714 0 110-1.429h8.572a.714.714 0 110 1.429zm0-2.857H3.57a.714.714 0 110-1.429h8.572a.714.714 0 010 1.429zm0-2.858H3.57a.714.714 0 110-1.428h8.572a.714.714 0 110 1.428zm6.428 8.572a1.429 1.429 0 11-2.857 0V6.429h2.857v10.714z"
        ></path>
    </symbol>
    <symbol id="user-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
        <path
                d="M15.302 9.75A6.668 6.668 0 0110 12.322 6.745 6.745 0 014.698 9.75C1.838 11.561 0 14.71 0 18.201a1.63 1.63 0 001.654 1.654H18.32c.945.026 1.68-.761 1.68-1.654a9.985 9.985 0 00-4.698-8.451z"
        ></path>
        <path d="M10 .145c-2.992 0-5.406 2.44-5.406 5.406 0 2.992 2.44 5.407 5.407 5.407a5.4 5.4 0 005.406-5.407A5.382 5.382 0 0010.001.145z"></path>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            id="user-icon2">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M4.55797 17.851C6.71358 16.6428 9.32904 16 12 16C14.671 16 17.2864 16.6428 19.442 17.851C21.5971 19.059 23.2058 20.7864 23.9462 22.805C24.1168 23.27 23.8681 23.7815 23.3907 23.9476C22.9134 24.1138 22.3881 23.8715 22.2176 23.4066C21.6507 21.861 20.3787 20.4389 18.5264 19.4007C16.6747 18.3627 14.3802 17.7879 12 17.7879C9.61983 17.7879 7.32531 18.3627 5.47358 19.4007C3.62132 20.4389 2.3493 21.861 1.7824 23.4065C1.61186 23.8715 1.08664 24.1137 0.609285 23.9476C0.131932 23.7815 -0.116787 23.27 0.0537547 22.805C0.794185 20.7864 2.40289 19.059 4.55797 17.851Z"
        ></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12 1.93103C9.20049 1.93103 6.93103 4.20049 6.93103 7C6.93103 9.79951 9.20049 12.069 12 12.069C14.7995 12.069 17.069 9.79951 17.069 7C17.069 4.20049 14.7995 1.93103 12 1.93103ZM5 7C5 3.13401 8.13401 0 12 0C15.866 0 19 3.13401 19 7C19 10.866 15.866 14 12 14C8.13401 14 5 10.866 5 7Z"
        ></path>
    </symbol>
    <symbol id="photo" fill="none" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 17 16">
        <g clip-path="url(#clip0)" fill="#054EDB">
            <path
                    d="M15.433 3.645h-2.915l-1.014-1.831a.533.533 0 00-.462-.267H5.976a.533.533 0 00-.463.267l-1.03 1.83H1.566A1.068 1.068 0 00.5 4.712v8.676c0 .589.478 1.066 1.067 1.066h13.866c.59 0 1.067-.477 1.067-1.066V4.71c0-.589-.478-1.066-1.067-1.066zM8.5 12.409a3.947 3.947 0 113.947-3.947A3.965 3.965 0 018.5 12.41z"
            ></path>
            <path d="M8.5 10.435a1.973 1.973 0 100-3.947 1.973 1.973 0 000 3.947z"></path>
        </g>
        <defs>
            <clippath id="clip0">
                <path fill="#fff" transform="translate(.5)"
                      d="M0 0h16v16H0z"></path>
            </clippath>
        </defs>
    </symbol>
    <symbol id="trash" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 17 16">
        <path
                d="M14.5 3.334h-12a.667.667 0 100 1.333h1.334v8a2 2 0 002 2h5.333a2 2 0 002-2v-8h1.334a.667.667 0 000-1.333zm-2.666 9.333a.668.668 0 01-.667.667H5.834a.668.668 0 01-.667-.667v-8h6.667v8zm-4.667-10h2.666a.667.667 0 000-1.333H7.167a.667.667 0 000 1.333z"
        ></path>
        <path d="M7.833 10.666V7.333a.667.667 0 00-1.333 0v3.333a.667.667 0 101.333 0zm2.667 0V7.333a.667.667 0 00-1.334 0v3.333a.667.667 0 101.333 0z"
        ></path>
    </symbol>
    <symbol id="lock" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">
        <path d="M12.204 6.619c-.144-.145-.289-.308-.434-.434V3.762A3.759 3.759 0 008.01 0a3.759 3.759 0 00-3.762 3.762v2.405c-2.314 2.08-2.513 5.642-.452 7.957 2.062 2.315 5.643 2.513 7.957.452 2.315-2.062 2.514-5.642.452-7.957zm-3.707 4.973a.486.486 0 01-.488.488.486.486 0 01-.488-.488v-1.194c0-.27.217-.488.488-.488s.488.217.488.488v1.194zm2.279-6.113a5.592 5.592 0 00-5.534 0v-1.7a2.767 2.767 0 012.767-2.766 2.755 2.755 0 012.767 2.767v1.7z"
        ></path>
    </symbol>
    <symbol id="arrow-left" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 40 40">
        <rect x=".5" y=".5" width="39" height="39" rx="9.5"></rect>
        <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M23.067 25.567a.8.8 0 000-1.132l-4.435-4.434 4.434-4.435a.8.8 0 00-1.13-1.13L16.368 20l5.566 5.566a.8.8 0 001.132 0z"
                fill="#fff"
        ></path>
    </symbol>
    <symbol id="arrow-right" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 40 40">
        <rect x=".5" y=".5" width="39" height="39" rx="9.5"></rect>
        <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.933 14.434a.8.8 0 000 1.13L21.368 20l-4.434 4.434a.8.8 0 001.13 1.132L23.631 20l-5.566-5.565a.8.8 0 00-1.132 0z"
                fill="#fff"
        ></path>
    </symbol>
</svg>
