body.stopScroll {
    overflow: hidden
}

.burger-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background: white;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    align-items: flex-start;
    transition: .2s;
    transform: translateX(-100%);
    overflow-x: hidden
}

.burger-nav.active {
    transform: translateX(0)
}

.burger-nav > div {
    flex-shrink: 0;
    width: 100%;
    transition: .2s;
    transform: translateX(-200%)
}

.burger-nav .nav1 {
    padding: 20px 8px
}

.burger-nav .nav1 .nav1-grid {
    display: grid;
    gap: 12px
}

.burger-nav .nav1 .nav1-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #171717;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    transition: .15s;
    text-decoration: none
}

.burger-nav .nav1 .nav1-item:hover {
    background: #F6F9FF
}

.burger-nav .nav1 .nav1-item:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 16px
}

.burger-nav .nav1 .nav1-item.categories:before {
    background-image: url("../img/svg/categories_20.svg")
}

.burger-nav .nav1 .nav1-item.categories:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/svg/blue-arrow_20.svg") no-repeat center;
    background-size: contain;
    margin-left: auto
}

.burger-nav .nav1 .nav1-item.profile:before {
    background-image: url("../img/svg/user_20.svg")
}

.burger-nav .nav1 .nav1-item.news:before {
    background-image: url("../img/svg/list_20.svg")
}

.burger-nav .nav1 .nav1-item.offer:before {
    background-image: url("../img/svg/sale_20.svg")
}

.burger-nav .nav1 .nav1-item.history:before {
    background-image: url("../img/svg/clock_20.svg")
}

.burger-nav .nav1 .nav1-item.log-in:before {
    background-image: url("../img/svg/log-in.svg")
}

.burger-nav .nav-wrap {
    padding: 24px 20px
}

.burger-nav .nav-wrap .nav-wrap-ttl {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #171717;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.burger-nav .nav-wrap .nav-wrap-ttl:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/svg/blue-arrow_20.svg") no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
    margin-right: 8px
}

.burger-nav .nav-wrap-grid {
    display: grid;
    gap: 20px
}

.burger-nav .nav-wrap-grid .nav-wrap-link {
    font-size: 14px;
    line-height: 17px;
    color: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none
}

.burger-nav .nav-wrap-grid .nav-wrap-link.nav2-link:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/svg/blue-arrow_20.svg") no-repeat center;
    background-size: contain;
    margin-left: 8px
}

.nav-links {
    display: grid;
    gap: 20px
}

.nav-links .nav-wrap-grid-ttl {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8B96B1;
    margin-bottom: 16px
}

.nav-links > div {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.nav-links > div:last-child {
    padding-bottom: 0;
    border-bottom: none
}

.nav-mobile {
    z-index: 12
}

.level-nav {
    height: 100%;
    overflow-y: auto
}

.nav-mobile__sibebar.active:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/svg/nav-close.svg") no-repeat center;
    background-size: contain
}

.nav-mobile__sibebar.active svg {
    display: none
}

.cart-count-remove {
    width: 24px;
    height: 24px;
}

.cart-count-remove svg {
    height: 100%;
    width: 100%;
}

.cart-count-remove path {
    fill: #8B96B1;
}

.order-grid-left {
    margin-right: 50px;
}

.order-history-head {
    gap: 0;
}

.order-cols-right {
    min-width: 314px;
}

.order-cols-left {
    flex-grow: 1;
}

.return-itm {
    flex-wrap: nowrap;
}

.prod-price,
.prod-quantity {
    flex-shrink: 0;
}

.return-img-wrap {
    margin-bottom: -16px;
}

.return-product {
    margin-right: 16px;
}

.prod-price {
    margin-left: 24px;
}

.return-field {
    background: transparent;
}

.return-select-wrap .select-list {
    height: auto;
    max-height: 270px;
}

.cart-item-desc,
.return-prod-subttl {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.return-prod-subttl {
    margin-bottom: 6px;
}

.order-history .cart-item-info {
    width: auto;
}

.breadcrumb-link:hover {
    color: #054EDB;
}

.breadcrumb-link:hover::after {
    color: #98949E;
}

.product-filter-choiced-item {
    transition: .15s;
}

.product-filter-choiced-item:hover {
    border-color: #8B96B1;
}

.commads-item-title {
    z-index: 10;
}

.product-list__page .container-fluid {
    padding: 0 110px;
}

.form-field.show ~ .btn-toggle-type {
    background-image: url("../img/svg/eye-open.svg");
    background-size: contain;
}

.auth-form .auth-form-grid__item{
    gap: 26px;
}

.form-error-msg {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 0;
}

.auth-form-grid__items {
    max-width: 315px;
    width: 100%;
    margin: 16px auto 0 auto;
}

@media (max-width: 1540px) {

    .order-cols-right {
        min-width: 250px;
    }
}

@media (max-width: 1440px) {
    .order-grid-left {
        margin-right: 10px;
    }

    .product-list__page .container-fluid {
        padding: 0 32px;
    }
}

@media (max-width: 1250px) {
    .order-cols {
        flex-wrap: wrap;
    }

    .order-cols-right {
        width: 100%;
    }
}

@media (max-width: 1180px) {

    .cart-item-characteristic-item:last-child {
        width: 100%;
    }

    .cart-count-input {
        font-size: 13px;
    }

    .cart-count-input {
        border-radius: 8px;
    }

    .cart-count {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 4px;
    }

    .cart-count-plus {
        background-image: url("../img/svg/mob-plus.svg");
        background-size: contain;
    }

    .cart-count-minus.minus-plus__but {
        background: none;
        border: 1px solid #D4E3FF;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-count-minus.minus-plus__but::after {
        content: "";
        display: block;
        width: 13px;
        height: 1.5px;
        background: #032D80;
    }

    .cart-item:last-child {
        margin-bottom: 0;
    }

    .cart-count-remove {
        width: 24px;
        height: 24px;
        background: url("../img/svg/mob-delete.svg") no-repeat center;
        background-size: contain;
        margin-left: 8px;
    }

    .cart-count-remove svg {
        display: none;
    }

    .cart-count-minus, .cart-count-plus {
        border-radius: 8px;
    }


    .cart-count-available {
        bottom: 5px;
        font-size: 12px;
    }

    .cart-price {
        bottom: 2px;
    }

    .order-history-box-item:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media (max-width: 640px) {

    .auth-form.auth-form-grid {
        gap: 26px;
    }

    .form-box {
        margin-top: 0 !important;
    }

    .return .return-itm {
        padding-bottom: 50px;
    }

    .return .return-product {
        margin-bottom: 0;
    }

    .return-product {
        margin-right: 0;
    }

    .page.order-history .cart-price {
        bottom: 36px;
    }

    .prod-quantity {
        position: absolute;
        bottom: 20px;
        left: 16px;
    }

    .return-img {
        border-radius: 10px;
    }

    .prod-price {
        position: absolute;
        bottom: 17px;
        right: 16px;
    }

    .cart-count-static {
        position: absolute;
        bottom: 54px;
        left: 0;
        padding: 0;
    }

    .cart-item {
        padding-bottom: 85px;
    }

    .order-history-head-date {
        font-size: 13px;
        margin-bottom: 4px;
    }

    .order-history-head-id {
        font-size: 13px;
        margin-bottom: 6px;
    }

    .order-history-head-status {
        font-size: 13px;
    }

    .page.cart-page {
        background: white;
    }

    .page.cart-page .cart {
        padding: 0 4px;
    }

    .cart-item-info {
        padding: 0 0 0 8px;
    }

    .cart-item-image {
        border-radius: 10px;
    }

    .page.order-history {
        background: white;
    }

    .container-fluid {
        padding: 0 20px;
    }

    .order-history-box {
        padding: 0;
        margin-top: 20px;
    }

    .order-history .product-wrapper {
        padding: 0;
    }

    .cart-page.page .cart-item {
        padding-bottom: 82px;
    }
}

@media (max-width: 425px) {

    .cart-discount:before {
        top: 1px;
    }

    .page.order-history .page {
        padding-bottom: 0;
    }

    .page.return {
        background: white;
    }

    .page.return .page {
        padding-bottom: 0;
    }

    .order-total {
        padding-bottom: 26px;
        position: relative;
    }

    .order-history-box:last-child .order-total::after {
        display: none;
    }

    .order-total::after {
        content: "";
        display: block;
        height: 16px;
        width: calc(100% + 40px);
        position: absolute;
        bottom: 0;
        left: -20px;
        background-color: #F6F6F6;
    }

    .order-history-head {
        flex-direction: column;
        align-items: flex-start;
    }

    .order {
        margin-top: 0;
    }

    .cart-left-box {
        padding-bottom: 0;
    }

    .cart-item-name {
        font-size: 11px;
        font-weight: 500;
    }

    .cart-item-desc,
    .cart-item-article span,
    .cart-item-article,
    .cart-item-characteristic-item,
    .cart-item-characteristic-item span {
        font-size: 10px;
    }

    .cart-item-desc {
        margin-bottom: 8px;
    }

    .cart-item-article {
        margin-bottom: 3px;
    }

    .cart-new-price,
    .cart-old-price,
    .cart-discount {
        font-size: 13px;
    }

    .order-grid {
        gap: 0;
    }

    .order-grid-title {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 16px;
    }

    .order-left-line {
        margin: 10px 0 20px 0;
    }

    .order-right-item {
        margin-bottom: 40px;
    }

    .cart-total-head > div {
        font-size: 15px;
    }

    .page.cart-page .page {
        padding-bottom: 0;
    }
}

.category-link {
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #054EDB;
    border-radius: 16px;
    padding: 8px 16px;
    text-align: center;
    max-width: 122px;
    margin: 0 auto;
    text-decoration: none;
    display: none;
    transition: .3s;
}
