.page-loaded .preloader{opacity:0;visibility:hidden}.preloader{display:flex;align-items:center;justify-content:center;font-size:20px;position:fixed;top:0;bottom:0;right:0;left:0;z-index:1000;background-color:#fff;opacity:1;visibility:visible;transition:0.6s}
/*# sourceMappingURL=preloader.css.map */