{% load static %}

<footer class="footer">
    <div class="container-fluid">
        <div class="footer-col">
            <div class="footer-col-item">
                <a class="phone" href="tel: {{ contacts.phone }}">
                    {{ contacts.phone }}
                </a>
                <a class="email" href="mailto: {{ contacts.email }}">
                    {{ contacts.email }}
                </a>
                <div class="footer-social">
                    <div><a class="footer-social-item" href="{{ contacts.instagram }}"
                            target="_blank"
                            style="background-image: url({% static 'img/svg/social/InstagramBlackAround.svg' %})"></a>
                    </div>
                    <div><a class="footer-social-item" href="{{ contacts.telegram }}"
                            target="_blank"
                            style="background-image: url({% static 'img/svg/social/TelegramBlackAround.svg' %})"></a>
                    </div>
                    <div><a class="footer-social-item" href="{{ contacts.youtube }}"
                            target="_blank"
                            style="background-image: url({% static 'img/svg/social/YoutubeBlackAround.svg' %})"></a>
                    </div>
                    <div><a class="footer-social-item" href="{{ contacts.vk }}"
                            target="_blank"
                            style="background-image: url({% static 'img/svg/social/VkBlackAround.svg' %})"></a>
                    </div>
                    <div><a class="footer-social-item" href="{{ contacts.facebook }}"
                            target="_blank"
                            style="background-image: url({% static 'img/svg/social/FacebookBlackAround.svg' %})"></a>
                    </div>

                </div>
                <a class="footer-logo" href="/">
                    <img src="{% static 'img/svg/header-logo.svg' %}" alt=""/></a>
            </div>
            <div class="footer-col-item">
                <a class="footer-link
                    {% url 'become-contractor' as become_contractor %}
                    {% if request.path == become_contractor %}
                        active
                    {% endif %}"
                   href="{{ become_contractor }}">
                    Стать партнером ON THE PLACE</a>
                <a class="footer-link
                    {% url 'landlords' as landlords %}
                    {% if request.path == landlords %}
                        active
                    {% endif %}"
                    href="{{ landlords }}">Арендодателям</a>
                <a class="footer-link
                    {% url 'connect-marketplace' as connect_marketplace %}
                    {% if request.path == connect_marketplace %}
                        active
                    {% endif %}
                    " href="{{ connect_marketplace }}">
                    Подключиться к партнерской программе “Маркетплейс”
                </a>
            </div>
            <div class="footer-col-item">
                <a class="footer-link
                    {% url 'about-us' as about_us %}
                    {% if request.path == about_us %}
                        active
                    {% endif %}
                    " href="{{ about_us }}">О нас</a>
                <a class="footer-link
                    {% url 'help' as help %}
                    {% if  request.path == help %}
                        active
                    {% endif %}
                    " href="{{ help }}">Помощь</a>
                <a class="footer-link
                    {% url 'type-payment' as type_payment %}
                    {% if request.path == type_payment %}
                        active
                    {% endif %}
                    " href="{{ type_payment }}">Способы оплаты</a>
                <a class="footer-link
                    {% url 'delivery' as delivery %}
                    {% if request.path == delivery %}
                        active
                    {% endif %}
                    " href="{{ delivery }}">Доставка</a>
            </div>
            <div class="footer-col-item">
                <div class="copyright">Разработка сайтов и мобильных
                    приложений
                </div>
                <a class="sunrise" href="https://sunrisestudio.pro/ru/">
                    www.sunrisestudio.pro 2020
                </a>
            </div>
        </div>
    </div>
</footer>
