.form {
  width: 100%;
}

.form-box {
  position: relative;
}

.form-col-2 {
  display: grid;
  grid-template-columns: 120px auto;
  grid-gap: 10px;
}

input {
  // Placeholder color
  &::-webkit-input-placeholder {
    color: $ColorPlaceholderForm;
  }

  &::-moz-placeholder {
    color: $ColorPlaceholderForm;
  }

  &:-ms-input-placeholder {
    color: $ColorPlaceholderForm;
  }

  &:-moz-placeholder {
    color: $ColorPlaceholderForm;
  }

  // Remove arrow [type="number"]
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }

  /* Remove shadow ios */
  &:matches([type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

textarea {
  // Placeholder color
  &::-webkit-input-placeholder {
    color: $ColorPlaceholderForm;
  }

  &::-moz-placeholder {
    color: $ColorPlaceholderForm;
  }

  &:-ms-input-placeholder {
    color: $ColorPlaceholderForm;
  }

  &:-moz-placeholder {
    color: $ColorPlaceholderForm;
  }

  /* Remove shadow ios */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  // Remove arrow
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }
}

.form-default {
  border: 1px solid $ColorBorderForm;
  outline: none;
  width: 100%;
  padding: 0 16px;
  font-size: 13px;
  height: 44px;
  color: $ColorForm;
  border-radius: $Radius-16;

  &::placeholder {
    font-weight: normal;
  }

  &:not(:placeholder-shown) + .form-label-text {
    top: -5px;
    background-color: rgba(255, 255, 255, 1);
  }
}

.form-input {
  @extend .form-default;

  &:focus {
    border: 1px solid #054EDB;
  }

  &.form-birthday {
    text-align: center;
  }
}

.form-select {
  @extend .form-default;
  display: none;
}

// custom select
.SumoSelect {
  position: relative;

  &.open {
    .optWrapper {
      display: block;
    }

    .SelectBox {
      border: 1px solid #054EDB;

      span.placeholder {
        color: #171717;
      }
    }
  }
}

.SelectBox {
  @extend .form-default;
  display: flex;
  align-items: center;
  cursor: pointer;


  p {
    user-select: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 175%;
    display: flex;
    align-items: center;
  }

  label {
    content: "";
    margin: 0 0.5em;
    display: inline-block;
    border: 7px solid transparent;
    border-top: 8px solid #8B96B1;
    border-bottom: 0 none;
    position: absolute;
    right: 4px;
    border-radius: 2px;
  }

  span {
    &.placeholder {
      color: #8B96B1;
      transition: .2s;

      &:hover {
        color: #171717;
      }
    }
  }
}

.MultiControls {
  display: none;
}

.optWrapper {
  z-index: 100;
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  background: #FFFFFF;
  border: 1px solid #CDDAF1;
  box-shadow: 0 16px 33px -13px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  left: 0;
  right: 0;
  max-height: 270px;
  overflow: auto;
  padding: 20px;
  @media (max-width: 425px) {
    height: auto !important;
    padding: 24px 16px;
  }

  .opt {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;

    label {
      user-select: none;
      pointer-events: none;
    }

    &.selected {
      span {
        background-color: #171717;
        border: 1px solid #171717;
      }
    }

    span {
      position: relative;
      border: 1px solid #CDDAF1;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      min-width: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      &:after {
        content: '';
        display: block;
        width: 2px;
        height: 5px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.disabled {
      display: none;
    }
  }

}

.form-textarea {
  @extend .form-default;
  height: auto;
  padding: 16px;

  &:focus {
    border: 1px solid #054EDB;
  }
}

.form-button {
  height: 44px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  cursor: pointer;
  background: $Black;
  border-radius: $Radius-16;
  color: $White;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-decoration: none;

  &.form-button-disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.3;
  }

  &.form-button-only-text {
    background-color: transparent;
    color: $Gray;
    @media (max-width: 640px) {
      border: 1px solid #8B96B1;
    }
  }
}

.form-error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-label-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  display: flex;
  color: #8b96b1;
  position: absolute;
  top: 15px;
  left: 18px;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 5px;
  pointer-events: none;
}

.btn-toggle-type {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 16px;
  background-image: url(../img/svg/el_eye-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-box-birthday {
  .optWrapper {
    top: inherit;
    bottom: inherit;
    max-height: 150px !important;
    padding: 20px 5px 20px 10px;
  }
}

.form-box-birthday__grid {
  display: grid;
  grid-template-columns: 72px auto 72px;
  gap: 4px;
}

.form-box-birthday__label {
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  color: #8B96B1;
  margin-bottom: 4px;
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .form-box {
      margin-bottom: 15px;
    }
  }
}