.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  &.modal-error{
    .modal-title{
      color: #DD2C28;
    }
  }
}
.modal-content{
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0 10px 38px -4px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  max-width: 316px;
  width: 100%;
  padding: 32px 24px;
}
.modal-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 32px;
  color: #000000;
}
.modal-btn{
  background: #171717;
  border-radius: 16px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}