{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage"
          content="favicon/ms-icon-144x144.png"/>
    {# Seo #}
    <meta name="keywords" content="{% block SEO-keywords %}{% endblock %}"/>
    <meta name="description"
          content="{% block SEO-description %}{% endblock %}"/>
    <meta name="copyright" content="">
    <meta name="language" content="RU">
    <meta name="robots" content=""/>
    <meta name="author" content="">
    <meta name="reply-to" content="">
    <meta name="owner" content="">
    <meta name="url" content="http://www.site.kg/">
    <meta name="identifier-URL" content="http://site.kg//">
    {# OpenGraph #}
    <meta name="og:title" content="{% block OG-title %} {% endblock %}"/>
    <meta name="og:url" content="{% block OG-url %} {% endblock %}"/>
    <meta name="og:image" content="{% block OG-image %} {% endblock %}"/>
    <meta name="og:description"
          content="{% block OG-description %} {% endblock %}"/>
    {# FaviconSite #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

    {# Fonts #}
    <link rel="stylesheet"
          href="{% static 'fonts/Montserrat/stylesheet.css' %}">
    {# StyleLibs #}
    {% block style-libs %}{% endblock %}
    {# Style #}
    <link as="style" rel="stylesheet preload"
          href="{% static 'css/preloader.css' %}"/>
    <link as="style" rel="stylesheet preload"
          href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/libs.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {# CustomStyle #}
    {% block style %}{% endblock %}
    {# TitlePage #}
    <title>{% block title_page %}{% endblock %}</title>

</head>

<body class="{% block page %}{% endblock %}">
<input type="hidden" name="tinkoff-response"
       data-url="{% url 'tinkoff-result-api' %}">
<style>
    .cart-dropdown-desc {
        display: flex;
        align-items: center;
        margin: 0 0 8px;
    }

    .cart-dropdown-desc .value {
        color: #171717;
        font-weight: 600;
        margin: 0 0 0 8px;
    }
</style>
<div class="preloader">
    <p>Загрузка ....</p>
</div>

{% include 'spriteSVG/sprite.html' %}
{% include 'components/modal.html' %}
{% include 'components/modal_error.html' %}

<div class="page {% block page_class %}{% endblock %}">
    {% block header %}
        {% include 'partials/header/header.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer/footer.html' %}
    {% endblock %}

</div>
<script src="{% static 'js/jquery-2.2.4.js' %}"></script>
<script src="{% static 'js/custom-select.js' %}"></script>
<script src="{% static 'js/custom-scroll.js' %}"></script>
<script src="{% static 'js/owl-carouse-2.js' %}"></script>
<script src="{% static 'js/ui.js' %}"></script>
<script src="{% static 'js/readmore.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script>
    $(window).on("load", function () {
        $('body').addClass('page-loaded');
        $(".optWrapper").mCustomScrollbar();
    });
</script>
<script>
    var timer = null;
    $('.nav-form .nav-search__input').on("keyup", function (e) {
        e.preventDefault();
        var $this = $(this)
        var url = $(this).data('url');
        var csrftoken = $("input[name='csrfmiddlewaretoken']").val()
        if (timer) clearTimeout(timer);
        timer = setTimeout(function () {
            var value = $this.val();
            $.ajax({
                url: url,
                method: 'post',
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    value: value
                },

                success: function (data) {
                    $this.parent().find(".result-block").replaceWith(data.result_search)
                },

                error: function (error) {
                    console.log(error)
                }
            })
        }, 400)

    })

</script>
<script>
    $('.nav-mobile__sibebar').on('click', function () {
        $('.burger-nav').toggleClass('active')
        $(this).toggleClass('active')
        $('body').toggleClass('stopScroll')
    })
    $('.burger-nav .nav1-item.categories').on('click', function () {
        $('.level-nav').css('transform', 'translateX(-100%)')
    })

    $('.burger-nav .nav2 .nav-wrap-ttl').on('click', function () {
        $('.level-nav').css('transform', 'translateX(-200%)');
    })

    $('.burger-nav .nav2-link').on('click', function () {
        $('.level-nav').css('transform', 'translateX(0)');
        $('.burger-nav .nav3 .nav-wrap-ttl').text($(this).children('span').text());
        var linksBlock = $(this).children('.nav-links').clone().css('display', 'grid');
        var categoryLink = $(this).children('.category-link').clone().css('display', 'block');
        $('.nav3 .nav-links').replaceWith(linksBlock);
        $('.burger-nav').children('.category-link').remove();
        $('.burger-nav').append(categoryLink);
    })

    $('.burger-nav .nav3 .nav-wrap-ttl').on('click', function () {
        $('.level-nav').css('transform', 'translateX(-100%)')
        $('.burger-nav').children('.category-link').remove();
    });

</script>
{% block scripts %}{% endblock %}
</body>

</html>
