.page-loaded .auth-page {
  opacity: 1;
  transform: translateX(0);
}

.auth-page__wrapper {
  @media(max-width: 960px) {
    background: #FFFFFF;
    .nav-mobile {
      position: fixed;
      bottom: 0;
    }
  }
}

.auth-page {
  opacity: 0;
  transform: translateX(-20px);
  transition: 0.6s;
  transition-delay: 0.3s;
  overflow: auto;
  margin: 0 0 20px;
  @media (max-width: $ViewTablet) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    .container-fluid {
      padding: 0;
    }
  }
}

.auth-image {
  height: calc(100vh - 77px - 74px - 40px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  border-radius: 24px;
  overflow: auto;
  position: relative;
  justify-content: flex-end;
  display: flex;
  padding: 10px 0;
  @media (max-width: $ViewTablet) {
    min-height: calc(100vh - 76px - env(safe-area-inset-bottom));
    border-radius: 0;
    padding: 0;
  }
}

.auth-mobile-logo {
  display: flex;
  margin-bottom: 48px;
  @media (min-width: $ViewTablet) {
    display: none;
  }
}

.auth-box {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  min-width: 360px;
  width: 360px;
  align-self: flex-start;
  margin: auto 232px auto auto;

  @media(max-width: 425px){
     padding: 24px 24px 72px;
  }


  &.auth-box-large {
    width: 606px;

    .form-box {
      @media(max-width: 640px){
        margin: 10px 0 0 0;
      }
    }
  }

  @media(max-width: 960px) {
    margin: auto 20px;
  }

  @media(max-width: 425px) {
    border-radius: 0;
    min-width: 100%;
    min-height: calc(100vh - 52px);
    width: 100%;
    margin: 0;
  }
}

.auth-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 8px;
}

.auth-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 32px;

}

.auth-swap-link {
  color: #054EDB;
  text-decoration: none;
  padding-left: 4px;
}

.auth-form {
  display: flex;
  gap: 26px;
  flex-direction: column;

  &.auth-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 12px;
    grid-column-gap: 16px;

    > div:last-child {
      grid-column: span 2;
      @media (max-width: 640px) {
        grid-column: span 1
      }
    }

    @media (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .button-password {
    margin-top: -20px;
    @media(max-width: 640px){
      margin-top: 0;
    }
  }

  .auth-form-grid__item {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
}