.cart {
  display: flex;
  max-width: 1400px;
  margin: 0 auto 20px;
  gap: 24px;
  padding: 0 32px;
  @media (max-width: 1140px) {
    flex-wrap: wrap;
  }
  @media (max-width: $ViewTablet) {
    padding: 0 16px;
  }
}

.cart-left {
  width: 100%;
}

.cart-left-box {
  padding: 32px;
  background: #FFFFFF;
  border-radius: 16px;
  @media (max-width: 1180px) {
    padding: 32px 16px;
  }
}

.cart-right {
  width: 336px;
  min-width: 336px;
  @media (max-width: 1140px) {
    width: 100%;
    min-width: 100%;
  }

  .cart-right__inner {
    position: sticky;
    top: 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
    align-self: flex-start;

    @media (max-width: 1140px) {
      position: static;
    }
  }
}

.cart-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #171717;
  margin-bottom: 12px;
}

.cart-list {
  margin-top: 36px;
}

.cart-item {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #EAF1FF;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 8px;
  @media (max-width: 1180px) {
    padding-bottom: 75px;
    position: relative;
    border: 0;
    border-bottom: 1px solid #EAF1FF;
    border-radius: 0;
    margin-bottom: 17px;
  }
}

.cart-item-image {
  position: relative;
  width: 148px;
  flex: 0 0 148px;
  height: 148px;
  overflow: hidden;
  @media (max-width: 1180px) {
    border-radius: 16px;
    width: 106px;
    flex: 0 0 106px;
    height: 106px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cart-item-new {
  background: #1D9F22;
  border-radius: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding: 0 4px;
  height: 14px;
}

.cart-item-favorite {
  width: 24px;
  height: 24px;
  top: 8px;
  right: 8px;
  position: absolute;
  z-index: 1;
  stroke: #8B96B1;
  fill: #ffffff;
  cursor: pointer;
  transition: .2s;

  &.active {
    fill: #DD2C28;
    stroke: #ffffff;
  }

  &:hover {
    fill: transparent;
    stroke: #000000;
  }
}

.cart-item-info {
  padding: 16px;
  width: 100%;
  margin-right: auto;
  @media (max-width: 1240px) {
    width: auto;
    flex-grow: 3;
  }
  @media (max-width: 1180px) {
    padding: 0 16px 16px 16px;
  }
}

.cart-item-name {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #171717;
  margin-bottom: 6px;
}

.cart-item-desc {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #8B96B1;
  margin-bottom: 12px;
}

.cart-item-article {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #171717;
  margin-bottom: 12px;
  @media (max-width: 1180px) {
    margin-bottom: 5px;
  }

  span {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #8B96B1;
    padding-right: 5px;
  }
}

.cart-item-characteristic {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cart-item-characteristic-item {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #8B96B1;
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media (max-width: 1180px) {
    padding-right: 0;
    margin-right: 0;
    border: 0;
    padding-bottom: 5px;
  }

  &:last-child {
    border: 0;
  }

  span {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #171717;
    padding-left: 5px;
  }
}

.cart-count-static {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #8B96B1;
  padding: 16px;

  span {
    padding-left: 5px;
    color: #171717;
  }
}

.cart-count {
  display: flex;
  align-items: center;
  padding: 16px 16px 28px 16px;
  position: relative;
  align-self: flex-start;
  gap: 8px;
  @media (max-width: 1180px) {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding-left: 0;
  }
}

.cart-count-remove {
  fill: #8B96B1;
  cursor: pointer;
  @media (max-width: 1180px) {
    order: 1;
  }

  &:hover {
    fill: #DD2C28;
  }
}

.cart-count-plus {
  background-image: url(../img/svg/plus.svg);
}

.cart-count-minus {
  background-image: url(../img/svg/minus.svg);
}

.cart-count-minus, .cart-count-plus {
  width: 40px;
  height: 40px;
  min-width: 40px;
  cursor: pointer;
  @media (max-width: 1180px) {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-size: 24px;
  }
}

.cart-count-input {
  width: 64px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4E3FF;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #171717;
  @media (max-width: 1180px) {
    height: 24px;
    width: 50px;
  }

}

.cart-count-available {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #FD9B08;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 1180px) {
    left: 0;
    transform: translateX(0);
  }
}

.cart-price {
  padding: 16px;
  margin-left: auto;
  text-align: right;
  @media (max-width: 1180px) {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0 0 10px 0;
  }

}

.cart-new-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  color: #171717;
  margin-bottom: 4px;
  white-space: nowrap;
  @media (max-width: 1180px) {
    position: absolute;
    top: -24px;
    right: 0;
  }
}

.cart-old-price {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #8B96B1;
  white-space: nowrap;

}

.cart-discount {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #8B96B1;
  white-space: nowrap;
  padding-left: 8px;
  margin-left: 8px;
  position: relative;

  &:before {
    content: '';
    height: 16px;
    width: 1px;
    display: inline-block;
    background-color: #CDDAF1;
    position: absolute;
    left: 0;
    top: 4px;
  }

  @media (min-width: 1180px) {
    &:before {
      display: none;
    }
  }
  @media (max-width: 1180px) {
  }
}

.cart-total-head {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    color: #171717;
  }

}

.cart-total-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -12px;

  * {
    width: 50%;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #2B2B2B;

  }

  div:nth-child(even) {
    text-align: right;
  }
}

.cart-total-line {
  background-color: #D4E3FF;
  height: 1px;
  width: 100%;
  margin: 24px 0;
}

.cart-promocode {

}

.cart-promocode-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 10px;
}

.cart-promocode-input {
  background: #FFFFFF;
  border: 1px solid #CDDAF1;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 16px;
  font-weight: normal;
  font-size: 13px;
  line-height: 175%;
  height: 44px;

  &.active {
    background-image: url(../img/svg/Checked.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 24px;
  }
}

.cart-promocode-btn {
  height: 44px;
  background: #054EDB;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
}

.cart-total-subscribe {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.cart-total-subscribe-input {
  display: none;

  &:checked + .cart-total-subscribe-indicator {
    background-image: url(../img/svg/Checked.svg);
  }
}

.cart-total-subscribe-indicator {
  width: 20px;
  min-width: 20px;
  background-image: url(../img/svg/Unchecked.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  margin-right: 10px;
  background-size: 20px;
}

.cart-total-subscribe-value {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #171717;
}

.cart-btn {
  height: 44px;
  background: #171717;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
}

.cart-btn-outline {
  @extend .cart-btn;
  background-color: #fff;
  color: #054EDB;
  margin-bottom: 0;
}

.order {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  @media (max-width: 1100px) {
    flex-wrap: wrap;
  }
}

.order-left {
  background-color: #FFFFFF;
  border-radius: 16px;
  flex-grow: 3;
  padding: 32px;
  @media (max-width: 1200px) {
    padding: 16px;
  }
}

.order-right {
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 358px;
  padding: 20px;
  @media (max-width: 1100px) {
    width: 100%;
    padding: 16px;
  }
}

.order-right-item {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-right-img {
  margin-bottom: 12px;
}

.order-right-title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #171717;

}

.order-right-desc {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #2B2B2B;
}

.order-grid {
  display: flex;
  @media (max-width: 640px) {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.order-grid-left {
  flex-grow: 3;
  white-space: nowrap;
}

.order-grid-right {
  width: 100%;
  padding-left: 10px;
  @media (max-width: 640px) {
    padding-left: 0;
  }
}

.order-grid-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin-bottom: 8px;
}

.order-grid-id-order {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #8B96B1;

  span {
    padding-left: 5px;
    color: #171717;
    font-weight: 600;
  }
}

.order-grid-right {
  .form-box {
    margin-bottom: 10px;
  }
}

.order-left-line {
  margin: 36px 0;
  background-color: #D4E3FF;
  height: 1px;
  width: 100%;
}

.order-radio {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.order-radio-input {
  display: none;

  &:checked + .order-radio-indicator {
    background-image: url(../img/svg/radio-button-checked.svg);
  }
}

.order-radio-indicator {
  width: 20px;
  min-width: 20px;
  background-image: url(../img/svg/radio-button-unchecked.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  margin-right: 10px;
  background-size: 20px;
}

.order-radio-value {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #171717;
}

.order-date-delivery {
  margin-bottom: 12px;
  background-image: url(../img/svg/calendar.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 45px;
}

.order-t36 {
  margin-top: 36px;
}

.form-col {
  gap: 8px;
  display: flex;

  > div {
    width: 50%;
  }
}

.form-select-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  display: flex;
  margin-bottom: 4px;
  color: #8B96B1;
}

.pick-up-point + .CaptionCont {
  padding-left: 52px;
  background-image: url(../img/svg/marker.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}

.delivery-info {
  margin: 12px 0 24px 0;
  padding-left: 32px;
}

.delivery-info-item {
  margin-bottom: 16px;
}

.delivery-info-item-subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #8B96B1;
  margin-bottom: 4px;
}

.delivery-info-item-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #2B2B2B;
}

.order-tab-1 {
  display: none;
}

.order-tab-2 {
  display: none;
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .cart-left-box {
      margin-right: 25px;
      @media(max-width: 1140px) {
        margin-right: 0;
      }
    }
    .order-left {
      margin-right: 25px;
      @media(max-width: 1140px) {
        margin-right: 0;
      }
    }
    .order-right {
      margin-right: 25px;
      @media(max-width: 1140px) {
        margin: 24px 0;
      }
    }

    .order-cols .order-cols-left {
      margin: 0 32px 0 0;
      @media(max-width: 1250px) {
        margin: 0 0 32px 0;
      }
      @media(max-width: 425px) {
        margin: 0 0 20px 0;
      }
    }
  }
}

.cart .form-error-msg {
  position: static;
}

.city-search {

  .loader-img {
    position: absolute;
    z-index: 20;
    width: 30px;
    height: 30px;
    top: 7px;
    right: 7px;
    display: none;
  }

  .cart-region {
    position: relative;
    z-index: 15;
  }

  .form-label-text {
    z-index: 15;
  }
}

.city-dropdown {
  position: absolute;
  z-index: 10;
  top: calc(100% - 25px);
  left: 0;
  right: 0;
  display: none;

  .city-dropdown__inner {
    padding: 40px 6px 16px 16px;
    border: 1px solid #CDDAF1;
    border-radius: 16px;
    background-color: #FFFFFF;

    ul {
      max-height: 200px;

      li {
        font-size: 13px;
        color: #000;
        font-weight: normal;
        margin: 0 0 12px;
        cursor: pointer;

        &:last-child {
          margin: 0;
        }

        span {
          font-weight: 700;
        }
      }
    }
  }
}