.carousel-category {
  .slick-slide {
    transition: 0.3s;
  }

  img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    object-fit: contain;
    margin: 0 auto;
  }
}

.aside-right-overflow {
  overflow: hidden;
  width: 100%;

  @media(max-width: 425px) {
    overflow: revert;
  }
}

.slick-prev {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 0;
  background-image: url(../img/svg/bi_arrow-left-small.svg);
  outline: none;
  border: 0;
  background-color: transparent;
  z-index: 10;

  &:hover {
    filter: brightness(70%);
  }
}


.slick-next {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 0;
  background-image: url(../img/svg/bi_arrow-right-small.svg);
  outline: none;
  border: 0;
  background-color: transparent;
  z-index: 10;

  &:hover {
    filter: brightness(70%);
  }
}

.generator-carousel {
  margin: 65px 20px;

  @media(max-width: 1800px) {
    margin: 65px 0;
  }

  @media(max-width: 425px) {
    margin: 32px 0 0;
  }
}

.aside-bar {
  padding: 32px 24px;
  background-color: #fff;
  flex: 0 0 363px;
  align-self: flex-start;
  border-radius: 16px;
  @media (max-width: 1440px) {
    flex: 0 0 300px;
  }
  @media (max-width: 960px) {
    flex: 0 0 100%;
  }
  @media (max-width: 425px) {
    padding: 32px 4px;
  }
}

.aside-bar-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8B96B1;
}

.aside-bar-flex {
  display: flex;
  justify-content: space-between;
}

.aside-bar-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.aside-bar-flex {
  margin-bottom: 6px;
}

.aside-bar-title-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B96B1;
}

.aside-bar-id {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B96B1;

  .color-article {
    display: none;

    &.active {
      display: block;
    }
  }
}

.aside-bar-price {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #171717;
}

.aside-bar-line {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background-color: #D4E3FF;
}

.irs--flat .irs-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #8B96B1;
  background: #8B96B1;
  border-radius: 50%;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #FD9B08;
}

.irs--flat .irs-handle > i:first-child {
  position: static;
  display: block;
  width: 2px;
  height: 12px;
  background-color: #D4E3FF;
  opacity: 0.49;
  border-radius: 5px;
  margin: 0 1px;
}

.irs--flat .irs-handle > i:nth-child(2) {
  position: static;
  display: block;
  width: 2px;
  height: 12px;
  background-color: #D4E3FF;
  opacity: 0.49;
  border-radius: 5px;
  margin: 0 1px;
}

.irs--flat .irs-handle > i:last-child {
  display: none;
}

.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
  background-color: #D4E3FF;
}

.irs--flat .irs-line {
  height: 4px;
}

.irs--flat .irs-bar {
  height: 4px;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-shadow: none;
  width: 48px;
  text-align: center;
  padding: 3px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #CDDAF1;
  color: #000000;
}

.irs--flat .irs-from::before, .irs--flat .irs-single::before, .irs--flat .irs-to::before {
  position: absolute;
  display: block;
  content: "";
  bottom: -8px;
  left: 50%;
  width: 12px;
  height: 10px;
  margin-left: 0;
  overflow: hidden;
  border: none;
  transform: translateX(-50%);
  background: url("../img/svg/arrow-calc.svg") center no-repeat;
}

.irs-from, .irs-single, .irs-to {
  top: -19px;
}

.aside-range {
  margin-top: 32px;
}

.irs--flat .irs-max, .irs--flat .irs-min {
  display: none;
}

.aside-footer {
  .aside-footer-flex {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;

    .left {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #8B96B1;
    }

    .right {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #171717;
    }
  }
}

.aside-btn-black {
  background: #171717;
  border-radius: 16px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
  outline: none;
  border: 0;
}

.aside-form {
  .aside-form-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }

  .form-textarea {
    margin-bottom: 20px;
  }

  .form-box {
    margin-bottom: 10px;
  }
}

.aside-success {

}

.aside-success-title {
  padding: 40px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8B96B1;
  text-align: center;
}

.mobile-filter {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #171717;
  background-color: #FFFFFF;
  border: 1px solid #D4E3FF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  @media (min-width: 961px) {
    display: none;
  }
  @media(max-width: 640px) {
    display: none;
  }

  &:before {
    margin-right: 8px;
    content: '';
    width: 20px;
    height: 20px;
    background-position: center;
    background-image: url(../img/svg/filter-off.svg);
  }
}

.filter-close-mobile {
  @media (min-width: 961px) {
    display: none;
  }
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(../img/svg/close.svg);
  }
}

.generator-carousel {

  .three-slick-slider {

    .carousel-category {
      overflow: hidden;

      @media(max-width: 425px) {
        margin: 0 -16px;
      }

      .slick-list {
        width: 207px;
        overflow: revert;
        margin: 0 auto;

        @media(max-width: 1800px) {
          width: 187px;
        }

        @media(max-width: 1700px) {
          width: 170px;
        }

        @media(max-width: 1640px) {
          width: 150px;
        }

        @media(max-width: 1540px) {
          width: 140px;
        }

        @media(max-width: 1366px) {
          width: 120px;
        }

        @media(max-width: 1250px) {
          width: 110px;
        }

        @media(max-width: 1200px) {
          width: 160px;
        }

        @media(max-width: 1090px) {
          width: 135px;
        }

        @media(max-width: 1024px) {
          width: 110px;
        }

        @media(max-width: 960px) {
          width: 170px;
        }

        @media(max-width: 840px) {
          width: 145px;
        }

        @media(max-width: 725px) {
          width: 125px;
        }

        @media(max-width: 640px) {
          width: 100px;
        }

        @media(max-width: 540px) {
          width: 160px;
        }

        @media(max-width: 490px) {
          width: 135px;
        }

        @media(max-width: 425px) {
          width: 130px;
        }

        @media(max-width: 375px) {
          width: 112px;
        }

        .slick-slide {
          position: relative;
          padding: 0 37px;
          transform: scale(0.657) translate(0, 0);
          transition: 0.5s;

          @media(max-width: 1540px) {
            padding: 0 20px;
          }

          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 10;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
          }

          img {
            border-radius: 16px;
            overflow: hidden;
          }
        }

        .slick-slide.slick-prev-next {
          transform: scale(0.754) translate(0, 0);
        }

        .slick-slide.slick-center {
          transform: scale(1) translate(0, 0);

          &:after {
            background: transparent;
          }
        }

        .slick-slide.slide-next {
          @media(max-width: 320px) {
            transform: scale(0.754) translate(-20%, 0);
          }
        }

        .slick-slide.slide-prev {
          @media(max-width: 320px) {
            transform: scale(0.754) translate(20%, 0);
          }
        }
      }


      .slick-prev, .slick-next {
        transform: translateY(-50%);
      }

      .slick-prev {
        left: 37%;

        @media(max-width: 1250px) {
          left: 37%;
        }

        @media(max-width: 1200px) {
          left: 31%;
        }

        @media(max-width: 960px) {
          left: 38%;
        }

        @media(max-width: 540px) {
          left: 28%;
        }

        @media(max-width: 425px) {
          left: 0;
        }
      }

      .slick-next {
        right: 37%;

        @media(max-width: 1250px) {
          right: 37%;
        }

        @media(max-width: 1200px) {
          right: 31%;
        }

        @media(max-width: 960px) {
          right: 38%;
        }

        @media(max-width: 540px) {
          right: 28%;
        }

        @media(max-width: 425px) {
          right: 0;
        }
      }
    }

  }

  .three-slick-slider:first-child {
    .carousel-category {
      padding: 0 0 16px;

      .slick-list {

        .slick-slide {
          padding: 0;
          transform: scale(0.657) translate(0, 40%);
        }

        .slick-slide.slick-center {
          transform: scale(1) translate(0, 0);

          &:after {
            background: transparent;
          }
        }

        .slick-slide.slick-prev-next {
          transform: scale(0.754) translate(0, 21%);
        }

        .slick-slide.slide-next {
          @media(max-width: 320px) {
            transform: scale(0.754) translate(-20%, 21%);
          }
        }

        .slick-slide.slide-prev {
          @media(max-width: 320px) {
            transform: scale(0.754) translate(20%, 21%);
          }
        }
      }

      .slick-prev, .slick-next {
        @media(max-width: 425px) {
          transform: translate(0, -5%);
        }
      }
    }
  }

  .three-slick-slider:last-child {
    .carousel-category {
      padding: 16px 0 0;

      .slick-list {

        .slick-slide {
          transform: scale(0.657) translate(0, -40%);
        }

        .slick-slide.slick-center {
          transform: scale(1) translate(0, 0);

          &:after {
            background: transparent;
          }
        }

        .slick-slide.slick-prev-next {
          transform: scale(0.754) translate(0, -21%);
        }

        .slick-slide.slide-next {
          @media(max-width: 320px) {
            transform: scale(0.754) translate(-20%, -21%);
          }
        }

        .slick-slide.slide-prev {
          @media(max-width: 320px) {
            transform: scale(0.754) translate(20%, -21%);
          }
        }
      }
    }
  }
}


.one-slick-slider {
  .constructor-slider-for {
    overflow: hidden;
    margin-bottom: 78px;

    @media(max-width: 425px) {
      margin-bottom: 30px;
    }

    .slick-list {
      max-width: 388px;
      margin: 0 auto;
      overflow: revert;
      padding: 0 30px;

      @media(max-width: 1440px) {
        max-width: 320px;
      }

      .slick-slide {
        img {
          border-radius: 18px;
          overflow: hidden;
        }
      }
    }

    .slick-arrow {
      transform: translateY(-50%);

      &.slick-prev {
        left: 26%;

        @media(max-width: 1740px) {
          left: 23%;
        }

        @media(max-width: 1640px) {
          left: 20%;
        }

        @media(max-width: 1440px) {
          left: 18%;
        }

        @media(max-width: 1366px) {
          left: 16%;
        }

        @media(max-width: 1200px) {
          left: 7%;
        }

        @media(max-width: 1024px) {
          left: -2%;
        }
      }

      &.slick-next {
        right: 26%;

        @media(max-width: 1740px) {
          right: 23%;
        }

        @media(max-width: 1640px) {
          right: 20%;
        }

        @media(max-width: 1440px) {
          right: 18%;
        }

        @media(max-width: 1366px) {
          right: 16%;
        }

        @media(max-width: 1200px) {
          right: 7%;
        }

        @media(max-width: 1024px) {
          right: -2%;
        }
      }
    }
  }

  .constructor-slider-nav {
    padding: 0 50px;

    @media(max-width: 1366px) {
      padding: 0 25px;
    }

    @media(max-width: 1200px) {
      padding: 0;
    }

    @media(max-width: 425px) {
      padding: 0;
    }

    .slick-list {
      max-width: 740px;
      margin: 0 auto;

      @media(max-width: 425px) {
        margin: 0 -16px;
      }

      .slick-track {
        margin-left: 0;
        margin-right: 0;
      }

      .slick-slide {
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        border: 1.6px solid transparent;
        margin: 0 8px;

        @media(max-width: 425px) {
          margin: 0 6px;
          border-radius: 8px;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 10;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
        }

        &.slick-current {
          border: 1.6px solid #8B96B1;

          &:after {
            background: transparent;
          }
        }
      }
    }
  }
}
