.about-us__page {
  margin: 0 0 20px;
}

.ck-editor-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 0 32px;
  @media(max-width: 425px) {
    padding: 0 20px;
  }
}

.ck-editor-inner {
  background: white;
  border-radius: 16px;
  overflow: hidden;

  @media(max-width: 425px) {
    margin: 0 -20px;
    border-radius: 0;
  }

  &.contractor-inner {
    padding-bottom: 0;
  }
}

.contractor-intro {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  padding: 50px;
  position: relative;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto 90px auto;
  background-position: center;
  @media(max-width: 425px) {
    margin: 0 0 72px;
  }

  &.about-us-intro {
    &::after {
      display: none;
    }

    justify-content: center;

    @media (max-width: 640px) {
      justify-content: flex-end;
    }
  }

  @media (max-width: 1200px) {
    min-height: 600px;
    padding: 32px;
    max-width: none;
    border-radius: 0;
  }

  @media (max-width: 1024px) {
    min-height: 430px;
    margin-bottom: 70px;

    &.get-intro {
      margin-bottom: 36px;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(95.49% 380.93% at 3.51% 13.22%, rgba(5, 78, 219, 0.744) 0%, rgba(6, 68, 188, 0.8) 100%)
  }
}

.submit-app {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  padding: 18px 60px;
  background: #171717;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  cursor: pointer;

  @media (max-width: 1200px) {
    margin-bottom: 32px;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
    padding: 11px 20px;
    margin-bottom: 18px;
  }

  &.suggestion-btn {
    background: #054EDB;
    padding: 18px 24px;
    display: inline-block;
    color: white;

    @media (max-width: 640px) {
      padding: 11px 20px;
      font-size: 14px;
    }
  }
}

.contractor-ttl {
  font-weight: 800;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  max-width: 835px;
  margin-bottom: 50px;

  @media (max-width: 1200px) {
    font-size: 38px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 32px;
    font-size: 25px;
  }
}

.advantage {
  max-width: 1120px;
  margin: 0 auto 120px auto;
  padding: 0 20px;

  @media (max-width: 640px) {
    margin-bottom: 70px;
  }
}

.advantage-top {
  margin-bottom: 60px;

  @media (max-width: 640px) {
    margin-bottom: 72px;
  }

  &.get-top {
    @media (max-width: 640px) {
      text-align: left;

      .advantage-top-ttl {
        font-size: 24px;
      }
    }
  }
}

.advantage-ttl {
  font-weight: 800;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #054EDB;
  margin-bottom: 32px;

  @media (max-width: 1200px) {
    font-size: 38px;
  }

  @media (max-width: 640px) {
    font-size: 24px;
  }

  &.advantage-top-ttl {
    margin-bottom: 24px;
    color: #171717;
    max-width: 950px;

    @media (max-width: 640px) {
      display: block;
      font-size: 20px;
    }
  }
}

.advantage-text {
  line-height: 150%;
  color: #2B2B2B;

  @media (max-width: 1024px) {
    font-size: 13px;
  }

  &.advantage-itm-txt {
    max-width: 265px;
  }
}

.advantage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.advantage-item-ttl {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: #171717;
  margin-bottom: 24px;

  span {
    font-weight: 800;
    font-size: 112px;
    line-height: 100%;
    display: block;

    @media (max-width: 1200px) {
      font-size: 72px;
    }
  }
}

.suggestion {
  min-height: 625px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    background-position: 70% 100%;
  }

  @media (max-width: 640px) {
    min-height: 360px;
    background-position: 80% 100%;
  }

  @media (max-width: 425px) {
    align-items: flex-end;
  }
}

.suggestion-inner {
  max-width: 1120px;
  width: 100%;
  padding: 0 20px;
  @media(max-width: 425px) {
    padding: 0 20px 80px;
  }
}

.suggestion-ttl {
  max-width: 460px;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  color: #171717;

  @media (max-width: 640px) {
    font-size: 24px;
    max-width: 230px;
  }
}

.contractor-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 999;
  display: none;
  overflow-y: auto;

  &.active {
    display: flex;
  }
}

.contractor-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 355px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 16px 33px -13px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 32px 20px;
  margin: 100px 0 50px;

  @media (max-width: 425px) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    transform: translate(0, 0);
    margin: 0;
    overflow-y: auto;
    border-radius: 0;
  }
}

.contr-modal-ttl {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #171717;
  margin-bottom: 12px;
}

.contr-fields {
  display: grid;
  gap: 16px;
}

.contr-input {
  border: 1px solid #CDDAF1;
  border-radius: 16px;
  height: 44px;
  padding: 0 16px;
  font-size: 13px;
  line-height: 175%;
  display: block;
  width: 100%;

  &::placeholder {
    color: #8B96B1;
  }

  &.textarea-field {
    padding: 12px 16px;
    min-height: 170px;
    resize: none;
  }
}

.contr-select-wrap {
  position: relative;

  &::after {
    display: block;
    width: 24px;
    height: 24px;
    content: "";
    border: 10px transparent;
    border-bottom: 10px #8B96B1;
    position: absolute;
    top: 50%;
    right: 16px;
    background: url("../img/svg/select.svg") no-repeat center;
    background-size: contain;
    transform: translateY(-50%);
  }
}

.contr-btn {
  font-weight: 500;
  font-size: 14px;
  height: 44px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  color: #171717;
  border: 1px solid #8B96B1;
  border-radius: 16px;
  background: none;

  &.contr-btn-submit {
    background-color: #8B96B1;
    color: white;
    pointer-events: none;

    &.value-exists {
      background: #171717;
      pointer-events: auto;
    }
  }
}

.get-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 50px;
  padding-bottom: 64px;
  margin-bottom: 64px;
  border-bottom: 1px solid #D4E3FF;
  counter-reset: counterBy1;

  @media (max-width: 1024px) {
    column-gap: 50px;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    row-gap: 64px;
    margin-bottom: 36px;
    padding-bottom: 36px;
  }
}

.get-item.begin .get-ttl {
  display: grid;
  gap: 16px;

  &::before {
    counter-increment: counterBy1;
    content: counter(counterBy1);
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    background: #054EDB;
    border-radius: 16px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 640px) {
      width: 52px;
      height: 52px;
      font-size: 24px;
    }
  }
}

.get-img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-bottom: 16px;

  @media (max-width: 640px) {
    width: 52px;
    height: 52px;
  }
}

.get-ttl {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #171717;
  margin-bottom: 16px;

  @media (max-width: 640px) {
    font-size: 18px;
  }
}

.get-txt {
  line-height: 150%;
  color: #2B2B2B;
}

.get {
  padding: 0 20px;
  max-width: 1120px;
  margin: 0 auto;
}

.intro-grid {
  display: flex;
  margin: 0 110px 0 auto;
  align-items: center;

  @media (max-width: 640px) {
    margin: 0 auto 0 0;
  }
}

.intro-logo {
  position: absolute;
  right: 172px;
  @media (max-width: 640px) {
    display: none;
  }
}

.intro-logo-mobile {
  position: absolute;
  left: 33px;
  bottom: 38px;
  @media (min-width: 640px) {
    display: none;
  }
}
