.commands {
  padding: 0 0 12px;
}

.commads-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    margin: 0 -20px;
  }
}

.aside-form {
  .form-error-msg {
    position: static;
  }
}

.commads-grid-item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  @media (max-width: 640px) {
    border-radius: 0;
  }

  &:hover {
    &:after {
      background: rgba(255, 24, 24, 0.99);
    }
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    mix-blend-mode: color-burn;
    transition: .2s;
    border-radius: 16px;
    overflow: hidden;
    @media(max-width: 640px) {
      border-radius: 0;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #242424;
    mix-blend-mode: color;
    opacity: 1;
    border-radius: 16px;
    overflow: hidden;
    @media(max-width: 640px) {
      border-radius: 0;
    }
  }

  a {
    z-index: 10;
  }
}

.commads-item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.commads-item-image {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
}

.commads-item-title {
  padding: 43px 54px;
  font-weight: 800;
  font-size: 36px;
  line-height: 125%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: transparent;
  max-width: 430px;
  -webkit-text-stroke: 2px #ffffff;
  @media (max-width: 1440px) {
    padding: 20px 30px;
    font-size: 28px;
  }
  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: normal;
  }
  @media (max-width: 960px) {
    font-size: 18px;
    -webkit-text-stroke: 1px #ffffff;
  }
  @media (max-width: 768px) {
    padding: 12px 20px;
    font-size: 16px;
  }
  @media (max-width: 640px) {
    padding: 24px;
    font-size: 18px;
    max-width: 280px;
  }
}

.category-for-teams-generator {
  @media(max-width: 960px) {
    background: #FFFFFF;
  }

  .header {
    @media(max-width: 960px) {
      background: #FFFFFF;
    }
  }

  .product-wrapper-between {
    display: flex;
  }

  .mobile-filter {
    @media(max-width: 960px) {
      margin: 16px 0 0 0;
      display: flex;
    }
  }
}

.product-info__render {
  .aside-form, .aside-success {
    @media(max-width: 425px) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 100;
      overflow: auto;
      padding: 24px 20px;
      background: #FFFFFF;
    }

    .form-button {
      @media(max-width: 640px) {
        margin-bottom: 10px;
        height: 44px;
      }
    }
  }
}