.page-loaded{
    .hello-page__image{
        opacity: 1;
    }
    .hello-page__desc{
        transform: translateY(0);
        opacity: 1;
    }
    .hello-page__title{
        transform: translateY(0);
        opacity: 1;
    }
}
.hello-page{
    min-height: calc(100vh - 77px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    @media (max-width: $ViewMobile) {
        padding: 20px 0;
    }
}
.hello-page__image{
    margin-bottom: 70px;
    width: 216px;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.5s;
    @media (max-width: $ViewMobile) {
        width: 142px;
    }
}
.hello-page__desc{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $FontColorBlack;
    max-width: 820px;
    margin: 0 auto 52px auto;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.3s;
    transition-delay: 1s;
    @media (max-width: $ViewMobile) {
        margin-bottom: 43px;
        font-size: 14px;
        line-height: 150%;
    }

}
.hello-page__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $FontColorBlack;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.3s;
    transition-delay: 1.3s;
}