.index {
  background: #F6F6F6;
}

.main-category {
  padding: 60px 0 0;
  position: relative;

  @media(max-width: 960px) {
    padding: 40px 0 0;
  }

  @media(max-width: 640px) {
    padding: 20px 0 0;
    width: 510px;
    margin: 0 auto;
  }

  @media(max-width: 550px) {
    width: 460px;
  }

  @media(max-width: 500px) {
    width: 410px;
  }

  @media(max-width: 450px) {
    width: 385px;
  }

  @media(max-width: 425px) {
    padding: 10px 0 0;
    width: 335px;
  }

  @media(max-width: 375px) {
    width: 300px;
  }

  @media(max-width: 340px) {
    width: 280px;
  }

  .swiper-pagination-bullet-active {
    background: #171717;
  }

  .swiper-container {
    width: calc(100% - 136px);
    margin: 0 auto;
    padding-bottom: 60px;

    @media(max-width: 1200px) {
      width: calc(100% - 75px);
    }

    @media(max-width: 425px) {
      width: 100%;
      padding-bottom: 32px;
    }

    .swiper-wrapper {
      margin-left: -26px;

      @media(max-width: 1740px) {
        margin-left: -20px;
      }

      @media(max-width: 1200px) {
        margin-left: -17px;
      }

      @media(max-width: 1024px) {
        margin-left: -16px;
      }

      @media(max-width: 960px) {
        margin-left: -14px;
      }

      @media(max-width: 640px) {
        margin-left: 0;
      }
    }
  }

  .swiper-slide {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transform: perspective(500px) translateZ(-100px);
    box-shadow: 0 38px 41px -28px rgba(0, 0, 0, 0.25);
    transition: inherit;
    opacity: .5;

    @media(max-width: 960px) {
      border-radius: 12px;
    }

    @media(max-width: 640px) {
      opacity: 1;
      box-shadow: none;
    }

    &.swiper-slide-active, &.swiper-slide-prev, &.swiper-slide-next {
      transform: translateZ(0);
      opacity: 1;
    }

    &.swiper-slide-active {
      margin: 0 26px !important;

      @media(max-width: 1740px) {
        margin: 0 20px !important;
      }

      @media(max-width: 1200px) {
        margin: 0 17px !important;
      }

      @media(max-width: 1024px) {
        margin: 0 16px !important;
      }

      @media(max-width: 960px) {
        margin: 0 14px !important;
      }

      @media(max-width: 640px) {
        margin: auto !important;
      }
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(255, 24, 24, 0.99);
      mix-blend-mode: color-burn;
      opacity: 0;
      transition: .2s;
      border-radius: 16px;
      @media(max-width: 960px) {
        border-radius: 12px;
      }
      @media(max-width: 425px) {
        display: none;
      }
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #242424;
      mix-blend-mode: color;
      opacity: 1;
      transition: .2s;
      border-radius: 16px;
      @media(max-width: 960px) {
        border-radius: 12px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
      }
      opacity: 1;
    }

    .main-category-link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10;
    }

    .main-category-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }

  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 14px;
    color: #054EDB;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-70%);

    @media(max-width: 425px) {
      display: none;
    }
  }

  .swiper-button-next {
    @media (max-width: 960px) {
      right: -10px;
    }
  }

  .swiper-button-prev {
    @media (max-width: 960px) {
      left: -10px;
    }
  }
}

.tags_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 21px 0 0 0;

  @media(max-width: 425px) {
    margin: -7px 0 0 0;
  }

  a {
    margin: 0 4px 8px;
    text-decoration: none;
    color: #2B2B2B;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 8px 20px;
    transition: .2s;
    border: 1px solid transparent;

    @media(max-width: 425px) {
      font-size: 12px;
      line-height: 130%;
      padding: 5px 16px;
      margin: 0 2px 4px;
    }

    &:hover {
      border: 1px solid #D4E3FF;
    }
  }
}

.swiper-pagination-bullet {
  @media(max-width: 425px) {
    width: 6px;
    height: 6px;
    margin: 0 3px;
  }
}

.main-brands {
  max-width: 1200px;
  margin: 0 auto 16px;
  position: relative;

  .swiper-container {
    width: 90%;
    margin: 0 auto;
    padding: 60px 20px;

    @media(max-width: 960px) {
      padding: 40px 20px;
    }

    @media(max-width: 640px) {
      padding: 40px 15px;
    }

    @media(max-width: 425px) {
      padding: 20px 0 34px;
      width: calc(100% - 74px);
    }

    .swiper-wrapper {
      align-items: center;

      @media(max-width: 960px) {
        align-items: stretch;
      }
    }
  }

  .swiper-slide {
    text-align: center;
    position: relative;

    @media(max-width: 960px) {
      background: #FFFFFF;
      border-radius: 8px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover, &.active {
      .image-wrapper {
        img {
          filter: none;
        }
      }
    }

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }

    .image-wrapper {
      position: relative;

      img {
        display: block;
        transition: .3s;
        filter: blur(8px);

        @media (max-width: 960px) {
          filter: blur(3px);
          background: #FFFFFF;
          border-radius: 8px;
          padding: 10px;
        }
      }
    }
  }

  .swiper-pagination-bullet-active {
    background: #171717;
  }

  .swiper-button-next-brands {
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(0);
    background-image: url(../img/svg/bi_arrow-right.svg);

    @media(max-width: 425px) {
      background-image: url(../img/svg/bi_arrow-right2.svg);
    }

    &:after {
      display: none;
    }

    @media (max-width: 960px) {
      right: 0;
    }

    @media (max-width: 425px) {
      transform: translateY(-6px);
    }
  }

  .swiper-button-prev-brands {
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(0);
    background-image: url(../img/svg/bi_arrow-left.svg);

    @media(max-width: 425px) {
      background-image: url(../img/svg/bi_arrow-left2.svg);
    }

    &:after {
      display: none;
    }

    @media (max-width: 960px) {
      left: 0;
    }

    @media (max-width: 425px) {
      transform: translateY(-6px);
    }
  }
}

@supports (-webkit-hyphens:none) {
  .main-brands {
    .swiper-slide {
      overflow: hidden;

      &:hover, &.active {
        .image-wrapper {
          &:after {
            backdrop-filter: none;
            display: none;
          }

          img {
            filter: none;
          }
        }
      }

      .image-wrapper {
        &:after {
          content: "";
          position: absolute;
          top: -20px;
          bottom: -20px;
          right: -20px;
          left: -20px;
          backdrop-filter: blur(8px);
          transition: .3s;
          opacity: 1;

          @media(max-width: 960px) {
            backdrop-filter: blur(3px);
          }
        }

        img {
          filter: none;
        }
      }
    }
  }
}
