.product-detail-page, .product-list__page {
  @media(max-width: 425px) {
    background: #FFFFFF;
  }
}

.product-list__page {
  @media(max-width: 425px) {
    background: #FFFFFF;
  }

  .container-fluid {
    @media(max-width: 425px) {
      padding: 0 20px;
    }
  }
}

.product-wrapper {
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 20px;

  @media(max-width: 1366px) {
    padding: 32px 24px;
  }

  @media(max-width: 425px) {
    padding: 24px 0;
  }
}


.ready-made-kits__page {
  .product-wrapper {
    @media(max-width: 425px) {
      padding: 0;
    }
  }

  .product-wrapper-between {
    @media(max-width: 425px) {
      display: none;
    }
  }
}

.aside-bar.aside-bar__mobile {
  @media(max-width: 425px) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    padding: 24px 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .form-button {
    @media(max-width: 640px) {
      margin-bottom: 10px;
      height: 44px;
    }
  }
}

.filter-form-wrapper.filter-item {
  margin-bottom: 0;
}

.product-wrapper-between {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px;

  .mobile-sort__wrapper {
    @media (max-width: 640px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div, .filter-form-wrapper {
        width: calc(50% - 4px);

        .SumoSelect {
          width: 100%;

          .product-sortable + .SelectBox + .optWrapper {
            min-width: 218px;
            left: auto;
            right: 0;
          }
        }
      }
    }
  }

  .mobile-filter {
    display: none;
    @media (max-width: 640px) {
      display: flex;
      margin: 0;
    }
  }

  @media (max-width: 640px) {
    flex-wrap: wrap;
    gap: 20px;
  }
  @media (max-width: 425px) {
    gap: 16px;
  }

  > div {
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

.product-filter-choiced {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 24px 0;
  @media(max-width: 640px) {
    margin: 12px 0 0;
  }
  @media(max-width: 425px) {
    gap: 4px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 0 10px;
  }
}

.product-filter-choiced-item {
  background: #FFFFFF;
  border: 1px solid #D4E3FF;
  border-radius: 12px;
  padding: 8px 20px;
  font-weight: normal;
  font-size: 13px;
  line-height: 175%;
  color: #2B2B2B;
  cursor: pointer;
  @media(max-width: 425px) {
    padding: 4px 16px;
  }
}

.product-wrapper-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #171717;
  margin-bottom: 12px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 24px;
  @media(max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  @media(max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 425px) {
    margin-top: 6px;
  }
}

.product-item {
  background: #FFFFFF;
  border: 1px solid #EAF1FF;
  border-radius: 16px;
  overflow: hidden;
  position: relative;

  @media(max-width: 425px) {
    border: none;
    border-radius: 10px;
  }

  &:hover {
    .img-preview {
      transform: scale(1.03);
    }
  }
}

.product-item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.product-item-image {
  position: relative;
  overflow: hidden;
}

.product-item-new {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 0 5px;
  height: 24px;
  background: #171717;
  border-radius: 8px;
  z-index: 1;
  @media(max-width: 425px) {
    top: 7px;
    left: 6px;
    height: 14px;
    border-radius: 5px;
    padding: 0 4px;
    font-size: 8px;
    line-height: 10px;
  }
}

.product-item-favorite {
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  fill: #FFFFFF;
  cursor: pointer;
  stroke: #CDDAF1;
  transition: .2s;

  @media(max-width: 425px) {
    width: 20px;
    height: 20px;
  }

  &.active {
    fill: #DD2C28;
    stroke: #FFFFFF;
  }

  &:hover {
    fill: transparent;
    stroke: #000000;
  }

  .icon {
    width: 100%;
    height: 100%;
  }
}

.img-placeholder {
  width: 100%;
}

.img-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.product-item-info {
  padding: 16px;

  @media(max-width: 425px) {
    padding: 8px 8px 16px;
  }
}

.product-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #171717;
  margin-bottom: 12px;

  @media(max-width: 425px) {
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 8px;
  }
}

.product-item-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 125%;
  color: #8B96B1;
  margin-bottom: 12px;

  @media(max-width: 425px) {
    font-size: 10px;
    margin-bottom: 8px;
  }
}

.product-item-price {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media(max-width: 425px) {
    row-gap: 4px;
    column-gap: 6px;
  }

  div {
    font-size: 14px;
    line-height: 150%;

    @media(max-width: 425px) {
      font-size: 11px;
      line-height: 100%;
    }
  }


  span {
    height: 24px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-flex;
    @media(max-width: 425px) {
      height: 11px;
    }
  }
}

.product-item-price-new {
  font-weight: 600;
  color: #171717;
  @media(max-width: 425px) {
    width: 100%;
    & + span {
      display: none;
    }
  }
}

.product-item-discount {
  font-weight: 500;
  color: #8B96B1;
}

.product-item-price-old {
  font-weight: 500;
  text-decoration-line: line-through;
  color: #8B96B1;
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .product-item-price-new {
      margin-right: 7px;
    }
    .product-item-price-old {
      margin-right: 7px;
    }
    .product-item-price {
      span {
        margin-right: 7px;
      }
    }
  }
}

.product-sortable {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #171717;
  background-image: url(../img/svg/arrowLineDown.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #FFFFFF;
  border: 1px solid #D4E3FF;
  height: 30px;
  padding: 0 24px 0 10px;
  border-radius: 5px;

  + .SelectBox {
    background-image: url(../img/svg/arrowLineDown.svg);
    background-repeat: no-repeat;
    background-position: left center;
    border: 0 !important;
    padding: 0 16px 0 24px;
    @media (max-width: 640px) {
      background-image: none;
      border: 1px solid #D4E3FF !important;
      height: 32px;
      border-radius: 10px;
      justify-content: center;
      span {
        background-image: url(../img/svg/arrowLineDown.svg);
        background-repeat: no-repeat;
        background-position: left center;
        border: 0 !important;
        padding: 0 16px 0 24px;
        color: #000;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
      }
    }

    label {
      display: none;
    }
  }

  + .SelectBox + .optWrapper {
    min-width: 218px;
    left: inherit;

    ul {
      &:before {
        content: 'Сортировать по:';
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #171717;
      }
    }

    li {
      position: relative;
      padding-left: 30px;
      height: 20px;

      &.selected:after {
        display: block;
      }

      &:before {
        width: 20px;
        height: 20px;
        min-width: 20px;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: 0;
        background-image: url(../img/svg/radio-button-unchecked.svg);
      }

      &:after {
        width: 20px;
        height: 20px;
        min-width: 20px;
        background-image: url(../img/svg/radio-button-checked.svg);
        content: '';
        display: none;
        position: absolute;
        left: 0;
      }
    }
  }

  @media(max-width: 640px) {
    width: 100%;
  }
}

.product-detail {
  display: flex;
  max-width: 1400px;
  margin: 0 auto 20px;
  gap: 24px;
  padding: 0 32px;
  box-sizing: content-box;
  @media (max-width: 640px) {
    padding: 0 16px;
  }

}

.add-remove-product__wrapper {
  visibility: hidden;
  opacity: 0;
  transition: .3s;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .add-remove-product-to-cart {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    span {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 16px;
      color: #2B2B2B;

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        min-width: 20px;
        background: url("../img/svg/add-to-cart-icon.svg") center no-repeat;
        margin-right: 8px;
      }
    }

    a {
      background: #054EDB;
      border-radius: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding: 8px 10px;
      color: #FFFFFF;
      margin-left: 8px;
      text-decoration: none;
    }
  }
}

.product-detail-left {
  background: #FFFFFF;
  border-radius: 16px;
  width: 100%;
  padding: 32px;

  @media(max-width: 960px) {
    display: flex;
    flex-direction: column;
  }

  @media(max-width: 425px) {
    padding: 0 4px;
  }

  .breadcrumb {
    @media(max-width: 960px) {
      order: -4;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 20px;
    }
    @media(max-width: 425px) {
      justify-content: center;
    }
  }
}

.product-detail-right {
  width: 336px;
  min-width: 336px;
  @media (max-width: 960px) {
    display: none;
  }

  .form-error-msg {
    position: static;
  }

  .filter-indicator-color:after {
    box-shadow: 0 0 0 1px #8b96b1;
  }

  .filter-tab:after {
    background-image: url(../img/svg/arrowfilledDown2.svg);
  }
}

.product-detail-filter {
  padding: 32px 24px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.product-detail-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 10px;

  @media(max-width: 960px) {
    order: -3;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 12px;
  }
  @media(max-width: 425px) {
    align-items: center;
  }
}

.product-detail-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #171717;
  @media(max-width: 960px) {
    font-size: 18px;
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .product-detail-name {
      margin-right: 15px;
    }
  }
}

.product-detail-id {
  font-weight: 500;
  font-size: 24px;
  line-height: 122%;
  text-transform: uppercase;
  color: #8B96B1;

  @media(max-width: 960px) {
    font-size: 14px;
  }
}

.product-detail-images {
  transition: .3s;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 36px;

  @media(max-width: 960px) {
    order: -5;
    margin-bottom: 20px;

    .owl-dots {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .owl-dot {
        flex-grow: 1;

        span {
          width: 100%;
          height: 2px;
          background: #D4E3FF;
          display: block;
        }

        &.active {
          span {
            background: #171717;
            border-radius: 1px;
          }
        }
      }
    }
  }
}

.product-detail-image {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  .product-detail-image-ghost {
    width: 100%;
    height: 100%;
  }

  .product-detail-image-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.product-detail-desctiprion-title, .product-detail-characteristic-title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #171717;

  @media(max-width: 425px) {
    font-size: 16px;
    line-height: 20px;
  }
}


.product-detail-characteristic-title {
  margin-bottom: 20px;
}

.product-detail-desctiprion {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #171717;
  margin-bottom: 36px;
  max-width: 664px;
}

.product-detail-characteristic {
  margin-bottom: 36px;

  @media(max-width: 960px) {
    position: relative;
    padding: 0 0 36px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      border-bottom: 1px solid #D4E3FF;
    }
  }

  li {
    display: flex;
    margin-bottom: 16px;
    @media (max-width: 640px) {
    }
  }

  .left {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #8B96B1;
    background-color: #fff;
    width: 260px;
    min-width: 260px;
    position: relative;
    display: flex;
    @media (max-width: 640px) {
      justify-content: space-between;
      min-width: auto;
      margin: 0 20px 10px 0;
      display: block;
      width: 40%;
    }

    &:after {
      border-bottom: 1px dashed #000;
      content: '';
      flex-grow: 3;
      margin: 0 4px 2px 4px;
      @media (max-width: 640px) {
        display: none;
      }
    }
  }

  .right {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #171717;
    background-color: #fff;

    @media(max-width: 640px) {
      width: 60%;
    }
  }
}

.product-carousel {
  max-width: 1400px;
  margin: 32px auto;
  width: calc(100% - 64px);

  @media (max-width: 640px) {
    padding: 0;
    width: calc(100% - 32px);
  }

  @media (max-width: 425px) {
    width: calc(100% - 40px);
    margin: 0 auto 36px;
  }

  .product-carousel-owl {
    @media(max-width: 425px) {
      border-bottom: 1px solid #D4E3FF;
    }
  }

  .product-detail-price-title {
    @media(max-width: 425px) {
      font-size: 15px;
      padding-right: 16px;
    }

    .product-detail-price-value {
      @media(max-width: 425px) {
        font-size: 15px;
      }
    }

    .product-detail-price-item {
      @media(max-width: 425px) {
        padding-right: 8px;
        margin-right: 8px;
      }
    }
  }

  .owl-stage-outer {
    margin-left: auto;
  }

  .owl-stage {
    display: flex;

    .owl-item {
      float: none;
    }

    .product-item {
      height: 100%;
    }
  }

  .owl-prev {
    right: -60px;
    background-image: url(../img/svg/arrow-right-white.svg);
    @media (max-width: 1440px) {
      right: 10px;
    }
  }

  .owl-next {
    left: -60px;
    background-image: url(../img/svg/arrow-left-white.svg);
    @media (max-width: 1440px) {
      left: 10px;
    }
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    width: 44px;
    height: 44px;
    cursor: pointer;
    font-size: 0;
    background-repeat: no-repeat;
    @media(max-width: 425px) {
      display: none;
    }
  }
}

.product-carousel-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #171717;
  margin-bottom: 20px;

  @media(max-width: 425px) {
    font-size: 13px;
    margin-bottom: 16px;
  }
}

.product-reviews {
  padding: 32px;
  @media (max-width: 640px) {
    padding: 0;
  }
}

.product-reviews-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #171717;
  position: relative;
  height: 44px;
  display: flex;
  align-items: center;
  @media (max-width: 640px) {
    flex-wrap: wrap;
    height: auto;
  }
  @media (max-width: 425px) {
    font-size: 13px;
  }
}

.product-reviews-show-textarea {
  background: #171717;
  border-radius: 16px;
  height: 44px;
  padding: 0 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  text-transform: capitalize;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  @media (max-width: 640px) {
    position: static;
    margin-top: 10px;
    margin-left: auto;
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 425px) {
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #171717;
    border: 1px solid #8B96B1;
    box-sizing: border-box;
    border-radius: 16px;
    background: #FFFFFF;
  }
}

.product-reviews-item {
  padding: 24px 16px;
  background-color: #FFFFFF;
  border: 1px solid #EAF1FF;
  border-radius: 16px;
  margin-bottom: 16px;
}

.product-reviews-item-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #171717;
  margin-bottom: 16px;
}

.product-reviews-item-rating {
  width: 112px;
  height: 16px;
  background-image: url(../img/svg/rating-placeholder.svg);
  margin-bottom: 16px;
}

.product-reviews-item-rating-placeholder {
  background-image: url(../img/svg/rating.svg);
  height: 16px;
}

.product-reviews-item-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #8B96B1;
  margin-bottom: 16px;
}

.product-reviews-item-actions {
  display: flex;
  align-items: center;

  span {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #8B96B1;
    margin-right: 12px;
  }
}

.product-like-action-count {
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #696666;

  &.active {
    color: #054EDB;
  }
}

.product-like-action {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .product-like-action-count {
    display: flex;

    &:after {
      width: 20px;
      height: 20px;
      min-width: 20px;
      content: '';
      background-image: url(../img/svg/like.svg);
      margin-left: 8px;
    }
  }
}

.product-dislike-action {
  display: flex;
  cursor: pointer;
  align-items: center;

  .product-like-action-count {
    display: flex;

    &:before {
      width: 20px;
      height: 20px;
      min-width: 20px;
      content: '';
      background-image: url(../img/svg/dislike.svg);
      margin-right: 8px;
    }
  }
}

.show-more-review {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.show-more-review-btn {
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #171717;
  height: 32px;
  border: 1px solid #8B96B1;
  border-radius: 16px;
  padding: 0 60px;

  &:hover {
    background-color: #171717;
    color: #fff;
    border: 1px solid #171717;
  }
}

.comment-wrapper {
  margin-top: 36px;
}

.product-reviews-textarea-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8B96B1;
  margin-bottom: 8px;
  margin-top: 32px;

  @media (max-width: 640px) {
    margin-top: 20px;
  }
}

.product-reviews-textarea-textarea {
  border: 1px solid #EAF1FF;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 10px 16px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  @media(max-width: 425px) {
    font-size: 13px;
  }
}

.product-reviews-textarea-between {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  flex-wrap: wrap;
  gap: 20px;

  @media(max-width: 425px) {
    gap: 24px;
  }
}

.product-reviews-textarea-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
  @media (max-width: 425px) {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.product-reviews-textarea-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #8B96B1;
  box-sizing: border-box;
  border-radius: 16px;
  color: #171717;
  padding: 0 40px;
  cursor: pointer;
  @media (max-width: 640px) {
    width: 100%;
  }
  @media (max-width: 425px) {
    width: 50%;
    padding: 0 20px;
    box-sizing: content-box;
  }
}

.product-reviews-textarea-btn-fill {
  @extend .product-reviews-textarea-btn;
  background: #171717;
  color: #fff;
  @media (max-width: 425px) {
    width: 50%;
    padding: 0 20px;
    box-sizing: content-box;
  }
}

.mobile-form {
  order: -2;

  @media (min-width: 961px) {
    display: none;
  }

  .product-detail-price {
    @media(max-width: 960px) {
      justify-content: flex-start;
      order: -1;
      margin-bottom: 32px;
    }
    @media(max-width: 425px) {
      justify-content: center;
    }
  }

  .product-info-right {
    display: flex;
    flex-direction: column;
  }

  .product-detail-actions {
    position: relative;
    margin: 0 0 36px;
    padding: 0 0 36px;

    .add-remove-product__wrapper {
      display: none;

      @media(max-width: 960px) {
        display: block;
        position: absolute;
        top: -110%;
        right: 0;
        left: 0;
      }

      .add-remove-product-to-cart {
        background: rgba(212, 227, 255, 0.54);
        backdrop-filter: blur(15px);
      }
    }

    &:after {
      content: "";
      border-bottom: 1px solid #D4E3FF;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.kits-flex {
  display: flex;
  margin-top: 24px;
  gap: 30px;

  @media(max-width: 1200px) {
    gap: 15px;
  }

  @media(max-width: 640px) {
    flex-direction: column;
  }

  @media(max-width: 425px) {
    margin-top: 0;
    gap: 0;
  }

  .product-wrapper-between {
    display: none;
    @media(max-width: 425px) {
      display: block;
      margin-top: 8px;

      & > div {
        display: flex;
        flex-direction: column-reverse;

        .product-wrapper-title {
          margin: 20px 0;
          text-align: center;
        }
      }
    }
  }
}

.number-slider__wrapper {
  position: absolute;
  z-index: 10;
  bottom: 16px;
  left: 0;
  right: 0;
  background: rgba(23, 23, 23, 0.3);
  border-radius: 8px;
  padding: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 61px;
  margin: 0 auto;
  text-align: center;
}

.kits-flex-image {
  width: 592px;
  flex: 0 0 592px;
  position: relative;

  @media(max-width: 1540px) {
    width: 400px;
    flex: 0 0 400px;
  }

  @media(max-width: 1200px) {
    width: 300px;
    flex: 0 0 300px;
  }

  @media(max-width: 640px) {
    width: 100%;
    flex: 0 0 100%;
  }

  .slider-for {

    .item {
      border: 1px solid #D4E3FF;
      border-radius: 16px;
      overflow: hidden;
      @media (max-width: 640px) {
        width: 100%;
      }
      @media (max-width: 425px) {
        border: none;
        border-radius: 0;
        margin: 0 -20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        flex-grow: 1;
        height: 2px;
        background: #D4E3FF;

        &.slick-active {
          background: #171717;
          border-radius: 1px;
        }

        button {
          display: none;
        }
      }
    }

    .slick-next, .slick-prev {
      width: 44px;
      height: 44px;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      border-radius: 8px;
      filter: none;
      @media(max-width: 1440px) {
        width: 30px;
        height: 30px;
      }

      &:hover {
        border: 1px solid #D4E3FF;
      }
    }

    .slick-next {
      right: 12px;
      background-image: url(../img/svg/arrow-right-grey.svg);
    }

    .slick-prev {
      background-image: url(../img/svg/arrow-left-grey.svg);
      left: 12px;
    }
  }

  .slider-nav {
    position: relative;
    margin: 0 -5px;
    padding: 0 80px;

    @media(max-width: 1540px) {
      padding: 0 40px;
    }
    @media(max-width: 425px) {
      padding: 0;
      margin: 0 -20px 0 0;
    }

    .item {
      margin: 22px 5px;
      border: 1px solid #D4E3FF;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      opacity: .5;

      &.slick-current {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .slick-next, .slick-prev {
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    border-radius: 8px;
    filter: none !important;
    @media(max-width: 1440px) {
      width: 30px;
      height: 30px;
    }

    &:hover {
      border: 1px solid #D4E3FF;
    }
  }

  .slick-next {
    right: 40px;
    background-image: url(../img/svg/arrow-right-white.svg);
    @media(max-width: 1540px) {
      right: 10px;
    }
  }

  .slick-prev {
    left: 40px;
    background-image: url(../img/svg/arrow-left-white.svg);
    @media(max-width: 1540px) {
      left: 10px;
    }
  }
}

.kits-flex-info {
  flex: 0 1 auto;
  @media(max-width: 425px) {
    display: flex;
    flex-direction: column;
  }

  .kits-color-form {
    @media(max-width: 425px) {
      order: -1;
      margin-bottom: 36px;
    }
  }

  .button-open-form {
    display: none;
    @media(max-width: 425px) {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: #FFFFFF;
      padding: 11px;
      background: #171717;
      border-radius: 16px;
      order: -2;
      margin-bottom: 32px;
    }
  }
}

.kits-flex-info-price {
  display: flex;
  align-self: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #8B96B1;
  margin-bottom: 24px;
  gap: 10px;
  @media(max-width: 1200px) {
    font-size: 15px;
    gap: 8px;
    margin-bottom: 20px;
  }
  @media(max-width: 425px) {
    justify-content: center;
    order: -3;
  }
}

.kits-flex-info-new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #171717;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media(max-width: 1200px) {
    font-size: 15px;
    padding-right: 8px;
  }
}

.kits-flex-info-old-price {
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #8B96B1;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media(max-width: 1200px) {
    font-size: 15px;
    padding-right: 8px;
  }
}

.kits-flex-info-discount {
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #8B96B1;
  @media(max-width: 1200px) {
    font-size: 15px;
    padding-right: 8px;
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .kits-flex-info {
      margin-left: 35px;
      @media(max-width: 640px) {
        margin-left: 0;
      }
    }
    .kits-flex-info-new-price {
      margin-left: 10px;
    }
    .kits-flex-info-old-price {
      margin-left: 10px;
    }
    .kits-flex-info-discount {
      margin-left: 10px;
    }
  }
}

.kits-flex-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-bottom: 36px;
  @media (max-width: 1400px) {
    grid-gap: 20px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: 425px) {
    grid-gap: 40px;
  }

}

.kits-flex-info-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #D4E3FF;
  @media(max-width: 425px) {
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
  }
}

.kits-flex-info-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8B96B1;
  margin-bottom: 8px;
  @media(max-width: 1200px) {
    font-size: 12px;
    line-height: 15px;
  }
}

.kits-flex-info-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 8px;
  @media(max-width: 1200px) {
    font-size: 13px;
    line-height: 16px;
  }
}

.kits-flex-info-id {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #8B96B1;
  margin-bottom: 8px;
  @media(max-width: 1200px) {
    font-size: 13px;
    line-height: 15px;
  }
}

.kits-flex-info-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #2B2B2B;
  @media(max-width: 1200px) {
    font-size: 13px;
  }
}

.readmore-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #054EDB;
}

.br-theme-css-stars .br-widget a.br-selected::after {
  background: url("../img/svg/star-orange.svg") center no-repeat;
}

.br-theme-css-stars .br-widget a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background: url("../img/svg/star-grey.svg") center no-repeat;
}

.br-theme-css-stars .br-widget a.br-active:after {
  background: url("../img/svg/star-orange.svg") center no-repeat;
}


.br-theme-css-stars .br-widget a {
  position: relative;
  border: 1px solid #EFF4FF;
  box-sizing: border-box;
  border-radius: 10px;
  height: 36px;
  width: 36px;
}

.product-reviews-textarea-rating {
  @media(max-width: 425px) {
    width: 100%;

    .br-widget {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.title-mobile-rating {
  display: none;
  @media(max-width: 425px) {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #8B96B1;
    margin: -3px auto -5px;
    text-align: center;
  }
}

.modal-product__carousel {
  position: fixed;
  z-index: 1500;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFFFFF;
  padding: 32px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  @media(max-width: 960px) {
    padding: 0;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .modal-product__close {
    position: absolute;
    z-index: 10;
    top: 64px;
    right: 32px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: url("../img/svg/close-modal.svg") center no-repeat;
    background-size: contain;
    @media(max-width: 960px) {
      top: 12px;
      right: 12px;
      width: 24px;
      height: 24px;
    }
  }

  .modal-product__inner {
    max-height: 100vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .owl-carousel {
      max-height: 100vh;
      position: relative;
      @media(max-width: 960px) {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }

      img {
        max-height: 100vh;
        width: 100%;
        object-fit: cover;
        @media(max-width: 960px) {
          max-height: 100%;
          margin-bottom: 4px;
        }
      }

      .owl-nav {
        div {
          background: #FFFFFF;
          border-radius: 8px;
          width: 52px;
          height: 52px;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          color: transparent;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
          }

          &.owl-prev {
            right: auto;

            &:after {
              background-image: url("../img/svg/arrow-modal-left.svg");
            }
          }

          &.owl-next {
            left: auto;

            &:after {
              background-image: url("../img/svg/arrow-modal-right.svg");
            }
          }
        }
      }

      .owl-stage-outer {
        max-height: 100vh;
        margin: 0 -32px 0 0;

        .owl-stage {
          max-height: 100vh;
          display: flex;
          align-items: center;

          .owl-item {
            max-height: 100vh;
            float: none;
            overflow: hidden;
            border-radius: 16px;
          }
        }
      }
    }
  }
}