.profile-news-page {
  @media(max-width: 640px) {
    background: #FFFFFF;
    .header {
      background: #FFFFFF;
    }
  }
}

.news-detail__page {
  @media(max-width: 425px) {
    background: #FFFFFF;
  }

  .container-fluid {
    @media(max-width: 425px) {
      padding: 0 20px;
    }
  }
}

.profile-grid {
  display: flex;
  margin-top: 32px;
  gap: 36px;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.profile-avatar {
  width: 192px;
  min-width: 192px;
  @media (max-width: 640px) {
    margin: 0 auto;
  }

  input {
    display: none;
  }

  img {
    width: 100%;
    height: 192px;
    overflow: hidden;
    border-radius: 16px;
    object-fit: cover;
    background-image: url(../img/svg/avatar.svg);
  }
}

.label-avatar-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #054EDB;
  height: 32px;
  margin-top: 8px;
  cursor: pointer;
  fill: #DD2C28;

  .icon {
    margin-right: 10px;
  }
}

.profile-form {
  width: 316px;
  min-width: 316px;
  @media (max-width: 1200px) {
    flex-grow: 3;
  }
  @media (max-width: 640px) {
    width: 100%;
    min-width: 100%;
  }

}

.profile-text {
  width: 100%;

}

.profile-form-title, .profile-text-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #171717;
  margin-bottom: 12px;
}

.profile-form {
  .form-box {
    margin-bottom: 16px;
  }
}

.profile-text-desc {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #171717;
  width: 100%;
  max-width: 316px;
  @media (max-width: 640px) {
    max-width: 100%;
  }
}

.profile-text-btn {
  height: 32px;
  display: inline-flex;
  background: #054EDB;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  line-height: 120%;
  font-weight: 500;
  padding: 0 24px;
  margin-top: 12px;
  text-decoration: none;
  @media(max-width: 425px) {
    width: 100%;
    font-size: 14px;
    height: 44px;
  }

  .icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: 10px;
    fill: #FFFFFF;
    @media(max-width: 425px) {
      fill: #000000;
    }
  }
}

.profile-news {
  margin-top: 32px;
  @media (max-width: 640px) {
    margin-top: 13px;
  }
}

.profile-news-grid {
  gap: 32px;
  display: flex;
  @media(max-width: 1440px) {
    gap: 24px;
  }
  @media(max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

.profile-news-left {
  width: calc(57% + 6px);

  @media(max-width: 768px) {
    width: 100%;
  }
}

.profile-news-right {
  width: calc(43% - 6px);

  @media(max-width: 768px) {
    width: 100%;
  }
}

.profile-news-grid-small {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  @media(max-width: 1440px) {
    gap: 12px;
  }
  @media(max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

.profile-news-item-large {
  border: 1px solid #D4E3FF;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  position: relative;
  @media (max-width: 1440px) {
    padding: 8px;
  }
  @media (max-width: 425px) {
    flex-direction: column;
    border: none;
    gap: 12px;
    margin-bottom: 28px;
    padding: 0;
  }
}

.profile-news-item {
  position: relative;
  @media(max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    padding: 8px;
    border: 1px solid #D4E3FF;
    border-radius: 16px;
  }
  @media(max-width: 425px) {
    grid-template-columns: 1fr;
    row-gap: 12px;
    padding: 0;
    border: none;
  }
}

.profile-news-item-large-link, .profile-news-item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.profile-news-item-large-info {
  width: 50%;
  @media (max-width: 425px) {
    width: 100%;
  }
}

.profile-news-item-large-image {
  width: 50%;
  @media (max-width: 425px) {
    width: 100%;
  }

  img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px;
  }
}

.profile-news-item-image {
  @extend .profile-news-item-large-image;
  width: 100%;
}

.profile-news-item-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #171717;
  margin-top: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @media(max-width: 768px) {
    margin-top: 0;
  }
}

.profile-news-item-large-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  color: #171717;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  @media (max-width: 1440px) {
    font-size: 16px;
  }
  @media (max-width: 1024px) {
    font-size: 13px;
    margin-bottom: 8px;
  }
}

.profile-news-item-date {
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  color: #8B96B1;
  margin-bottom: 8px;
}

.profile-news-item-large-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #8B96B1;
  margin-bottom: 10px;
  @media (max-width: 1440px) {
    font-size: 14px;
  }
  @media (max-width: 1024px) {
    font-size: 12px;
    margin-bottom: 8px;
  }
}

.profile-news-item-desc {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #171717;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @media(max-width: 768px) {
    -webkit-line-clamp: 6;
  }
  @media(max-width: 500px) {
    -webkit-line-clamp: 3;
  }
}

.profile-news-item-large-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #171717;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  @media (max-width: 1440px) {
    font-size: 13px;
  }
  @media (max-width: 1024px) {
    font-size: 13px;
  }
  @media(max-width: 500px) {
    -webkit-line-clamp: 3;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  margin-top: 48px;
}

.pagination-subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  color: #8B96B1;
}

.pagination-input {
  width: 40px;
  height: 40px;
  border: 1px solid #EAF1FF;
  outline: none;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #054EDB;
}

.pagination-arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #054EDB;

  &:hover {
    fill: #0240b4;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

.pagination-arrows {
  display: flex;
  gap: 4px;
}

.profile-news-detail {
  display: flex;
  gap: 32px;
  @media (max-width: 960px) {
    flex-wrap: wrap;
  }
  @media (max-width: 425px) {
    gap: 28px;
  }
}

.profile-news-detail-left {
  width: 100%;
}

.profile-news-detail-right {
  width: 286px;
  min-width: 286px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px) {
    min-width: 200px;
  }
  @media (max-width: 960px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;
  }
  @media (max-width: 768px) {
    gap: 12px;
  }

  .profile-news-item {
    @media(max-width: 960px) {
      width: calc(50% - 12px);
    }
    @media(max-width: 768px) {
      grid-template-columns: 1fr;
      width: calc(50% - 6px);
    }
    @media(max-width: 425px) {
      width: 100%;
    }

    .profile-news-item-image {
      @media(max-width: 768px) {
        margin-bottom: 12px;
      }
      @media(max-width: 425px) {
        margin-bottom: 0;
      }
    }
  }
}

.profile-news-detail-ck-editor {
  padding: 16px;
  border: 1px solid #D4E3FF;
  border-radius: 16px;

  @media(max-width: 425px) {
    padding: 0;
    border: none;
  }

  img {
    height: auto !important;
    width: 100% !important;
    border-radius: 10px;
  }
}

.profile-news-detail-ck-editor-date {
  padding: 10px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  color: #8B96B1;

  @media(max-width: 425px) {
    padding: 8px 0;
    font-size: 12px;
  }
}

.tag-page {
  @media(max-width: 425px) {
    .product-list {
      margin-top: 16px;
    }
  }
}

.profile-news-detail-ck-editor-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  color: #171717;
  margin: 20px 0 0 0;
  @media(max-width: 425px) {
    font-size: 13px;
    margin: 12px 0 0 0;
  }
}

.profile-news-detail-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #171717;
}

.order-history-box {
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
  margin-top: 24px;
}


.order-history-head {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-wrap: wrap;
  gap: 20px;
}

.order-history-head-date {
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #171717;
  padding-right: 24px;
  margin-right: 24px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media (max-width: 640px) {
    border: 0;
  }
}

.order-history-head-id {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8B96B1;
  margin-right: 32px;

  span {
    padding-left: 5px;
    color: #171717;
    font-weight: bold;
  }
}

.order-history-head-status {
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;

  &.status-1 {
    color: #054EDB;
  }

  &.status-2 {
    color: #1D9F22;
  }

  &.status-3 {
    color: #FD9B08;
  }

  &.status-4 {
    color: #DD2C28;
  }

}

.order-cols {
  display: flex;
  gap: 32px;
  @media (max-width: 960px) {
    flex-wrap: wrap;
  }
}

.order-cols-left {
  @media (max-width: 960px) {
    width: 100%;
  }
}

.order-cols-right {
  width: 250px;
  min-width: 250px;
  @media (max-width: 960px) {
    width: 100%;
  }
}

.order-total-head {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  * {
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    color: #171717;
  }
}

.order-total-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12px;

  * {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #2B2B2B;
  }

  div:nth-child(even) {
    text-align: right;
  }
}

.order-line {
  background-color: #D4E3FF;
  height: 1px;
  width: 100%;
  margin: 24px 0;
}

.order-btn {
  border: 1px solid #8B96B1;
  border-radius: 16px;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #171717;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    background-color: #171717;
    border: 1px solid #171717;
    color: #fff;
  }
}

.delivery-btn {
  @extend .order-btn;
  color: #054EDB;
  background-color: #fff;
  border-color: #fff;
  text-decoration: none;

  &:hover {
    background-color: #054EDB;
    border: 1px solid #054EDB;
    color: #fff;
  }
}

.help-acc {
  margin-top: 32px;
  border-top: 1px solid #D4E3FF;

  .help-acc-itm {
    padding: 17px 0;
    border-bottom: 1px solid #D4E3FF;
    font-size: 14px;
    color: #171717;
    line-height: 150%;
  }

  .help-question {
    font-weight: 600;
    margin-right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active::after {
      transform: rotate(180deg);
    }

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("../img/svg/arrow-down.svg") no-repeat center;
      background-size: contain;
      transition: .2s;
    }
  }

  .help-answer {
    margin-top: 17px;
    display: none;
    font-size: 14px;
    line-height: 150%;
    color: #2B2B2B;
    @media(max-width: 425px) {
      font-size: 13px;
    }
  }
}

.return-header {
  margin: 24px 0 36px 0;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    display: grid;
    gap: 6px;
  }

  .return-date {
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    color: #171717;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  .return-num {
    margin: 0 36px 0 24px;
    padding-left: 24px;
    border-left: 1px solid rgba(0, 0, 0, .1);

    @media (max-width: 768px) {
      padding-left: 0;
      border-left: none;
      margin: 0;
    }
  }

  .return-ttl {
    color: #8B96B1;
    margin-right: 8px;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  .return-val {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #171717;
  }

  .return-status {
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    color: #054EDB;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}

.return-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B96B1;
  margin-bottom: 16px;
}

.return-product-wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  align-items: center;
  position: relative;

  @media (max-width: 640px) {
    margin: 0 -16px;
    gap: 0;
  }
}

.return-itm {
  padding: 16px;
  border: 1px solid #EAF1FF;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;

  &.active {
    border-color: #054EDB;
  }

  @media (max-width: 640px) {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-color: transparent;
    transition: .2s;

    &.active {
      border-color: #D4E3FF;
      background: #F9FBFF;
    }
  }
}

.return-product {
  display: inline-flex;

  @media (max-width: 1250px) {
    width: 100%;
    margin-bottom: 16px;
  }
}

.return-img-wrap {
  position: relative;
  height: 150px;
  width: 150px;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: 16px;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 640px) {
    width: 105px;
    height: 105px;
    margin: 0 8px 0 0;
  }

  .return-img-tag {
    font-size: 8px;
    color: #FFFFFF;
    font-weight: 600;
    background: #1D9F22;
    padding: 2px 4px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 16px;
  }

  .favorites {
    width: 24px;
    height: 24px;
    background: url("../img/svg/favorite.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

    @media (max-width: 640px) {
      width: 20px;
      height: 20px;
    }
  }
}

.return-prod-ttl {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #171717;
  margin-bottom: 4px;

  @media (max-width: 640px) {
    padding-right: 35px;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.return-prod-subttl {
  font-size: 13px;
  color: #8B96B1;
  margin-bottom: 12px;

  @media (max-width: 640px) {
    font-size: 10px;
  }
}

.parapms-flex {
  display: inline-flex;
  flex-wrap: wrap;

  @media (max-width: 640px) {
    display: block;
  }
}

.main-container {
  @media (max-width: 640px) {
    background: white;

    .product-wrapper {
      padding: 24px 0;

    }
  }
}

.news-list {
  @media (max-width: 640px) {
    padding: 24px 0;
  }

  .product-wrapper-between {
    @media (max-width: 640px) {
      padding: 0 16px;
    }
    @media (max-width: 425px) {
      padding: 0;
    }
  }
}

.return-param {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  @media (max-width: 640px) {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }

  .parapm-ttl {
    font-size: 13px;
    line-height: 16px;
    color: #8B96B1;
    margin-right: 4px;

    @media (max-width: 640px) {
      font-size: 10px;
    }
  }

  .param-val {
    font-size: 13px;
    color: #171717;

    @media (max-width: 640px) {
      font-size: 10px;
    }
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
}

.prod-quantity {
  display: flex;
}

.prod-quantity-ttl {
  font-size: 13px;
  color: #8B96B1;
  margin-right: 4px;

  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.quantity-val {
  font-size: 13px;
  color: #171717;

  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.return-wrap {
  display: grid;
  gap: 8px;

  @media (max-width: 640px) {
    gap: 0;
  }
}

.prod-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  color: #171717;

  @media (max-width: 640px) {
    font-size: 13px;
  }
}

.check-wrap {
  width: 26px;
  height: 26px;
  position: relative;

  @media (max-width: 640px) {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 22px;
  }

  .check-label {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #CDDAF1;
    border-radius: 6px;
  }

  .return-check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

    &:checked + .check-label {
      background: url("../img/svg/real-checked.svg") no-repeat center;
      background-size: contain;
      border: none;
    }
  }
}

.aside-most-right {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  align-self: flex-start;
  max-width: 360px;

  .most-right-ttl {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #171717;
    margin-bottom: 10px;
  }

  .most-right-txt {
    font-size: 14px;
    line-height: 150%;
    color: #2B2B2B;
  }

  @media (max-width: 1700px) {
    display: none;
  }
}

.return-text-block {
  margin-bottom: 40px;
  margin-top: 24px;
  display: none;

  @media (max-width: 1700px) {
    display: block;
  }

  .return-txt-ttl {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #171717;
    margin-bottom: 10px;
  }

  .return-txt-txt {
    font-size: 12px;
    line-height: 150%;
    color: #2B2B2B;
  }

  .return-more {
    font-size: 13px;
    color: #054EDB;
    cursor: pointer;
  }
}

.return-footer {
  display: grid;
  max-width: 760px;
  grid-template-columns: 1fr 1fr;
  gap: 128px;
  margin-top: 32px;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.return-left {
  position: relative;

  @media (max-width: 640px) {
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: #D4E3FF;
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #D4E3FF;
    position: absolute;
    top: 0;
    right: -64px;

    @media (max-width: 640px) {
      width: 100%;
      height: 1px;
      top: auto;
      right: 0;
      bottom: -20px;
    }
  }

  .return-foot-flex {
    display: flex;
    color: #2B2B2B;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;

    * {
      font-size: 13px;
    }

    &:first-child {
      margin-bottom: 20px;

      .return-foot-ttl {
        font-weight: 700;
        font-size: 16px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.return-select-wrap {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/svg/arrow-down.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &::before {
    content: "Выберите причину";
    font-size: 13px;
    line-height: 175%;
    color: #8B96B1;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  &.active::before {
    display: none;
  }

  .select-opener {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }

  .select-list {
    position: absolute;
    top: 16px;
    background: #FFFFFF;
    border: 1px solid #CDDAF1;
    box-sizing: border-box;
    box-shadow: 0 16px 33px -13px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 24px 2px 24px 20px;
    z-index: 2;
    height: 270px;
    overflow-y: auto;
    width: 100%;
    display: none;

    .select-list-itm {
      font-size: 13px;
      color: #000000;
      margin-bottom: 20px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.select-outer-wrap.active {
  .returnfoot-label {
    color: #054EDB;
    font-weight: bold;
  }

  select.return-field {
    border-color: #054EDB;
  }

  .select-list {
    display: block;
  }

  .return-select-wrap {
    &::before {
      display: none;
    }
  }
}

.return-foot-form {
  display: grid;
  gap: 24px;

  .returnfoot-label {
    font-size: 13px;
    line-height: 120%;
    color: #8B96B1;
    margin-bottom: 4px;
    transition: .15s;

    &.active {
      color: #054EDB;
    }
  }

  .return-field {
    border: 1px solid #CDDAF1;
    border-radius: 16px;
    height: 44px;
    display: block;
    width: 100%;
    padding: 0 16px;
    transition: .15s;

    &.textarea-field {
      padding: 12px 16px;
      resize: none;
      min-height: 170px;
      overflow: hidden;
      transition: 0s;
    }
  }

  select.return-field {
    padding-right: 32px;
    text-overflow: ellipsis;

    &.active {
      border-color: #054EDB;
    }
  }

  .return-submit {
    height: 44px;
    line-height: 44px;
    background: #8B96B1;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    opacity: .4;
    cursor: default;
    text-align: center;

    &.return-border-btn {
      border: 1px solid #8B96B1;
      background: transparent;
      color: #171717;
      opacity: 1;
      margin-top: -8px;
      cursor: pointer;
    }

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .profile-news-detail-ck-editor {
      margin-right: 30px;
      @media(max-width: 960px) {
        margin: 0 0 32px 0;
      }
      @media(max-width: 425px) {
        margin: 0 0 28px 0;
      }
    }
    @media(max-width: 960px) {
      .profile-news-detail-right {
        width: auto;
        margin: 0 0 0 -24px;
      }
      .profile-news-detail-right .profile-news-item {
        width: calc(50% - 24px);
        margin: 0 0 0 24px;
      }
    }
    @media(max-width: 768px) {
      .profile-news-detail-right {
        margin: 0 0 0 -12px;
      }
      .profile-news-detail-right .profile-news-item {
        width: calc(50% - 12px);
        margin: 0 0 0 12px;
      }
    }
    @media(max-width: 425px) {
      .profile-news-detail-right {
        margin: 0;
      }
      .profile-news-detail-right .profile-news-item {
        width: 100%;
        margin: 0 0 28px;
      }
      .profile-news-item-large .profile-news-item-large-image {
        margin: 0 0 12px;
      }
    }
  }
}
