{% load search_products %}

<div class="result-block" id="product-result-block">
    <div class="result-block__inner">
        {% for product in render_product %}
            <div>
                <a href="{{ product.get_absolute_url }}" style="font-weight: 600">
                    {{ product.title|highlight_search_input:value }}
                </a>
            </div>
        {% empty %}
            <div>Ничего не найдено</div>
        {% endfor %}
    </div>
</div>
