<div class="aside-config">
    <div class="aside-bar-head aside-bar-info">
        {% for product in products %}
            {% if product.type_constructor == 'constructor_one' %}
                <div class="wrapper-aside-bar wrapper-aside-bar__head"
                     data-product-id="{{ product.id }}">
                    <div class="aside-bar-title">Футболка</div>
                    <div class="aside-bar-flex">
                        <div class="aside-bar-name">{{ product.title }}
                        </div>
                        <div class="aside-bar-title-price">Цена:
                        </div>
                    </div>
                    <div class="aside-bar-flex">
                        <div class="aside-bar-id">
                            {% for color in product.product_colors.all %}
                                 <span class="color-article" data-color-id="{{ color.id }}">
                                    {{ color.article }}
                                 </span>
                            {% endfor %}
                        </div>
                        <div class="aside-bar-price">{{ product.price }} ₽
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="aside-bar-line"></div>
    <div class="aside-bar-body aside-bar-info">
        {% for product in products %}
            {% if product.type_constructor == 'constructor_two' %}
                <div class="wrapper-aside-bar wrapper-aside-bar__body"
                     data-product-id="{{ product.id }}">
                    <div class="aside-bar-title">ШОРТЫ</div>
                    <div class="aside-bar-flex">
                        <div class="aside-bar-name">{{ product.title }}
                        </div>
                        <div class="aside-bar-title-price">Цена:
                        </div>
                    </div>
                    <div class="aside-bar-flex">
                        <div class="aside-bar-id">
                            {% for color in product.product_colors.all %}
                                 <span class="color-article" data-color-id="{{ color.id }}">
                                    {{ color.article }}
                                 </span>
                            {% endfor %}
                        </div>
                        <div class="aside-bar-price">{{ product.price }} ₽
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="aside-bar-line"></div>
    <div class="aside-bar-footer aside-bar-info">
        {% for product in products %}
            {% if product.type_constructor == 'constructor_three' %}
                <div class="wrapper-aside-bar wrapper-aside-bar__footer"
                     data-product-id="{{ product.id }}">
                    <div class="aside-bar-title">ГЕТРЫ</div>
                    <div class="aside-bar-flex">
                        <div class="aside-bar-name">{{ product.title }}
                        </div>
                        <div class="aside-bar-title-price">Цена:
                        </div>
                    </div>
                    <div class="aside-bar-flex">
                        <div class="aside-bar-id">
                            {% for color in product.product_colors.all %}
                                 <span class="color-article" data-color-id="{{ color.id }}">
                                    {{ color.article }}
                                 </span>
                            {% endfor %}
                        </div>
                        <div class="aside-bar-price">{{ product.price }} ₽
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="aside-bar-line"></div>
    <div class="aside-bar-count">
        <div class="aside-bar-title">Количество комплектов
        </div>
        <div class="aside-range">
            <input class="js-range-slider" type="text" name="my_range"
                   value=""/>
        </div>
    </div>
    <div class="aside-bar-line"></div>
    <div class="aside-footer">
        <div class="aside-footer-flex">
            <div class="left">Количестиво комплектов
            </div>
            <div class="right count">1 шт</div>
        </div>
        <div class="aside-footer-flex">
            <div class="left">Итого</div>
            <div class="right sum">0 ₽</div>
        </div>
    </div>
    <div class="aside-btn-black">Оставить заявку</div>
</div>
