<div class='three-slick-slider'>
    <div class="carousel-category carousel-head carousel-slick-head">
        {% for product in products %}
            {% if product.type_constructor == 'constructor_one' %}
                {% for color in product.product_colors.all %}
                    {% for image in color.product_color_images.all %}
                        {% if forloop.first %}
                            <div class="item" data-product-id="{{ product.id }}"
                                 data-product-color="{{ color.id }}">
                                <img src="{{ image.image.url }}" alt=""/>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class='three-slick-slider'>
    <div class="carousel-category carousel-body carousel-slick-body">
        {% for product in products %}
            {% if product.type_constructor == 'constructor_two' %}
                {% for color in product.product_colors.all %}
                    {% for image in color.product_color_images.all %}
                        {% if forloop.first %}
                            <div class="item" data-product-id="{{ product.id }}"
                                 data-product-color="{{ color.id }}">
                                <img src="{{ image.image.url }}" alt=""/>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class='three-slick-slider'>
    <div class="carousel-category carousel-footer carousel-slick-footer">
        {% for product in products %}
            {% if product.type_constructor == 'constructor_three' %}
                {% for color in product.product_colors.all %}
                    {% for image in color.product_color_images.all %}
                        {% if forloop.first %}
                            <div class="item" data-product-id="{{ product.id }}"
                                 data-product-color="{{ color.id }}">
                                <img src="{{ image.image.url }}" alt=""/>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
