<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Конструктор форм/Готовый комплект</title>
</head>
<body>
<style>
    td {
        vertical-align: middle;
    }
</style>
<div class="email-block"
     style=" background-color: #ffffff; padding: 50px 0; font-family: 'Arial', sans-serif; vertical-align: center; position: relative; z-index: 100">
    <div class="email-block__inner" style="margin: 0 auto;  max-width: 375px;">
        <h1 style="margin: 40px 0 40px; text-align: center">
            Конструктор форм
        </h1>
        <table style="margin-bottom: 20px; width: 100%">
            <tr>
                <td style="text-align: right; vertical-align: bottom">Дата
                    заказа: {{ form.created_at }}</td>
            </tr>
        </table>
        <table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto; width: 100%">
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">Имя:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.name }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Телефон:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">
                    {{ form.phone }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">Email:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.email }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Коментарий:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.text }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Колличество:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.count }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Итого:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.price }}</td>
            </tr>
            {% for product, color in products %}
                <tr>
                    <td colspan=2" style="text-align: center; padding: 10px 0">
                        Товар № {{ forloop.counter }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Название товара:
                    </td>
                    <td style="padding: 10px 20px; border: dimgrey; text-align: right;">
                        {{ product.title }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Цена товара:
                    </td>
                    <td style="padding: 10px 20px; color: dimgrey; text-align: right;">
                        {{ product.price }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Артикул товара:
                    </td>
                    <td style="padding: 10px 20px; color: dimgrey; text-align: right;">
                        {{ product.article }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Цвет товара:
                    </td>
                    <td style="padding: 10px 20px; color: dimgrey; text-align: right;">
                        {{ color }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
