{% csrf_token %}
<div class="filter-close-mobile">Категории и фильтры</div>
<div class="filter-item" data-name="sport_filter">
    <div class="filter-tab">Виды спорта</div>
    <div class="filter-content">
        {% for type_sport in type_sport_list %}
            <label class="filter-label">
                <input class="filter-input-checkbox filter-checkbox-but"
                       value="{{ type_sport.title }}" type="checkbox"/>
                <div class="filter-indicator"></div>
                <div class="filter-label-value">{{ type_sport.title }}</div>
            </label>
        {% endfor %}
    </div>
</div>
<div class="filter-item" data-name="brand_filter">
    <div class="filter-tab">Бренд</div>
    <div class="filter-content">
        <div class="form-box brand-search">
            <input class="form-input filter-checkbox-but" type="text"
                   value="" placeholder="Я ищу..."
                   required="required"/>
        </div>
    </div>
</div>
<div class="filter-item">
    <div class="filter-tab">Цена</div>
    <div class="filter-content">
        <div class="price-inputs">
            <div class="form-box filter-item" data-name="price_from_filter">
                <div class="form-box-small-label">От</div>
                <input class="form-input filter-checkbox-but" type="text"
                       placeholder="100 ₽" value=""/>
            </div>
            <div class="form-box filter-item" data-name="price_to_filter">
                <div class="form-box-small-label">До</div>
                <input class="form-input filter-checkbox-but" type="text"
                       placeholder="10 500 ₽" value=""/>
            </div>
        </div>
    </div>
</div>
<div class="filter-item" data-name="size_filter">
    <div class="filter-tab">Размер</div>
    <div class="filter-content">
        <ul class="choice-table-size tabs">
            <li class="table-size-item active" data-id="eu_size" rel="tab1">EUR</li>
            <li class="table-size-item" data-id="uk_size" rel="tab2">UK</li>
            <li class="table-size-item" data-id="jp_size" rel="tab3">JP</li>
            <li class="table-size-item" data-id="ru_size" rel="tab4">RU</li>
        </ul>
        <div class="tab_container">
            <div class="grid-filter-label tab_content" data-id="eu_size" id="tab1">
                {% for size in size_list %}
                    <label class="filter-label">
                        <input class="filter-input-checkbox filter-checkbox-but" name="size_checkbox{{ size.id }}"
                               value="{{ size.id }}" type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ size.eu_size }}
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="grid-filter-label tab_content" data-id="uk_size" id="tab2">
                {% for size in size_list %}
                    <label class="filter-label">
                        <input class="filter-input-checkbox filter-checkbox-but" name="size_checkbox{{ size.id }}"
                               value="{{ size.id }}" type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ size.us_size }}
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="grid-filter-label tab_content" data-id="jp_size" id="tab3">
                {% for size in size_list %}
                    <label class="filter-label">
                        <input class="filter-input-checkbox filter-checkbox-but" name="size_checkbox{{ size.id }}"
                               value="{{ size.id }}" type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ size.jp_size }}
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="grid-filter-label tab_content" data-id="ru_size" id="tab4">
                {% for size in size_list %}
                    <label class="filter-label">
                        <input class="filter-input-checkbox filter-checkbox-but" name="size_checkbox{{ size.id }}"
                               value="{{ size.id }}" type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ size.ru_size }}
                        </div>
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="filter-item" data-name="material_filter">
    <div class="filter-tab">Материал</div>
    <div class="filter-content">
        {% for material in material_list %}
            <label class="filter-label">
                <input class="filter-input-checkbox filter-checkbox-but"
                       value="{{ material.id }}" type="checkbox"/>
                <div class="filter-indicator"></div>
                <div class="filter-label-value">
                    {{ material.title }}
                </div>
            </label>
        {% endfor %}
    </div>
</div>
<div class="filter-item" data-name="color_filter">
    <div class="filter-tab">Цвет</div>
    <div class="filter-content">
        <div class="grid-filter-label">
            {% for color in color_list %}
                <label class="filter-label">
                    <input class="filter-input-checkbox filter-checkbox-but"
                           value="{{ color.id }}"
                           type="checkbox"/>
                    <div class="filter-indicator-color">
                            <span style="background-color: {{ color.hex }};
                                    {% if color.border %}
                                        border: 1px solid #D4E3FF;
                                    {% endif %}"></span>
                    </div>
                </label>
            {% endfor %}
        </div>
    </div>
</div>
