<div class="kits-flex-image">
    <div class="slider-for">
        {% for color_img in kit_images %}
            <div class="item">
                <img src="{{ color_img.image.url }}"
                     alt=""/>
            </div>
        {% endfor %}
    </div>
    <div class="slider-nav">
        {% for color_img in kit_images %}
            <div class="item">
                <img src="{{ color_img.image.url }}"
                     alt=""/>
            </div>
        {% endfor %}
    </div>
</div>
