{% load static %}

<div class="tab_container">
    <div class="grid-filter-label tab_content" id="tab1-1" id="eu_size" data-id="eu_size">
        {% for product_size in sizes %}
            {% if product_size.size.eu_size %}
                {% if not product_size.is_available %}
                    <label class="filter-label disactive">
                        <input class="filter-input-checkbox" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.eu_size }}
                        </div>
                    </label>
                {% else %}
                     <label class="filter-label"
                       data-size-id="{{ product_size.id }}">
                        <input class="filter-input-checkbox product-size-input" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.eu_size }}
                        </div>
                    </label>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="grid-filter-label tab_content" id="tab2-2" id="us_size" data-id="uk_size">
        {% for product_size in sizes %}
            {% if product_size.size.us_size %}
                {% if not product_size.is_available %}
                    <label class="filter-label disactive">
                        <input class="filter-input-checkbox" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.us_size }}
                        </div>
                    </label>
                {% else %}
                     <label class="filter-label"
                       data-size-id="{{ product_size.id }}">
                        <input class="filter-input-checkbox product-size-input" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.us_size }}
                        </div>
                    </label>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="grid-filter-label tab_content" id="tab3-3" id="jp_size" data-id="jp_size">
        {% for product_size in sizes %}
            {% if product_size.size.jp_size %}
                {% if not product_size.is_available %}
                    <label class="filter-label disactive">
                        <input class="filter-input-checkbox" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.jp_size }}
                        </div>
                    </label>
                {% else %}
                     <label class="filter-label"
                       data-size-id="{{ product_size.id }}">
                        <input class="filter-input-checkbox product-size-input" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.jp_size }}
                        </div>
                    </label>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="grid-filter-label tab_content" id="tab4-4" id="ru_size" data-id="ru_size">
        {% for product_size in sizes %}
            {% if product_size.size.ru_size %}
                {% if not product_size.is_available %}
                    <label class="filter-label disactive">
                        <input class="filter-input-checkbox" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.ru_size }}
                        </div>
                    </label>
                {% else %}
                     <label class="filter-label"
                       data-size-id="{{ product_size.id }}">
                        <input class="filter-input-checkbox product-size-input" name="size_checkbox{{ product_size.id }}"
                           type="checkbox"/>
                        <div class="filter-indicator-size">
                            {{ product_size.size.ru_size }}
                        </div>
                    </label>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
