<div class="modal modal-success" style="display: none">
    <div class="modal-content">
        <div class="modal-title">Успешно отправлено</div>
        <a href="" class="link-for-response"
           style="margin: 0 0 32px; display: block; text-align: center">
        </a>
        <div class="modal-btn">Хорошо</div>
    </div>
</div>
