<div class="modal modal-error" style="display: none">
    <div class="modal-content">
        <div class="modal-title">Страница отсутствует</div>
        <div class="modal-btn">Закрыть</div>
    </div>
</div>
