{% if user.is_authenticated %}
    <a class="aside-nav-item
        {% url 'profile' as profile %}
        {% if request.path == profile %}
            active
        {% endif %}
        " href="{{ profile }}">
        <svg class="icon">
            <use xlink:href="#user-icon"></use>
        </svg>
        <div>Профиль</div>
    </a>
{% else %}
    <a class="aside-nav-item" href="{% url 'registration' %}">
        <svg class="icon">
            <use xlink:href="#user-icon"></use>
        </svg>
        <div>Профиль</div>
    </a>
{% endif %}
<a class="aside-nav-item
    {% url 'news' as news %}
    {% if request.path == news %}
        active
    {% endif %}"
   href="{{ news }}">
    <svg class="icon">
        <use xlink:href="#news-icon"></use>
    </svg>
    <div>Новости</div>
</a>
{% if user.is_authenticated %}
    <a class="aside-nav-item
        {% url 'favorite' as favorite %}
        {% if request.path == favorite %}
            active
        {% endif %}"
       href="{{ favorite }}">
        <svg class="icon">
            <use xlink:href="#favorite-icon"></use>
        </svg>
        <div>Избранное</div>
    </a>
{% else %}
    <a class="aside-nav-item"
        href="{% url 'registration' %}">
        <svg class="icon">
            <use xlink:href="#favorite-icon"></use>
        </svg>
        <div>Избранное</div>
    </a>
{% endif %}
{% if user.is_authenticated %}
    <a class="aside-nav-item
        {% url 'special-offers' as special_offers %}
        {% if request.path == special_offers %}
            active
        {% endif %}"
       href="{{ special_offers }}">
        <svg class="icon">
            <use xlink:href="#hot-icon"></use>
        </svg>
        <div>Спец. предложения</div>
    </a>
{% else %}
    <a class="aside-nav-item" href="{% url 'registration' %}">
        <svg class="icon">
            <use xlink:href="#hot-icon"></use>
        </svg>
        <div>Спец. предложения</div>
    </a>
{% endif %}
{% if user.is_authenticated %}
    <a class="aside-nav-item
        {% url 'order-history' as order_history %}
        {% if request.path == order_history %}
            active
        {% endif %}"
       href="{{ order_history }}">
        <svg class="icon">
            <use xlink:href="#history-icon"></use>
        </svg>
        <div>История заказов</div>
    </a>
{% else %}
    <a class="aside-nav-item" href="{% url 'registration' %}">
        <svg class="icon">
            <use xlink:href="#history-icon"></use>
        </svg>
        <div>История заказов</div>
    </a>
{% endif %}
<a class="aside-nav-item
    {% url 'help' as help %}
    {% if request.path == help %}
        active
    {% endif %}"
   href="{{ help }}">
    <svg class="icon">
        <use xlink:href="#help-icon"></use>
    </svg>
    <div>Помощь</div>
</a>
<a class="aside-nav-item" href="{% url 'logout' %}">
    <svg class="icon">
        <use xlink:href="#log-in"></use>
    </svg>
    <div>Выход</div>
</a>
