<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новая новость</title>
</head>
<body>
<style>
    td {
        vertical-align: middle;
    }
</style>
<div class="email-block"
     style=" background-color: #ffffff; padding: 50px 0; font-family: 'Arial', sans-serif; vertical-align: center; position: relative; z-index: 100">
    <div class="email-block__inner">
            <tr>
                <h1 style="text-align: center">
                    {{ title }}
                </h1>
            </tr>
            <tr>
                <td>
                    {{ description|safe }}
                </td>
            </tr>
        </div>
</div>
</body>
</html>
