{% load static %}

<div class="profile-news-item">
    <a class="profile-news-item-link"
       href="{{ news_item.get_absolute_url }}"></a>
    {% if news_item.news_image %}
        <div class="profile-news-item-image">
            <img src="{{ news_item.news_image.url }}" alt=""/>
        </div>
    {% endif %}
    <div class="profile-news-item-info">
        <h2 class="profile-news-item-title">
            {{ news_item.title }}
        </h2>
        {% if news_item.date %}
            <div class="profile-news-item-date">
                {{ news_item.date }}
            </div>
        {% endif %}
        <div class="profile-news-item-desc">
            {{ news_item.description|truncatewords_html:30|safe }}
        </div>
    </div>
</div>
