<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заказ on-the-place</title>
</head>
<body>
<style>
    td {
        vertical-align: middle;
        width: 50%;
    }
</style>
<div class="email-block"
     style=" background-color: #ffffff; padding: 50px 0; font-family: 'Arial', sans-serif; vertical-align: center; position: relative; z-index: 100">
    <div class="email-block__inner" style="margin: 0 auto;  max-width: 375px;">
        <h1 style="margin: 40px 0 40px; text-align: center">
            Заказ on-the-place
        </h1>
        <table style="margin-bottom: 20px; width: 100%">
            <tr>
                <td style="text-align: right; vertical-align: bottom">Дата
                    заказа: {{ form.create_at }}</td>
            </tr>
        </table>
        <table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto; width: 100%">
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">Имя:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.name }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">Фамилия:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.last_name }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">Отчество:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.second_name }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Email:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">
                    {{ form.email }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">Адрес:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.address }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Коментарий:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.text }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Номер заказа:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.id }}</td>
            </tr>
            {% if form.type_payment == 'payment_on_delivery' %}
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Способ оплаты:
                    </td>
                    <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.get_type_payment_display }}</td>
                </tr>
            {% else %}
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Способ оплаты:
                    </td>
                    <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.get_type_payment_display }}</td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Статус оплаты:
                    </td>
                    {% if form.status_payment %}
                        <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">Оплачено</td>
                    {% else %}
                        <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">Неоплачено</td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if form.type_delivery == 'pickup' %}
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Способ доставки:
                    </td>
                    <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.get_type_delivery_display }}</td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Пункт выдачи заказов:
                    </td>
                    <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.address_delivery }}</td>
                </tr>
            {% else %}
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Способ доставки:
                    </td>
                    <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.get_type_delivery_display }}</td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Время доставки:
                    </td>
                    <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">С {{ form.time_from }} - до {{ form.time_to }}</td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px; border: 1px solid black">
                        Стоимость доставки:
                    </td>
                    <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.delivery_price }}</td>
                </tr>
            {% endif %}
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Общее колличество:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.quantity }}</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px; border: 1px solid black">
                    Итого:
                </td>
                <td style="padding: 10px 20px; border: 1px solid black; color: dimgrey; text-align: right;">{{ form.price_with_discount }}</td>
            </tr>
            {% for product in products %}
                <tr>
                    <td colspan=2" style="text-align: center; padding: 10px 0">
                        Товар № {{ forloop.counter }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Артикул товара:
                    </td>
                    <td style="padding: 10px 20px; border: dimgrey; text-align: right;">
                        {{ product.article }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Название товара:
                    </td>
                    <td style="padding: 10px 20px; border: dimgrey; text-align: right;">
                        {{ product.title }}
                    </td>
                </tr>
                 <tr>
                    <td style="padding: 10px 20px;">
                        Цвет товара:
                    </td>
                    <td style="padding: 10px 20px; color: dimgrey; text-align: right;">
                        {{ product.color }}
                    </td>
                </tr>
                 <tr>
                    <td style="padding: 10px 20px;">
                        Размер товара:
                    </td>
                    <td style="padding: 10px 20px; color: dimgrey; text-align: right;">
                        {{ product.size }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Колличество товара:
                    </td>
                    <td style="padding: 10px 20px; color: dimgrey; text-align: right;">
                        {{ product.quantity }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 20px;">
                        Цена товара:
                    </td>
                    <td style="padding: 10px 20px; color: dimgrey; text-align: right;">
                        {{ product.price_with_discount }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
