<h2 class="advantage-ttl">Наши преимущества</h2>
<div class="advantage-grid">
    {% for advantage in advantages %}
        <div class="advantage-item">
            <div class="advantage-item-ttl"><span>{{ advantage.number }}</span>{{ advantage.title }}
            </div>
            <p class="advantage-text advantage-itm-txt">{{ advantage.description }}</p>
        </div>
    {% endfor %}
</div>
