<form class="pagination" action="{% url 'news' %}">
    {% csrf_token %}
    <div class="pagination-subtitle">Страница</div>
    <input class="pagination-input" value="{{ page_obj.number }}" type="text"/>
    <div class="pagination-subtitle">из {{ page_obj.paginator.num_pages }}</div>
    <div class="pagination-arrows">
        <div class="pagination-arrow"
                {% if page_obj.has_previous %}
                    data-page="{{ page_obj.previous_page_number }}"
                {% else %}
                    data-page="{{ page_obj.number }}"
                {% endif %}>

            <svg class="icon">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>

        <div class="pagination-arrow"
                {% if page_obj.has_next %}
                    data-page="{{ page_obj.next_page_number }}"
                {% else %}
                    data-page="{{ page_obj.number }}"
                {% endif %}>
            <svg class="icon">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</form>
