{% if user.is_authenticated or user_cookie %}
    {% for product in get_products_cart %}
        <div class="cart-dropdown-item" data-product-id="{{ product.id }}">
            <a class="cart-dropdown-link"
               href="{{ product.product.get_absolute_url }}"></a>
            <div class="cart-dropdown-image">
                {% if product.product.is_new %}
                    <div class="cart-dropdown-new">NEW</div>
                {% endif %}
                {% for image in product.color.product_color_images.all %}
                    {% if forloop.first %}
                        <img src="{{ image.image.url }}"/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="cart-dropdown-info">
                <div class="cart-dropdown-title">{{ product.product.title }}</div>
                <div class="cart-dropdown-desc">
                    <div class="name">Размер:</div>
                    <div class="value">{{ product.size.size.eu_size }}</div>
                </div>
                <div class="cart-dropdown-desc">
                    <div class="name">Количество:</div>
                    <div class="value">{{ product.quantity }}</div>
                </div>
                <div class="cart-dropdown-desc">
                    <div class="name">Цвет:</div>
                    <div class="value">{{ product.color }}</div>
                </div>
            </div>
            <div class="cart-dropdown-price">
                {% if product.product.discount == 0 %}
                    <div class="cart-dropdown-price-new">{{ product.product.get_discount_sum }}
                        ₽
                    </div>
                {% else %}
                    <div class="cart-dropdown-price-new">{{ product.product.get_discount_sum }}
                        ₽
                    </div>
                    <div class="cart-dropdown-price-old">
                        {{ product.product.price }} ₽
                    </div>
                    <div class="cart-dropdown-price-discount">{{ product.product.discount }}
                        %
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    {% for product, color, size, count in get_products_cart %}
        <div class="cart-dropdown-item">
            <a class="cart-dropdown-link"
               href="{{ product.get_absolute_url }}"></a>
            <div class="cart-dropdown-image">
                {% if product.is_new %}
                    <div class="cart-dropdown-new">NEW</div>
                {% endif %}
                {% for image in color.product_color_images.all %}
                    {% if forloop.first %}
                        <img src="{{ image.image.url }}"/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="cart-dropdown-info">
                <div class="cart-dropdown-title">{{ product.title }}</div>
                <div class="cart-dropdown-desc">
                    <div class="name">Размер:</div>
                    <div class="value">{{ size.size.eu_size }}</div>
                </div>
                <div class="cart-dropdown-desc">
                    <div class="name">Количество:</div>
                    <div class="value">{{ count }}</div>
                </div>
                <div class="cart-dropdown-desc">
                    <div class="name">Цвет:</div>
                    <div class="value">{{ color.color.name }}</div>
                </div>
            </div>
            <div class="cart-dropdown-price">
                {% if product.discount == 0 %}
                    <div class="cart-dropdown-price-new">{{ product.get_discount_sum }}
                        ₽
                    </div>
                {% else %}
                    <div class="cart-dropdown-price-new">{{ product.get_discount_sum }}
                        ₽
                    </div>
                    <div class="cart-dropdown-price-old">
                        {{ product.price }} ₽
                    </div>
                    <div class="cart-dropdown-price-discount">{{ product.discount }}
                        %
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
