<div class="cart-list" data-url="{% url 'change-count' %}"
     data-delete-url="{% url 'delete-product' %}">
    {% if user.is_authenticated %}
        {% for product in product_list %}
            <div class="cart-item" data-color-id="{{ product.color.id }}" data-product-card-id="{{ product.id }}" data-size-id="{{ product.size.id }}" data-product-id="{{ product.product.id }}">
                <div class="cart-item-image">
                    {% if product.product.is_new %}
                        <div class="cart-item-new">NEW</div>
                    {% endif %}
                    <div class="cart-item-favorite add_to_favorite
                        {% for fav_products in product.product.favorite_products.all %}
                            {% if product.product in fav_products.product.all %}
                                active
                            {% endif %}
                        {% endfor %}"
                         data-id="{{ product.product.id }}"
                         data-url="{% url 'add-favorite' %}">
                        <svg class="icon">
                            <use xlink:href="#ant-design_heart-filled"></use>
                        </svg>
                    </div>
                    {% for image in product.color.product_color_images.all %}
                        {% if forloop.first %}
                            <img src="{{ image.image.url }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="cart-item-info">
                    <div class="cart-item-name">{{ product.product.title }}</div>
                    <div class="cart-item-desc">
                        {{ product.product.description|truncatechars:100 }}
                    </div>
                    <div class="cart-item-article">
                        <span>Артикул:</span>{{ product.color.article }}
                    </div>
                    <div class="cart-item-characteristic">
                        <div class="cart-item-characteristic-item">
                            Цвет:<span>{{ product.color }}</span>
                        </div>
                        <div class="cart-item-characteristic-item">
                            Размер:<span>{{ product.size.size.eu_size }}</span>
                        </div>
                    </div>
                </div>
                <div class="cart-count">
                    <div class="cart-count-remove">
                        <svg class="icon">
                            <use xlink:href="#trash"></use>
                        </svg>
                    </div>
                    <div class="cart-count-minus minus-plus__but"></div>
                    <input class="cart-count-input" readonly type="text"
                           value="{{ product.quantity }}"/>
                    <div class="cart-count-plus minus-plus__but"></div>
                    <div class="cart-count-available">
                        Доступно: <span>{{ product.size.quantity }}</span>
                    </div>
                </div>
                <div class="cart-price">
                    {% if product.product.discount == 0 %}
                        <div class="cart-new-price">{{ product.product.get_discount_sum }}
                            ₽
                        </div>
                    {% else %}
                        <div class="cart-new-price">{{ product.product.get_discount_sum }} ₽
                        </div>
                        <div class="cart-old-price">{{ product.product.price }}
                            ₽
                        </div>
                        <div class="cart-discount">{{ product.product.discount }}
                            %
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for product, color, size, count in product_list %}
            <div class="cart-item" data-product-id="{{ product.id }}" data-product-card-id="{{ product.id }}" data-size-id="{{ size.id }}" data-color-id="{{ color.id }}">
                <div class="cart-item-image">
                    {% if product.is_new %}
                        <div class="cart-item-new">NEW</div>
                    {% endif %}
                    {% for image in color.product_color_images.all %}
                        {% if forloop.first %}
                            <img src="{{ image.image.url }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="cart-item-info">
                    <div class="cart-item-name">{{ product.title }}</div>
                    <div class="cart-item-desc">
                        {{ product.description|truncatechars:100 }}
                    </div>
                    <div class="cart-item-article">
                        <span>Артикул:</span>{{ color.article }}
                    </div>
                    <div class="cart-item-characteristic">
                        <div class="cart-item-characteristic-item">
                            Цвет:<span>{{ color.color.name }}</span>
                        </div>
                        <div class="cart-item-characteristic-item">
                            Размер:<span>{{ size.size.eu_size }}</span>
                        </div>
                    </div>
                </div>
                <div class="cart-count">
                    <div class="cart-count-remove">
                        <svg class="icon">
                            <use xlink:href="#trash"></use>
                        </svg>
                    </div>
                    <div class="cart-count-minus minus-plus__but"></div>
                    <input class="cart-count-input" readonly type="text"
                           value="{{ count }}"/>
                    <div class="cart-count-plus minus-plus__but"></div>
                    <div class="cart-count-available">
                        Доступно: <span>{{ size.quantity }}</span>
                    </div>
                </div>
                <div class="cart-price">
                    {% if product.discount == 0 %}
                        <div class="cart-new-price">{{ product.get_discount_sum }} ₽
                        </div>
                    {% else %}
                        <div class="cart-new-price">{{ product.get_discount_sum }} ₽
                        </div>
                        <div class="cart-old-price">{{ product.price }}
                            ₽
                        </div>
                        <div class="cart-discount">{{ product.discount }}
                            %
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
