{% for product, color, size, count in get_products_cart %}
    <div class="cart-dropdown-item">
        <a class="cart-dropdown-link"
           href="{{ product.get_absolute_url }}"></a>
        <div class="cart-dropdown-image">
            {% if product.is_new %}
                <div class="cart-dropdown-new">NEW</div>
            {% endif %}
            {% for image in color.product_color_images.all %}
                {% if forloop.first %}
                    <img src="{{ image.image.url }}"/>
                {% endif %}
            {% endfor %}
        </div>
        <div class="cart-dropdown-info">
            <div class="cart-dropdown-title">{{ product.title }}</div>
            <div class="cart-dropdown-desc">
                <div class="name">Размер:</div>
                <div class="value">{{ size.size.eu_size }}</div>
            </div>
            <div class="cart-dropdown-desc">
                <div class="name">Количество:</div>
                <div class="value">{{ count }}</div>
            </div>
            <div class="cart-dropdown-desc">
                <div class="name">Цвет:</div>
                <div class="value">{{ color.color.name }}</div>
            </div>
        </div>
        <div class="cart-dropdown-price">
            {% if product.discount == 0 %}
                <div class="cart-dropdown-price-new">{{ product.price }}
                    ₽
                </div>
            {% else %}
                <div class="cart-dropdown-price-new">{{ product.price }}
                    ₽
                </div>
                <div class="cart-dropdown-price-old">
                    {{ product.get_discount_sum }} ₽
                </div>
                <div class="cart-dropdown-price-discount">{{ product.discount }}
                    %
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
