{% load static %}


{% for product in products %}
    <div class="product-item">
        <a class="product-item-link" href="{{ product.get_absolute_url }}"></a>
        <div class="product-item-image">
            {% if product.is_new %}
                <div class="product-item-new">NEW</div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="product-item-favorite add_to_favorite
                    {% if product in user.favorite_user.product.all %}
                        active
                    {% endif %}"
                    data-id="{{ product.id }}"
                    data-url="{% url 'add-favorite' %}">
                    <svg class="icon">
                        <use xlink:href="#ant-design_heart-filled"></use>
                    </svg>
                </div>
            {% endif %}
            {% for color in product.product_colors.all %}
                {% if forloop.first %}
                    {% for image in color.product_color_images.all %}
                        {% if forloop.first %}
                            <img class="img-preview"
                                 src="{{ image.image.url }}"
                                 alt="{{ product.title }}"/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <img class="img-placeholder"
                 src="{% static 'img/png/150x150.png' %}"
                 alt="default image"/>
        </div>
        <div class="product-item-info">
            <h2 class="product-item-title">{{ product.title }}</h2>
            <p class="product-item-desc" title="">
                {{ product.description|truncatechars:100 }}
            </p>
            {% if product.discount == 0 %}
            <div class="product-item-price">
                <div class="product-item-price-new">
                    {{ product.price }} ₽
                </div>
            </div>
        {% else %}
            <div class="product-item-price">
                <div class="product-item-price-new">
                    {{ product.get_discount_sum }} ₽
                </div>
                <span></span>
                <div class="product-item-price-old">
                    {{ product.price }} ₽
                </div>
                <span></span>
                <div class="product-item-discount">
                    {{ product.discount }} %
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endfor %}
