<div class="profile-news-grid">
    <div class="profile-news-left">
        {% for news_item in left_lst %}
            {% include 'components/news-card-big.html' with news_item=news_item %}
        {% endfor %}
    </div>
    <div class="profile-news-right">
        <div class="profile-news-grid-small">
            {% for news_item in right_lst %}
                {% include 'components/news-card-small.html' with news_item=news_item %}
            {% endfor %}
        </div>
    </div>
</div>
