{% if comment %}
        <div class="product-reviews-item">
            <div class="product-reviews-item-name">
                {{ comment.user.first_name }}
            </div>
            <div class="product-reviews-item-rating">
                <div class="product-reviews-item-rating-placeholder"
                    style="width: calc({{ comment.rating }}/ 5 * 100%)"></div>
            </div>
            <div class="product-reviews-item-desc">
                {{ comment.description }}
            </div>
            <div class="product-reviews-item-actions">
                <span>Оцените отзыв</span>

                    <div class="product-like-action like-dislike__ajax"
                        data-id="1"
                        data-url="{% url 'like' comment.pk %}">
                        <div class="product-like-action-count
                                {% if request.user in comment.likes.all %}
                                    active
                                {% endif %}">{{ comment.likes.count }}
                        </div>
                    </div>

                    <div class="product-dislike-action like-dislike__ajax"
                        data-id="0"
                        data-url="{% url 'dislike' comment.pk %}">
                        <div class="product-like-action-count
                                {% if request.user in comment.dislikes.all %}
                                    active
                                {% endif %}">{{ comment.dislikes.count }}
                        </div>
                    </div>
            </div>
        </div>
{% endif %}
