{% if page_obj.has_next %}
    <div class="show-more-review">
        <div class="show-more-review-btn"
            data-page="{{ page_obj.next_page_number }}"
            data-product-id="{{ product }}"
            data-url="{% url 'comments' %}">
            Еще отзывы
        </div>
    </div>
{% endif %}
