{% load static %}

<div class="product-detail-images owl-carousel">
    {% for image in images %}
        <div class="product-detail-image">
            <img class="product-detail-image-ghost"
                 src="{{ image.image.url }}"/>
        </div>
    {% endfor %}
</div>
