{% csrf_token %}
<label class="filter-item" data-name="sort_filter">
    <select class="product-sortable form-select filter-checkbox-but">
        <option value="1" disabled selected>Сортировка:</option>
        <option value="populate">Популярности</option>
        <option value="price">Цене</option>
        <option value="new">Новинкам</option>
        <option value="discount">Скидкам</option>
        <option value="recommended">Рекомендованные</option>
    </select>
</label>

