{% load static %}

{% if table_size %}
    <div class="modal modal-table">
        <div class="modal-content">
            <div class="close-table-size">Закрыть</div>
            <div class="title">{{ table_size.title }}</div>
            <div class="table-wrapper">
                <div class="table">
                    {% for row in table_size.sizes_name.all %}
                        <div class="row">
                        <div class="column main-column">{{ row.size_name }}</div>
                        {% for column in row.sizes.all %}
                            <div class="column">{{ column.size }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a class="header-logo" href="/">
                <img class="header-logo-img"
                     src="{% static 'img/svg/header-logo.svg' %}" alt=""/>
            </a>
        </div>
    </div>
{% endif %}
